[2022-02-09 16:24] mvdbeek commented on #13331
But to chain the export and import you need to construct the right url, because you only get the jeha_id back. I suppose this has always worked in bioblend because we always targeted the API endpoint (which isn't new). The change is that the UI tells you to get the archive via the api now, as opposed to the controller.

[2022-02-09 16:51] gallardoalba opened #13340 "Run workflow: simple inputs used for workflow logic not expanded"
**Describe the bug**
When multiple simple inputs are created, some of them are not expanded by default. This problem was reported by @mpalmada.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 (usegalaxy.eu)

**To Reproduce**
Steps to reproduce the behavior:
1. Import this workflow: https://usegalaxy.eu/u/palmadamarc/w/orgone-assembly-workflow
2. Run it.

**Exp

[2022-02-09 16:56] mpalmada commented on #13340
I have seen that some workflow units are expanded and some others don't without any clear logic behind. Moreover, I have not found a way to leave expanded or collapsed the different steps in the "setting the run" window.

[2022-02-09 17:02] mpalmada opened #13341 "Order of Jobs in Workflow "Setting the run" window"
Hi,

**Description of the bug**
I am not sure if it is a bug but the order of the different jobs within a window is not in the order I put them in the workflow (from left to right).

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 ([usegalaxy.eu](http://usegalaxy.eu/))

**To Reproduce**
Steps to reproduce the behavior:

1. Import this history: https://usegalaxy

[2022-02-09 17:03] mpalmada commented on #13341
@gallardoalba has checked it aswell

[2022-02-09 17:19] ksuderman commented on #13331
Yes, we have moved to S3

We do, but as Marius mentions, the method to derived the URL to use for import changed.  I wasn't aware the archives expired until this issue (it does explain some failures I was seeing), but that is likely a topic for another discussion/issue.

[2022-02-09 17:42] Delphine-L opened #13342 "View in IGV doesn't work in 22.01"
**Describe the bug**
The link "display with IGV local" returns a "This site can’t be reached localhost refused to connect." error. I have tried with Igv opened and closed, same thing.
The link "display with IGV Human hg38" download a `.jlnp` file in safari and do nothing on chrome

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (22.01) on main

**To Reproduce**
Step

[2022-02-09 18:04] mvdbeek commented on #13342
Works fine for me with your history, this is probably an issue with your local IGV.
The embedded IGV thing hasn't worked in years, we need to remove that.
<img width="945" alt="Screenshot 2022-02-09 at 19 03 24" src="https://user-images.githubusercontent.com/6804901/153262310-c7610999-7d97-471a-8a31-37c7eaacd0d6.png">

[2022-02-09 18:06] mvdbeek commented on #13342
Also, your IGV has to be open, and you need to enable the port
<img width="891" alt="Screenshot 2022-02-09 at 19 06 08" src="https://user-images.githubusercontent.com/6804901/153262661-eff1176f-64a3-4f38-b7fa-1bbcd8db466e.png">

[2022-02-09 18:20] bernt-matthias commented on #13298
@ajs6f can you test this: https://github.com/galaxyproject/galaxy/pull/13343

[2022-02-09 18:21] ajs6f commented on #13298
Yes, I will be very happy to, once I get these segfaults squared away. Thank you for your attention to this issue!

[2022-02-09 18:26] bernt-matthias commented on #13298
Are these segfaults of the python running Galaxy, or segfaults happening in a job?

If the later, you may use another tool that runs stable.

[2022-02-09 18:32] ajs6f commented on #13298
In a job, and we cannot run another tool stably because we cannot import any data stably. Every once in a while there is a seemingly random success, but trying to use tools on a successful import generally segfaults out. We haven't gotten that far, so to speak! :)

[2022-02-09 19:23] dannon commented on #13006
Reopening because we need to take another look at this with tools with literal spaces in the tool_id, like "Show beginning1", in mind.

[2022-02-09 20:36] Delphine-L commented on #13342
Thanks, I didn't know about the port enabling, sorry.

[2022-02-09 20:53] mvdbeek commented on #13342
No worries, and i guess we want to remove the jnlp thing as well.

[2022-02-10 12:04] chasegomez opened #13346 "RE:Extract Genomic DNA - cannot find tool with id"
When I select the Extract Genomic DNA tool from the tool shed, I receive the attached error.
![tool_lookup_error](https://user-images.githubusercontent.com/75462184/153404868-a7584b1e-cee7-4bff-8e68-b99932667d03.PNG)

[2022-02-10 12:16] dannon commented on #13346
xref https://github.com/galaxyproject/galaxy/issues/13006; I'll take care of this one.

[2022-02-10 12:17] mvdbeek commented on #13006
Since we're tracking that in https://github.com/galaxyproject/galaxy/issues/13346 now I'll close this one.

[2022-02-10 12:17] #13006 closed

[2022-02-10 15:04] mvdbeek opened #13349 "Vueify the dataset preview mako"
We should eliminate https://github.com/galaxyproject/galaxy/blob/dev/templates/webapps/galaxy/dataset/display.mako and replace that with a Vue component. The current mako targets https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/webapps/galaxy/controllers/dataset.py#L196, which may or may not return html via the datatypes.

[2022-02-10 15:08] afgane opened #13350 "History search tips overlay unintuitive to clear"
**Describe the bug**
Clicking on the `?` icon in the history search bar opens a help box but the only way to close it is to click on the same `?` icon again.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01 rc1
usegalaxy.org

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the `?` icon in history search bar
2. Click anywhere else on the page, or h

[2022-02-10 15:09] mvdbeek opened #13351 "Suggest visualizations from center-iframe / make visualizations first class"
Would need to build on https://github.com/galaxyproject/galaxy/issues/13349.
The basic idea is that you'd click on the eye icon, and the datatype-defined view is rendered, but you'd also see a suggestion of possible visualizations.

For some datatypes that don't have a meaningful datatype preview defined (bam, notebooks, advanced imaging datatypes) a visualization (if available) should be loaded i

[2022-02-10 20:11] afgane opened #13353 "Improve workflow parameter icons"
The (2) workflow parameter icons are different from one another and seen side-by-side do not look like two separate buttons.
![image](https://user-images.githubusercontent.com/338642/153487279-e0c7587a-2383-4d31-bcc5-f0db9c7a187f.png)
At first, I read the left-most icon as "collapse the section", not enable or disable the input. The right icon was just an icon, like a bullet point, not a button. I

[2022-02-10 20:21] afgane opened #13354 "Focus cursor in search box after clearing search term"
This would be a usability issue regarding tool search. After one clears the current search term by clicking the `X`, it would be nice to focus the cursor in the text box automatically so typing can start right away without having to click the search box first.

https://user-images.githubusercontent.com/338642/153490029-54f31b4d-2416-42bd-b3c7-d70bf7fe49db.mov

[2022-02-11 10:33] davelopez commented on #13350
Hi, this popup behavior was intentionally introduced as a *fix* for another issue, see details on https://github.com/galaxyproject/galaxy/pull/13058#issuecomment-993310069

I anticipated that this may be confusing for some users, but I couldn't find a better solution with my limited knowledge, and I consider the other issue even more annoying or frustrating since you cannot click the link inside t

[2022-02-11 10:47] davelopez commented on #13350
I don't know, maybe other fellow devs know a really quick fix for both issues? otherwise, it may not be worth the time :shrug:

[2022-02-11 18:51] mvdbeek commented on #13346
Thanks for the report @chasegomez, it is fixed and deployed to usegalaxy.org now.

[2022-02-11 18:51] #13346 closed

[2022-02-11 18:55] mvdbeek commented on #13331
The history export link doesn't require authentication anymore, https://github.com/galaxyproject/galaxy/pull/13330 is live on usegalaxy.org. I don't think we need to maintain non-API routes (at least we haven't in the past), but I'd suggest we note this in the release notes. How does that sound @afgane @ksuderman ?

[2022-02-11 18:56] mvdbeek commented on #13306
Fixed in https://github.com/galaxyproject/galaxy/pull/13317

[2022-02-11 18:56] #13306 closed

[2022-02-11 18:59] mvdbeek commented on #13220
https://github.com/galaxyproject/galaxy/pull/13285 improves this significantly by preventing the submission if no value is set. However a use can click into the text field and not write anything, so there we submit `""` as the value (as opposed to `null` when the value isn't touched). We should probably allow specifying regexes or similar for workflow parameter validation, but that's a bigger effo

[2022-02-11 19:02] mvdbeek opened #13360 "Enhance workflow parameter specification"
Workflow authors should be able to specify the minimum length of a text workflow parameter, and perhaps a regex when defining a textual workflow parameter. xref: https://github.com/galaxyproject/galaxy/issues/13220#issuecomment-1036521930

[2022-02-11 19:53] ksuderman commented on #13331
Thanks for #13330 I will test it ASAP.

And it was when the "stable URL" stopped working that we raised an issue.  However, the URL stopped working for reasons other than the format change.

I am generally -1 on breaking things (ie removing routes that were part of a public API), but given the archived histories can disappear without warning that is likely a moot point.

[2022-02-11 19:56] Delphine-L opened #13362 "Workflow : Renaming datasets with input variable work with some tools but not others:"
**Describe the bug**
I am trying to rename outputs of a workflow by using input variables (see screenshots). I rename the output of `gfa to fasta` to "Hifiasm Primary Assembly" (A). Then in `Quast` and `Busco`, among others, I rename the datasets using the variable `#{in.inputs}` and `#{input}` respectively (screenshots B and C).  But when I run the workflow, it works for some like `Busco` (D)  bu

[2022-02-11 20:04] dannon commented on #13331
In general practice, we have not considered the internal web controllers to be a part of the public API, only the <instance>/api/* endpoints.

[2022-02-11 20:22] ksuderman commented on #13331
We can discuss what makes up the public API at the next lab meeting, but I would put forth the proposition that when I click "Export History" and I'm told the URL is https://usegalaxy.eu/history/export_archive?id=0131c92e50486c00&jeha_id=48fdc776edc0b470 then that URL is part of a "public API".  But as I said, moot point, since we break these URLs anyway.

[2022-02-14 09:51] mvdbeek opened #13366 "Beta history blocks on loading all histories"
On my measly test instance with a a few hundred history this blocks for 5 seconds, and it's much worse on .org and .eu

This happens the userStore https://github.com/galaxyproject/galaxy/blob/dev/client/src/store/userStore/userStore.js#L45, which waits for the two promises (current history, and **all** histories, https://github.com/mvdbeek/galaxy/blob/dev/client/src/components/History/model/histor

[2022-02-14 10:02] mvdbeek opened #13368 "Beta history current history id not synced up with legacy components"
Go to Users -> Histories, switch to another history and see that you don't see the new history in the history panel

[2022-02-14 10:04] mvdbeek commented on #13368
(Where the options are rewriting all legacy components, or figuring out how to sync the current history id)

[2022-02-14 10:44] mvdbeek opened #13369 "Beta history: contents/before endpoint needs to be (a lot) faster"
Scrolling past the 50 loaded items in a history results in a "stutter" where results are fetched from the server. This needs to be somewhere in the 50-100 ms range (not just for UX, this also affects server and database load).

The beta history currently requests the detailed view, which can be cleaned up further or be split, but these are the approximate timings on my laptop on top of https://git

[2022-02-14 11:11] mvdbeek commented on #13369
Since this has bitten me before, there's definitely some caching going on when hitting the same API endpoint twice, so it is considerable faster there. But to be fair I think we have to work with the timing from the first request (which I've done here).

[2022-02-14 15:37] mpalmada commented on #13340
I am wondering if this could be tricked to determine manually, just if you want, if you want to have the steps expanded or collapsed. It would be cool!

[2022-02-14 16:35] mvdbeek opened #13372 "Workflow parameters in text fields are duplicated in run form"
**Describe the bug**
![image](https://user-images.githubusercontent.com/6804901/153905644-09109f28-183b-4dfb-b127-02284db8f28a.png)
for https://usegalaxy.org/u/delphinel/w/copy-of-bionano-scaffolding-export-imported-from-uploaded-file
**Galaxy Version and/or server at which you observed the bug**
22.01

This works if you only use the text parameter via a regular text parameter, as the best practic

[2022-02-14 19:53] guerler commented on #13372
If I understand this correctly that workflow parameters cannot be applied to non-tool steps. For tool steps they are parsed as `wpData` and processed with `replaceParams` handling within the tool step component. In order for this to work for non-tool steps a probably simple replacement function has to be added to the non-tool step wrapper. See: https://github.com/galaxyproject/galaxy/blob/dev/clie

[2022-02-14 21:39] gallardoalba opened #13374 "Tool differential behavior between instances"
**Describe the bug**
It has been reported in Stringtie, but could affect other tools. Specifically, the problem is that a parameter is considered optional in *EU, but not in *ORG. I can confirm that the problem is not related to the tool version.

Code line: https://github.com/galaxyproject/tools-iuc/blob/master/tools/stringtie/stringtie.xml#L218

**Galaxy Version and/or server at which you observ

[2022-02-15 04:05] neoformit commented on #12871
https://github.com/galaxyproject/galaxy/pull/13375

[2022-02-15 09:16] mvdbeek commented on #13374
The parameter is not optional in the xml, why do you think it should be optional in Galaxy @gallardoalba ?

[2022-02-15 09:19] gallardoalba commented on #13374
The problem is that in usegalaxy.eu is not required to specify a value, but it is required in usegalaxy.org. I cannot understand the reason.

[2022-02-15 09:44] mvdbeek commented on #13369
I've played a bit with optimizing the contents/before endpoint in https://github.com/galaxyproject/galaxy/compare/dev...mvdbeek:optimize_views?expand=1. I'm gonna let this sit there while we figure out the endpoint to use.
One lesson from this is that we should create some representative benchmarks for the API routes we're thinking of hitting.
Some naive benchmarking showed this (before):
[code]
a

[2022-02-15 09:55] mvdbeek commented on #12620
I'll push this to the next release, but if we have a fix we can apply it as far back as necessary

[2022-02-15 09:56] mvdbeek commented on #11066
Pushing this, but this one is a high-priority fix

[2022-02-15 10:14] mvdbeek commented on #13374
It is a bug on 21.09 and earlier that we don't discriminate `null` from `""`. We do this now (but of course you can click into the text parameter and not write anything).

[2022-02-15 10:14] #13374 closed

[2022-02-15 10:34] davelopez commented on #13369
Wow! that's almost 2x faster!
I wonder how much of that time is eating up the response validation, I bet for these kinds of big responses is quite a lot and we probably shouldn't validate it at all, and just make sure we build it correctly. In the past, It has helped me identify when there was a mismatch between the response model and the actual serialized data but this is clearly something that w

[2022-02-15 10:48] mvdbeek commented on #13369
Yep, I tried both of these, and it does give a small speedup (~7ms IIRC). I think eventually we should do validation in our tests, but not in production.

If I can trust `EXPLAIN ANALYZE` our queries should be pretty fast, so I think we're also hitting some of sqlalchemy's ORM and our custom serializer overhead at this point. Once we really nail the endpoint parameters we need we could just return

[2022-02-15 11:23] #13015 closed

[2022-02-15 12:45] #13079 closed

[2022-02-15 13:44] dannon commented on #11919
Deprecation notice added in #13377

[2022-02-15 13:44] #11919 closed

[2022-02-15 13:48] mvdbeek commented on #12067
In the end we're using the highlight label for things that should be highlighted in the release notes, and these are also getting tested.

[2022-02-15 13:48] #12067 closed

[2022-02-15 14:16] gmauro opened #13378 "Question mark link in the tools requirements section is broken"
**Describe the bug**
the ? icon in the "Requirements" section at the end of the tool's panel, it's linked to the non-existent URL https://galaxyproject.org/tools/requirements/

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01 rc1
usegalaxy.org

Galaxy Version: 21.09 1.dev0
usegalaxy.eu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any tool's page y

[2022-02-15 14:20] nsoranzo commented on #12067
We also have the [config/breaking](https://github.com/galaxyproject/galaxy/issues?q=is%3Aopen+label%3Aconfig%2Fbreaking+sort%3Aupdated-desc) label for things that need to be mentioned in the release notes because they potentially require a change in configuration.

I've dropped them.

[2022-02-15 14:52] mvdbeek commented on #12067
Thank you!

[2022-02-15 15:55] afgane opened #13380 "Tooltip not clearing for dataset tags"
**Describe the bug**
Unlike other tooltips for dataset actions, the tooltip for tags stays visible after moving the cursor off the icon.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01
usegalaxy.org

**To Reproduce**
Steps to reproduce the behavior:
1. Expand a dataset and hover over the tags button

https://user-images.githubusercontent.com/338642/154098780-5

[2022-02-15 16:36] astrovsky01 opened #13382 "Rule-based uploader continuity after clicking away"
When using the uploader, clicking outside the modal will close it. With file upload, this is fine, but with rule-based uploading, this causes all progress made and rules set to be lost. Clicking away and reopening this will return the user to the pasted data, and require the user to 'build' and set the rules again. This should only close the modal, and not undo the rules, which should be cancelled

[2022-02-15 16:38] mvdbeek opened #13383 "Create a system check command or similar"
We do have minimum python and postgres version requirements, and once a deployer hits the limit we don't fail nicely (the migration fails in the postgres case, for python we do some checks in common_startup.sh IIRC).
We should have a little system check command that reads out minimum requirements and compares it to what is currently configured. This could both be a standalone command and something

[2022-02-15 16:39] mvdbeek commented on #13383
@ic4f is that something you'd be interested in taking on ?

[2022-02-15 16:41] dannon commented on #13382
If keeping the state of that modal persistent is a significantly more involved issue, maybe a quick workaround would be to catch the exit and say "Are you sure you want to discard this plan" or something.

[2022-02-15 16:43] astrovsky01 commented on #13382
I'd agree -- as long as there is some way to prevent the unintentional deletion from happening, I'd think it'd be fine

[2022-02-15 16:46] guerler opened #13384 "Issues with the parsing of Visualization XMLs"
**Describe the bug**
When attempting to visualize datasets with charts, the XML is not parsed correctly anymore.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01 & 22.05

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Visualization'
2. Click on any of the Bar Diagrams
3. Expand the menu with visualization options and parameters
4. See error

**Expe

[2022-02-15 17:14] dannon commented on #13384
Might be related: https://github.com/galaxyproject/galaxy/pull/13373/files

[2022-02-15 19:28] nsoranzo commented on #13383
The Python version can already be checked with `scripts/check_python.py`, which is what `./scripts/common_startup.sh` does.

[2022-02-16 04:58] quacksawbones opened #13391 "Exporting histories with "include_hidden=True" has data files missing"
Hi Folks,

Found a weird bug while working on a script to download/migrate histories from one Galaxy instance to another. When `include_hidden=True` is passed into the `export_history()`  function, Galaxy will only include the hidden data files in the datasets folder. If there are no hidden data files in the history, no data files are included in the downloaded history. We wanted to migrate both d

[2022-02-16 08:03] FredericBGA opened #13386 "Exporting histories with "include_hidden=False" has hidden files included"
Maybe related with the same Galaxy behavior: galaxyproject/galaxy#13391

Bioblend Version: 0.14.0
Galaxy Version: 20.05
Python Version: 3.5.2

To replicate (assuming a working GalaxyInstance object "gi" and an history id "one_history["id"]"):

The tarball contains hidden files as well. And `gi.histories.import_history(url=url_of_archive)` will create an history with hidden files.

[2022-02-16 14:06] dannon commented on #12458
Closing this as resolved since we've ditched that virtual scroller.  Thanks for all the diagnosis and work here @assuntad23.

[2022-02-16 14:06] #12458 closed

[2022-02-16 14:11] #12487 closed

[2022-02-16 14:12] dannon commented on #12490
Closing this as we're not using the virtual scroller anymore.

[2022-02-16 14:12] #12490 closed

[2022-02-16 14:36] mvdbeek commented on #13331
Thanks @afgane & @ksuderman. Closing this with https://github.com/galaxyproject/galaxy/pull/13389 and https://github.com/galaxyproject/galaxy/pull/13330

[2022-02-16 14:36] #13331 closed

[2022-02-16 15:26] ic4f commented on #11066
I'll get to it this ASAP.

[2022-02-16 15:35] FredericBGA commented on #13386
Mine gives up!
It works, I've tested on my dev server, thank you for this quick action.

[2022-02-16 16:20] mvdbeek opened #13393 "Allow setting input step order in workflows"
We currently use the coordinates of each workflow step to set the step order (https://github.com/galaxyproject/galaxy/blob/9143dd7ca46d150ebfb26febbe187979f682da51/lib/galaxy/workflow/steps.py#L36, thanks for digging that up @simonbray). We should be able to specify the order of input steps (as they don't depend on anything) explicitly, so you can create an input section that makes sense, and not

[2022-02-16 17:11] dannon commented on #518
xref #13113

[2022-02-16 19:12] mvdbeek commented on #13277
Should be fixed in https://github.com/galaxyproject/galaxy/pull/13373, thanks for the followup @bernt-matthias!

[2022-02-16 19:12] #13277 closed

[2022-02-16 19:13] #13384 closed

[2022-02-16 19:36] astrovsky01 opened #13395 "History advance searching with multiple parameters failing when multiple terms use quotes"
On both Org and EU, searching the history using advanced searching tags functions with a single term, but using multiple has an issue using quotation marks. The search functions ok if neither use quotation marks for the query, or if neither do, but not if one has the quotes and one does not. It does not matter if either or both query is multiple words, using multiple queries with quotes results in

[2022-02-16 19:42] dannon commented on #13395
Looks like we need to tokenize quoted content correctly when paired with advanced search parameters.

[2022-02-16 23:00] nsoranzo commented on #13298
Fixed by #13343.

[2022-02-16 23:00] #13298 closed

[2022-02-17 04:40] #12022 closed

[2022-02-17 08:21] hexylena commented on #518
Updated the dashboard to `fixes` this issue, since, yeah, I don't want to care as an admin, I'd rather my users manage it themselves. Super exciting this is finally happening

[2022-02-17 08:33] #13386 closed

[2022-02-17 14:39] mvdbeek opened #13399 "Tighten up deleted dataset checks around executing jobs"
We always have a bunch of errors like
[code]
in the logs. I assume this happens when jobs are queued for a while, but the source gets deleted (delete PJA, I'm looking at you ;)).

[2022-02-17 19:03] ic4f opened #13400 "Reports: css not loaded"
**Describe the bug**
The reports app comes up with no css. All the links to `static` locations result in 404 errors. (although the favicon is displayed, unless it's cached by the browser?)

![bad](https://user-images.githubusercontent.com/6132258/154548971-c7023ac4-5d13-46c8-85dc-045412165d09.png)

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.05/dev0
Commit: 88

[2022-02-17 19:07] blankenberg opened #13401 "Blue warning box on Annotation when editing attributes"
Seen on 22.01 rc1 locally and usegalaxy.org.

When you click edit attributes (pencil icon) for a dataset that is not annotated, a blue warning box surrounds Annotation, and makes it look like annotations are a required field.

![image](https://user-images.githubusercontent.com/1231190/154552791-93dc149e-3089-4978-b749-973ef8025800.png)

[2022-02-17 21:43] ajs6f opened #13404 "Frequent segfaults between Galaxy and Univa cluster"
We are trying to pilot out an instance of Galaxy connected to our (long-running, extremely stable and well-managed) Univa cluster. We are seeing near-constant segfaults out of jobs submitted to the cluster. We are unable to try almost anything except uploads, but when (rarely) an upload succeeds, trying to do anything with that data results in a segfault.

A couple of things we've checked:
1. We a

[2022-02-17 21:45] ajs6f commented on #13404
[code]

[2022-02-18 00:01] jennaj opened #13405 "Upload > Rule-based tab -- "Reset" button is greyed out any prior data/settings remain"
**Describe the bug**
Upload > Rule-based > "Reset" button remains greyed out after a prior load/submission after opening the Upload tool again. No way to clear prior with a single click. The "Reset" button on the "Regular" tab doesn't clear the "Rule-based" tab. Can reproduce at ORG(22.01 pre-release) + EU(21.09) + GCP(22.01 pre-release) -- must have been none functional at least since 21.09.

**G

[2022-02-18 00:29] jennaj commented on #8013
Related: Changing datatype of collections: https://github.com/galaxyproject/galaxy/issues/12725

[2022-02-18 12:43] bernt-matthias commented on #11563
If I'm not mistaken then this is fixed in https://github.com/galaxyproject/galaxy/pull/13032

[2022-02-18 12:43] #11563 closed

[2022-02-18 14:23] davelopez opened #13409 "UnhandledPromiseRejectionWarning in client tests"
**Describe the bug**
The client jest tests display some warnings that may become real errors soon as the DEP0018 deprecation warning states:
[code]
This currently only affects testing, not the app itself.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: `dev`
Commit: f13faf8bba176ec1ec28148bdb2103c6a658b31d

**To Reproduce**
Steps to reproduce the behavior:
1. Run `y

[2022-02-18 21:01] IbrahimTanyalcin opened #13414 "objectstore, _call_method failed: get_filename on Dataset error on clicking download button"
**Describe the bug**
Clicking on download icon on a successfully completed job returns:
`objectstore, _call_method failed: get_filename on Dataset(id=XXX), kwargs: {'dir_only': True, 'extra_dir': 'dataset_XXX_files'}` where `XXX` corresponds to a dataset id.

**Galaxy version 18.09**

**To Reproduce**
Steps to reproduce the behavior:
1. Run the tool
2. Wait for job to complete, the correct file si

[2022-02-18 22:14] nakucher opened #13415 "View details page does not update when job completes"
**Describe the bug**
If you start a job and click the info icon to View details before the job completes, then click it again after the job completes, you see the same information. If you only click the View details icon after the job completes, different information is shown. So the view details page is not updating the new information after the job completes if it's clicked it before the job com

[2022-02-18 22:44] nakucher opened #13416 "Cannot tag items in dataset lists or pair of datasets"
**Describe the bug**
Dataset tags can't be added to items in a dataset list, the two items in a pair of datasets, or to the pair of datasets object (this object may be within a list of pairs, which can be tagged).

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**
Steps to reproduc

[2022-02-19 11:29] bgruening commented on #13414
@IbrahimTanyalcin any reason you need to use a hierarchical object store? Would a distributed also work?

[code]

[2022-02-19 15:23] bernt-matthias opened #13418 "enable_account_interface removes to much"
**Describe the bug**

`enable_account_interface` removes the complete `Manage Information` point from the user preferences page.  Besides the possibility to change username (which I really would like to forbid on my LDAP managed instance) this page contains other important setting which I would like to keep (e.g. set dropbox API keys ...)

**Galaxy Version and/or server at which you observed the b

[2022-02-19 15:50] bernt-matthias opened #13419 "History import button is (too) hidden"
**Describe the bug**

Users on my instance struggle to find the import button for shared histories which is quite hidden next to the text `About this history`

![Screenshot from 2022-02-19 16-44-40](https://user-images.githubusercontent.com/25689525/154808045-c7dd78d8-8aea-44d8-882a-c76dc6ee19cb.png)

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

**To Reprod

[2022-02-19 19:18] IbrahimTanyalcin commented on #13414
@bgruening , thank so much for your time.

I do not think we absolutely need hierarchical object stores. As far as I can tell, the reason we had 2 object stores (1 disk (default), the other one being a network drive) is because we had very large files which would not make it feasible to store all data on disk.
So I can remove the object store with id = "HomeData" and order = 0, and instead just le

[2022-02-19 19:47] bgruening commented on #13414
You do not need to remove it, try to convert it to something similar to my example and please try it again. You can add as many "stores" as you like. We have 10 by now I think :)

[2022-02-19 21:02] IbrahimTanyalcin commented on #13414
All right, I will try with 'distributed' and with `<backends>` tag instead and will let you know by Monday.  Ty so much and have a great Sunday.

[2022-02-19 21:14] bgruening commented on #13414
You too @IbrahimTanyalcin! Enjoy your weekend!

[2022-02-20 00:15] bgruening commented on #13404
Hi @ajs6f,

the metadata script can launch external tools, but those are usually part of the venv. Are you sure that the cluster nodes are using the same python version as the head node?

You could change to your cluster node, enter `/pool/spare/galaxy/galaxy/database/jobs_directory/000/61/tool_script.sh` and try to run the manually, maybe with some debug commands.

[2022-02-20 23:05] bernt-matthias opened #13422 "Linter: check for outputs with the same label"
**Describe the bug**

In order to detect cases like this one https://github.com/galaxyproject/tools-iuc/pull/4414

[2022-02-20 23:18] blankenberg opened #13423 "Enable Drill Down (drill_down) options to be non-selectable"
Drill down parameters are great for enabling hierarchical display of options, however sometimes a parent "option" is more of a category, and it might not be meaningful to select. We should allow these to to not be selectable in the form, but still enable collapsing, etc.

[2022-02-21 09:37] hexylena commented on #13419
I think it should also be a primary-action colour to make it more visually distinctive, it *is* the primary action most people will do on that page.

[2022-02-21 16:06] natefoo commented on #13404
If you submit this as a batch job without a controlling terminal on the command line with `qsub` do you get the same thing? Can you verify that your `qrsh` session and Galaxy jobs run with the same resource allocation and environment in UGE? This could be something like a default memory limit being very small.

For additional debugging you could add a call to `set -xv` in https://github.com/galaxy

[2022-02-22 04:05] assuntad23 commented on #13192
@hexylena I've got a PR there to sort them, but I'm not yet sure what to do about the other issues you listed.

Do you have the JSON from those rules to send to me? That way I could use it in my tests?  For the one that fails to load, you should be able to capture it, but for the other... I'm at a loss.

[2022-02-22 10:09] hexylena commented on #13192
@assuntad23 that's fantastic!

I put a breakpoint on where the error poped up

![image](https://user-images.githubusercontent.com/458683/155109531-09edcc78-76f3-42e6-aee1-8e35234fa5b2.png)

but all of the variables there seem to be undefined. Going up the stack trace

![image](https://user-images.githubusercontent.com/458683/155109896-3dc77bf6-eb6e-438f-8cf1-174db7abf3e6.png)

still undefined ther

[2022-02-22 10:21] hexylena opened #13428 "[Feature request] Make rule builder old rule selector more useful by showing rule preview"
Sorting the old-rules list like in #13427 will be incredibly helpful, but the labels on the old rules are a bit useless unless you're either working on the same task repeatedly, or, knew what you were doing that week/month/etc which is a stretch for some of us.

![image](https://user-images.githubusercontent.com/458683/155111726-6cf792b4-78bb-4cd5-ad46-1035b70e4ec3.png)

Since we can generate this

[2022-02-22 10:31] #13401 closed

[2022-02-22 15:56] ajs6f commented on #13404
Hi @bgruening, thank you for the help. Yes, I believe that the versions are the same. In fact I am using the `<env file="/pool/spare/galaxy/galaxy/.venv/bin/activate"/>` line in the `destinations` section of `job_conf.xml` to use the exact same executable, and simple logging statements inserted into the scripts also indicate that, although I freely admit that the network of scripts writing and cal

[2022-02-22 16:01] ajs6f commented on #13404
Hello @natefoo, thank you for the help.

Yes, they should be, since there are no memory limits set (this is a test section of the cluster in which we can safely do that). Is there some way to determine what settings the Galaxy-submitted jobs would be getting? I am not a Python programmer and find the construction of scripts and the pattern in which they call each other in Galaxy a bit bewildering.

[2022-02-22 16:15] ajs6f commented on #13404
Hello @natefoo, I'm afraid that all `set -xv` was able to turn up is that the segfaults do indeed seem to be happening within `python metadata/set.py`. Is the function of that script documented somewhere? I assume that it is using some external tool to characterize the dataset, but is that a static tool or is it dispatched based on the type of file under consideration?

[2022-02-22 16:20] hexylena commented on #12330
@pvanheus

[2022-02-22 16:50] wm75 commented on #12330
Thanks for reopening @hexylena !
So, yes, this issue has re-occurred 3 times in two completely different trainings (one conducted by @pvanheus, one by me) within the last 48 hours.
For two participants it resolved itself on retry, for one (Windows, Edge browser) it was permanent (the whole afternoon).
Unfortunately, again I don't have any request logs :(

[2022-02-22 17:07] bedroesb commented on #9414
This seemed to be fixed

[2022-02-22 17:07] #9414 closed

[2022-02-22 17:21] mvdbeek commented on #12330
That's just the normal download button ? What datatype was this downloading ? Any chance you could see the accepted headers ?

[2022-02-22 18:46] assuntad23 commented on #13428
Adding on to this, perhaps, we should keep track of rules for Datasets and rules for Collections, since they have different requirements. We shouldn't allow a user to select rules for Collections, if they're working on Datasets, and vise versa.

[2022-02-23 01:08] TeradarGold opened #13431 "Clock app crashes when autocorrect bypasses max string length"
I am using a Galaxy S8 running Android 9.

When I go into the Alarm section in the Clock app and I type in the maximum amount of words for Alarm name, if I use autocorrect on any word and the autocorrected word is larger than the original word, then upon bypassing the max length of the Alarm name the app crashes.

[2022-02-23 06:22] ic4f commented on #13431
Sorry, but this is the wrong repository: this is Galaxy the platform for scientific research, not Galaxy the phone.

[2022-02-23 06:22] #13431 closed

[2022-02-23 08:41] wm75 commented on #12330
That's with Paste/Fetch data, then pressing Start. Datatype: fastq.gz from the Mapping tutorial.

Was hoping to be able to do a debugging session today with the one participant who had reproducible problems yesterday.
Have been contacting her this morning, but things are working today in the same browser with the same links.
Good for her, bad for us.

[2022-02-23 15:50] #13409 closed

[2022-02-23 18:28] natefoo commented on #13404
If you haven't specified a native specification in the job destination, then it'd be whatever the default is for your cluster. I believe (although my grid engine knowledge is hanging by a thread these days) you should be able to use `qacct` on a Galaxy job to see what it was allocated. If you're using any arguments specifying a queue or resource when you use `qsub`, you should specify those same o

[2022-02-23 19:10] guerler opened #13437 "[22.01] Visualizations not build/updated properly when building client"
**Describe the bug**
Visualizations are currently not available. It seems that the build system does not properly generate the visualization packages. Observed on dev and main.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Visualizations'
2. Try to visualize a dataset
3. See error

[2022-02-23 19:42] mvdbeek commented on #13437
I don't think it's all visualizations (the image annotator and text editor work for instance), and it would probably be fixed by running `yarn run gulp pluginsRebuild`.

[2022-02-23 22:56] guerler commented on #13437
Do the charts based bar-diagrams work for you?

[2022-02-25 09:23] hexylena opened #13444 "Copy tool ID + copy link are both returning link"
at least for [this tool on eu](https://usegalaxy.eu/root?tool_id=Remove+beginning1)

[2022-02-25 09:23] hexylena opened #13445 "Copy tool link returns URLs with spaces which are invalid"
These should either be replaced with a + or %20 I guess. `https://usegalaxy.eu/root?tool_id=Remove beginning1` is a prime example currently.

[2022-02-25 16:37] jeanetx opened #13446 "galaxy-set-metadata: command not found"
This has been happening over the past two weeks.  I upload a 3 column bed file (no header) as I usually do.  The file is sorted by chr start stop.  The attributes of the uploaded bed file is set to bed.  When I run Merge overlapping regions, I get the following error on the output file:
![image](https://user-images.githubusercontent.com/75327078/155752096-4e026e87-d185-43df-ba96-fc029c4cb944.png)

[2022-02-26 19:13] wm75 commented on #12330
It's happening again for a user at https://help.galaxyproject.org/t/data-upload-fails/7607

[2022-02-26 20:00] nsoranzo commented on #13329
The PR has been merged, so we should see it in a released conda soon.

[2022-02-27 12:18] mvdbeek commented on #13446
Thanks for the report, this currently affects some very old tools that we keep installed for reproducibility (@natefoo, can you take a look at this ?). For the time being please use https://usegalaxy.org/root?tool_id=toolshed.g2.bx.psu.edu/repos/iuc/bedtools/bedtools_mergebed/2.30.0 to merge intervals.

[2022-02-27 12:18] #13446 closed

[2022-02-27 12:20] mvdbeek commented on #13445
That was fixed in https://github.com/galaxyproject/galaxy/pull/13204 and https://github.com/galaxyproject/galaxy/pull/13347

[2022-02-27 12:20] #13445 closed

[2022-02-27 12:31] mvdbeek opened #13451 "Untangle reading configuration from creating app object"
It would be nice if we could read Galaxy's config in (somewhat) external scripts (like https://github.com/galaxyproject/galaxy/issues/13383)  and in gravity, without having to bring in galaxy.model and galaxy.web and all the things that dangle off of it.

In a first step that could just mean moving things that build Galaxy manager instances and the mapping object out of  lib/galaxy/config/__init__

[2022-02-27 23:37] guerler opened #13452 "Limit size of displayed tool parameter values in datasets details view"
When clicking on the `info` icon for an expanded dataset in the history, the dataset details view is displayed. This works well unless one of the tool parameters is a json blob. This json blob can be very large, making scrolling to the bottom difficult and also leading to a lagging user interface.

**Galaxy Version and/or server at which you observed the bug**
In dev and on main.

**To Reproduce**

[2022-02-28 10:39] hexylena commented on #13451
I wrote something in gxadmin to do this as well, it's quite slow as is. I'd love to see this!

[2022-02-28 15:03] hexylena opened #13455 "Biomart does not work: bytes is not json serializable"
**Steps to reproduce**

- On the EMC's internal galaxy, or UseGalaxy.eu, or another 21.09 server
- Use the biomart tool
- select ensembl genes 105
- select human genes
- maybe add filters → gene → limit to external reference (gene names) and symbol BRCA1
- results tab at top
- send to galaxy
- Go!

On the server side I see

[code]

[2022-02-28 17:00] ajs6f commented on #13404
Hello @natefoo, thank you for the insight. It does indeed fail on very small files as well as large ones, without an obvious pattern. If the jobs are getting the default settings (there is no `nativeSpecification` set) then there is no memory limit being set, which is very confusing. The cluster is quite large and is not feeling resource pressure of any kind.

You are certainly right to point out

[2022-02-28 19:41] jennaj opened #13457 "Remove trailing whitespace & reject/warn if whitespace is within a registered account email or public name field"
**Describe the bug**
Not sure if new in the 22.01 pre-release or not -- but we've had a new class of account problems presenting. Trailing spaces in account email addresses is the most common. A few have had spaces within the email address or somewhere in the public name. Those can be introduced during account creation, or when updating account preferences. Not sure if _passwords_ with spaces are

[2022-02-28 20:05] dannon commented on #13457
xref https://github.com/galaxyproject/galaxy/pull/12482

[2022-03-01 10:49] mvdbeek opened #13460 "Support quay.io pagination, cache update mechanism"
https://github.com/anvilproject/galaxy/pull/11

[2022-03-01 16:03] #13444 closed

[2022-03-01 16:43] nakucher opened #13464 "Jupyter Notebooks not working"
**Describe the bug**
Jupyter job in history is waiting to run indefinitely. In Active InteractiveTools page, the Job Info shows "stopped."

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**
Steps to reproduce the behavior:
1. Search for tool Interactive Jupyter Notebook, click exec

[2022-03-01 16:52] #13422 closed

[2022-03-01 17:05] nakucher opened #13465 "RStudio webpage fails to load"
**Describe the bug**
Galaxy reports RStudio Job Info as running, but when the hyperlink to go to RStudio is clicked and a new tab opens, the webpage waits on the site then fails to load.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**
Steps to reproduce the behavior:
1. Search f

[2022-03-01 17:57] mvdbeek commented on #13464
For usegalaxy.eu you you probably need to activate your account first.

[2022-03-01 17:59] gmauro commented on #13464
and usegalaxy.eu is under maintenance, we don't have any computing capacity at the moment.

[2022-03-01 18:07] mvdbeek commented on #13464
I presume the `stopped` state is a UI/UX issue, https://github.com/mvdbeek/galaxy/blob/dev/client/src/components/InteractiveTools/InteractiveTools.vue#L39 doens't look quite right.

[2022-03-02 04:17] guerler opened #13467 "New History Issue Tracking"
This issue keeps track of todos for the new history:

- [ ] Scrolling throttling needs to be reenabled, currently only works great for Safari. Common problem with browsers handling wheel events at different pace.
- [ ] Limit length of name shown in details component.
- [ ] Populate collection details.
- [ ] Style issue with extra button for hidden fields, check flex.
- [ ] Lock icon for unhiding n

[2022-03-02 10:07] bernt-matthias commented on #13404
Can you post the output of `qacct -j JOBID` for one of the failing jobs?

[2022-03-02 17:08] cantoine27 opened #13473 "error Dockerfile"
On this link https://docs.galaxyproject.org/en/master/dev/interactive_environments.html, the Dockerfile is false at the line :
i think that it isn't  CORS_ORIGIN-none but CORS_ORIGIN=none

[2022-03-02 18:35] dannon commented on #13460
xref #13468

[2022-03-03 09:44] #13473 closed

[2022-03-03 15:34] mvdbeek commented on #13460
With https://github.com/galaxyproject/galaxy/pull/13468 I think we can push the milestone

[2022-03-03 15:35] mvdbeek commented on #13400
Fixed in https://github.com/galaxyproject/galaxy/pull/13430

[2022-03-03 15:35] #13400 closed

[2022-03-03 17:21] mvdbeek opened #13479 "Reset quota by clicking on quota ?"
Seems like a quick and dirty fix that is better than logging out and back in.

[2022-03-03 20:09] assuntad23 commented on #13405
Fixed with #13443

[2022-03-03 20:09] #13405 closed

[2022-03-03 20:09] assuntad23 commented on #13428
Fixed with #13438

[2022-03-03 20:09] #13428 closed

[2022-03-03 20:11] assuntad23 commented on #13192
Fixed with #13427

Willing to re-open if we see the error issue pop up again.

[2022-03-03 20:11] #13192 closed

[2022-03-03 20:48] jdavcs opened #13482 "uwsgi_schema.yml overwritten when running local unit test"
After running this: `pytest test/unit/webapps/config_manage/test_config_manage.py::test_build_uwsgi_yaml`, the `uwsgi_schema.yml` file is overwritten.

Probable cause: overwriting the path for testing is broken.

In `lib/galaxy/config/config_manage.py` (at the end of `_build_uwsgi_schema()`), variable `path` contains the path to the local working directory:
`PosixPath('/home/sergey/0dev/galaxy/_ga

[2022-03-04 10:44] mvdbeek commented on #12068
Have you seen any of this recently ? I think https://github.com/galaxyproject/galaxy/pull/12721 should have fixed this.

[2022-03-04 10:44] #12068 closed

[2022-03-04 10:49] mvdbeek commented on #13416
This isn't a new bug, moving the milestone.

[2022-03-04 12:31] mvdbeek commented on #13350
With https://github.com/galaxyproject/galaxy/pull/13390 I'm moving this to 22.05, we should then just make sure that this works correctly in the new history.

[2022-03-04 12:33] mvdbeek commented on #13279
Pushing this to 22.05, but all fixes can be applied to all supported branches, so this can happen whenever it is ready.

[2022-03-04 12:34] mvdbeek commented on #13378
I think we need to restore this on the hub given that we link out to this page from older releases. @NickSto can you take a look at this ?

[2022-03-04 12:35] mvdbeek commented on #13380
This can be fixed at any moment in time, I'm moving this to 22.05.

[2022-03-04 15:52] NickSto commented on #13378
Yep, tracking here: galaxyproject/galaxy-hub#1167

This was removed at some point for some reason.

[2022-03-04 15:58] afgane opened #13486 "Trim whitespace on the accession input filed"
**Describe the bug**
Leaving a trailing whitespace on the *Download and Extract Reads in FASTA/Q format from NCBI SRA* tool leads to a failed job with error message `unary operator expected`, which is not indicative of the issue. Same accession without the trailing whitespace works fine.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01; usegalaxy.org

**To Repr

[2022-03-04 18:04] cowand opened #13489 "ContentResolver.openFileDescriptor VERY slow after 2/1/2022 software update"
Phone:
Model name:	Galaxy A52 5G
Model number: SM-A526U1

Last Software update:
Version: A526U1UES4CVB2 / A526U1OYM4CVB2 / A526U1UES4CVB2
Size: 233.20 MB
Security patch level: February 1, 2022

After the update was done I noticed that one of my applications that had been previously running fine was now VERY slow. Since this was an application that I wrote I was able to use Android Studio and deter

[2022-03-04 18:08] ic4f commented on #13489
Sorry, but this is the wrong repository: this is Galaxy the platform for scientific research, not Galaxy the phone.

[2022-03-04 18:08] #13489 closed

[2022-03-04 19:33] NickSto commented on #13378
Okay this is now [fixed](https://galaxyproject.org/tools/requirements/).

[2022-03-04 19:33] #13378 closed

[2022-03-05 03:23] #13415 closed

[2022-03-06 10:59] #13269 closed

[2022-03-07 10:02] mvdbeek commented on #13479
Yes, absoutely!

[2022-03-07 11:30] hexylena commented on #9109
Just as a reference from what's going on in other communities, I was recently pointed to https://cloud.tower.nf/ which looks a lot like what I'd want in a simplified workflow run interface https://help.tower.nf/21.12/core-concepts/definitions/#pipelines

1. Pick a workflow in their "launchpad"
2. it goes to a parameters form (our run interface)
3. See [ongoing/past runs](https://help.tower.nf/21.1

[2022-03-07 11:33] #4643 closed

[2022-03-07 11:39] hexylena opened #13492 "[Feature request] If a file can be visualised show the eye, otherwise a download icon?"
From @nomadscientist

Example: https://usegalaxy.eu/u/wendi.bacon/h/imported-spanscriptomics-continuacin, "11: manipulate anndata" is an `h5ad` type dataset. This does not implement `display_data` (maybe it should), but we know from the lack of this method that it isn't 'viewable' and we could show a different icon instead.

[2022-03-07 12:23] nsoranzo commented on #13492
Maybe just not show the eye icon in this case, since there's already the disk icon for downloading?

[2022-03-07 12:24] hexylena commented on #13492
Or just grey it out / mark as disabled would probably be ideal.

[2022-03-07 12:33] nsoranzo commented on #13467
I think it's currently [eye-slash](https://fontawesome.com/icons/eye-slash?s=solid), which is also not great given that we use the "eye" icon to view the data.

[2022-03-07 16:22] mvdbeek opened #13494 "Don't implicitly associate related objects to sqlalchemy session"
https://github.com/galaxyproject/galaxy/pull/13458/ is ok as a workaround for now, but we have little control now in the calling context. We've had problems in the past with objects getting pulled into a session and getting persisted into the database when we didn't want for that to happen. The calling context should decide what gets added to the session.

[2022-03-07 16:28] ic4f commented on #13494
Absolutely. So , as per #13458, "Once we move to 2.0 and verify that the system is stable, we can remove such fixes, explicitly adding objects to the session (via session.add()) in the right place and at the right time, when needed."

In other words, at that stage we will be *removing* explicitly added associated objects from the session, one step at a time.

[2022-03-08 00:15] #13340 closed

[2022-03-08 13:23] marcarcla commented on #8906
Hi, this error still persists on `release_21.09`.
We have  `Slurm 20.11.0.1` on `Ubuntu 20.04`.
Any ideas on how to solve this?

[2022-03-08 14:38] bernt-matthias commented on #8906
Easiest solution/workaround seems to be to put the scheduler binary to the `PATH`, or?

[2022-03-08 15:39] dannon commented on #13467
TODO: track down duplicate requests here, as seen in this screenshot:

![image](https://user-images.githubusercontent.com/155398/157271649-4dc0c71b-5873-46fd-8570-0931a17c90a8.png)

[2022-03-08 16:40] bgruening commented on #13467
Imho the help has nothing to do in history. Ideally, you get redirected to the tool form with the tool help in the visible area (tool from can load in the background).

[2022-03-08 16:40] dannon opened #13502 "Provide more help and context in default welcome.html"
As discussed in wg-all, we can provide a bit more information and highlight some initial steps for new galaxy administrators on the default welcome.html since that's what everyone will see first.  Right now there's a link to "Configuring Galaxy" in the docs, which is useful, but can be missed.

The goal here isn't to duplicate any of that configuration information, but just provide a little more h

[2022-03-08 19:10] guerler commented on #13467
Ok, this makes this easier and is similar to how it is currently handled. Clicking on help redirects to the tool form.

[2022-03-09 10:06] mvdbeek commented on #9649
Done in https://github.com/galaxyproject/galaxy/pull/13447, thanks again @ic4f!

[2022-03-09 10:06] #9649 closed

[2022-03-09 10:07] #13319 closed

[2022-03-09 10:14] mvdbeek opened #13505 "Always copy galaxy.yml.sample to galaxy.yml ?"
I believe the primary reason we haven't done this in the past is that we had to set values for uwsgi, but that is not the case anymore. And because we had to set values we couldn't set new default values when that becomes necessary.

The current minimal galaxy.yml doesn't need any values, it could be as short as
[code]

I'm mentioning this because `run.sh` registers galaxy.yml.sample with gravity,

[2022-03-09 10:17] mvdbeek opened #13506 "Support gunicorn's `--preload` option"
For multi-process configurations of uWSGI we've made use of `register_postfork` to delay certain setup function until after forking. We would need an equivalent function to do this.

[2022-03-09 10:21] mvdbeek opened #13507 "Create config schema for gravity"
We currently don't put any default values into the `gravity` key in galaxy.yml, so you need to read the documentation to find out about this.

Might be nice to create a config schema for gravity and include that when rebuilding config files.

[2022-03-09 10:38] marcarcla commented on #8906
Do you mean the slurm binaries such as `sbatch`, `srun`, etc.? In our system, the user `galaxy` can run jobs using the slurm binaries. If you just ask `which sbatch`, for instance, you will get `/usr/local/bin/sbatch`, although this file is physically located in another server (our cluster), being shared across an NFS.

[2022-03-09 11:26] mvdbeek opened #13510 "Vuex provider syncing strategy (in history context)"
We have 3 different renderless data approaches (I'm just listing the core classes here).

RxProviders: uses pouchdb to store and emit data from
SingleQueryProvider: resolves promise, optionally polls for updates and caches results
StoreProviderMixin + SimpleProviderMixin: Mix these into a class with a load method and a storeItem method. The load method will fire and items will comes out of storeIt

[2022-03-09 14:25] dannon commented on #13505
I ran into this when I wiped out my config dir in an instance that had previously been configured with gravity.  It defaulted back to running with the sample, but then when I *did* set up a new galaxy.yml with my proper configuration it didn't switch back over, which I didn't expect.

[2022-03-09 15:13] maikenp opened #13511 "Galaxy interactive tools with slurm and docker - docker container is not removed when tool is finished."
**Describe the bug**
Galaxy interactive tools - when tool is stopped either by user, or by backend (slurm) since going over time-limit, the docker container keeps running on the machine.

This is on a local galaxy cluster galaxy-hepp.hpc.uio.no
Slurm backend

This is our config for interactive jobs - we do use the docker_auto_rm:
[code]
And an example of the galaxy_<jobid>.sh docker run command re

[2022-03-09 17:02] mvdbeek commented on #13511
It seems there are a few ways in which scancel can be configured on slurm (and I suppose by extension there are corresponding drmaa option), @natefoo do you have any insights here ? I suppose we'd want to make sure a SIGTERM is sent first ?

[2022-03-09 17:03] mvdbeek commented on #13511
@maikenp  Actually, it would be interesting too if you could kill an IT job with `scancel` and `scancel --signal=TERM` and see if the docker container continues running

[2022-03-09 20:40] maikenp commented on #13511
[code]

scancel --signal=TERM does not cancel the job in slurm. scancel without argument (default is SIGKILL) cancels the job in slurm and causes an error in galaxy tool history, but container is still running.

<img width="290" alt="Screenshot 2022-03-09 at 21 39 06" src="https://user-images.githubusercontent.com/22190352/157531892-4a4c1305-5270-41c5-bb79-d61c4548ed41.png">

[2022-03-09 20:46] maikenp commented on #13511
By the way, we are using cgroups in slurm:
[code]

Maybe this is a slurm configuration problem?  Although cgroups should kill related processes...

[2022-03-09 22:05] innovate-invent commented on #13511
Peanut gallery here.. If slurm is calling `docker run` then it would be executed by the docker daemon user and no longer belong to the slurm cgroup. The only process that would be under the slurm user would be the docker cli process.

[2022-03-10 13:34] hexylena commented on #13006
@gmauro @bgruening is there any chance to backport https://github.com/galaxyproject/galaxy/pull/13130 https://github.com/galaxyproject/galaxy/pull/13204 https://github.com/galaxyproject/galaxy/pull/13347 to 21.09 for Tapas?

@nomadscientist just reported this is still an issue on EU during her Single cell course, and it'll bite us again next week I suspect since we're pushing people to use this fe

[2022-03-10 13:40] nomadscientist commented on #13006
Hello - yes it's biting us hard and will absolutely bite us next week with the transcriptomics tutorials. Please help!

[2022-03-10 13:54] gmauro commented on #13006
@davelopez is giving them a look

[2022-03-10 14:16] davelopez commented on #13006
Done :+1:

[2022-03-10 14:19] hexylena commented on #13006
Thanks y'all!!!!

[2022-03-10 14:27] nsoranzo opened #13515 "Log URL gunicorn is serving on"
**Describe the bug**
uWSGI logs the URL (with port) it's serving on as part of startup in `UWSGIApplicationStack.log_startup()` (in `lib/galaxy/web_stack/__init__.py`).
It would be nice if gunicorn would also log such info by overriding `log_startup()` in `GunicornApplicationStack` .

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01

**To Reproduce**
Steps to re

[2022-03-10 14:48] davelopez commented on #13515
xref https://github.com/galaxyproject/galaxy/pull/13430#pullrequestreview-890927582

[2022-03-10 15:09] mvdbeek commented on #13515
gunicorn logs this as `Listening at: http://127.0.0.1:8080 (77809)`, either at the top, or, if using `--preload`, before forking the workers:
[code]
Do you think this is good enough ?

[2022-03-10 15:15] bernt-matthias opened #13516 "[22.01] Problem with empty text parameters"
**Describe the bug**

An empty text parameter gives an error/warning if left empty:

https://matrix-client.matrix.org/_matrix/media/r0/thumbnail/matrix.org/2022-03-10_CfNMCIaEMTcITlot?width=100&height=100&method=scale

This is cutadapt 3.5+galaxy1 on usegalaxy.org

Filling and emptying the parameter is a workaround.

Does not happen on usegalaxy.eu

**Galaxy Version and/or server at which you obse

[2022-03-10 15:18] mvdbeek commented on #13516
For some context:

[You're invited to talk on Matrix](https://matrix.to/#/!cHIlGjZMbOkigZioIQ:gitter.im/$ROmeQxDaWaUJpmDZ2rN0qu2pXiomagJYGoe51EI-6ZU?via=matrix.org&via=gitter.im)[](https://matrix.to/#/!JLyNgmIlYnnCOwcFAQ:gitter.im/$PG-qRNWlIAiD45K7ilupxlhzqmN8oVAqoxJAZY1frBY?via=gitter.im&via=matrix.org)
You're invited to talk on Matrix
Essentially, the default for text params (like for other para

[2022-03-10 15:26] bernt-matthias commented on #13516
OK. But why isn't the tool test picking this up?

[2022-03-10 15:34] mvdbeek commented on #13516
It's a client-side change, https://github.com/galaxyproject/galaxy/pull/13285

[2022-03-10 15:41] bernt-matthias commented on #13516
IUC has 956 parameter with `<param type="text" value="">` in 152 tools (>10% of the tools)...

[2022-03-10 15:44] mvdbeek commented on #13516
Is it really a problem ? You can

[2022-03-10 15:50] bernt-matthias commented on #13516
Unfortunately I think so. And the cutadapt example proves it since it still runs on usegalaxy.eu and fails on usegalaxy.org (also the workaround: entering something and then cleaning it again is quite odd .. because for the user nothing changed in the UI).

[2022-03-10 15:59] nomadscientist commented on #13006
Bless your cotton socks!

On Thu, Mar 10, 2022, 2:20 PM Gianmauro Cuccuru ***@***.***>
wrote:

[2022-03-10 16:24] mvdbeek opened #13518 "Update supported python version, mention in deprecations"
https://docs.galaxyproject.org/en/release_22.01/admin/python.html

[2022-03-10 16:36] bernt-matthias opened #13520 "Error reporting for parameters in sections"
**Describe the bug**

If there is a problem (e.g. missing value) with a parameter in a section then it is not visible to the user if the section is folded.

The user clicks execute and is just redirected to the top of the tool form.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01

**To Reproduce**

Noticed here https://github.com/galaxyproject/galaxy/issues/13

[2022-03-10 16:41] gmauro commented on #13006
@nomadscientist the fixes has been deployed. Make a try and let us know.

[2022-03-10 17:25] mvdbeek commented on #13520
@guerler can you take a look at this ? I suppose this is tool form related

[2022-03-10 18:12] nsoranzo commented on #13515
Oh, I didn't notice since that gets printed very early on, while the `log_startup()` is called at the end, which it's nice to have when you run e.g. `planemo serve` . But I see you are taking care of this already in #13514, thanks @mvdbeek !

[2022-03-10 18:12] davelopez opened #13521 "History Bulk Operations"
# History Bulk Operations

This issue is for discussing and collecting some thoughts on the implementation design of the history contents bulk operations.

The initial idea is to build on the concepts laid out in https://github.com/galaxyproject/galaxy/pull/11436

The user should be able to select a set of elements from the history and apply certain operations on all of them in a single request.

[2022-03-10 19:07] nsoranzo commented on #13516
On the other hand, we have loads of tools that had to use `<validator type="empty_field" />` because `optional="false"` (i.e. the default) for `text` parameters was not enforced.

[2022-03-10 19:35] mvdbeek commented on #13516
I think we'd still need the empty_field validator, since that also applies to `""`, which is a valid input (as opposed to `null`). Anyway, I will revert https://github.com/galaxyproject/galaxy/pull/13285 for now, it seems this is turning into a bigger issue.

[2022-03-10 20:08] mvdbeek commented on #13516
The cutadapt parameter in question is
`<param argument="--strip-suffix" label="Strip suffix" type="text" help="Remove this suffix from read names if present."/>`. If we did use `<param type="text" value="">` it would actually work "correctly", since we'd set `""` as the default value.

I don't know what the long-term fix should be, this seems like a big problem IMO.

[2022-03-10 22:13] bernt-matthias commented on #13516
Indeed, this deserves a proper fix.

I think that a better error message and a visual distinction of no value and empty string in the UI might help.

Also handling of such parameters in tools tests should be handled the same way and the tools should be "fixed".

Maybe you can open a PR with the reverted commits, just to not forget about it.

[2022-03-11 02:02] afgane opened #13524 "Saving a workflow with missing tools not guiding sufficiently"
Trying to save an edited workflow that continues to have issues does not work with an error saying the issues need to be corrected first. However, as a user, I have no idea what issues remain and meanwhile I cannot save progress that I've made thus far on fixing the workflow. It'd be nice to show the actual list of issues in the modal.

<img width="991" alt="image" src="https://user-images.githubu

[2022-03-11 02:05] afgane opened #13525 "Scroll wheel to workflow editor zoom"
The workflow editor is a canvas in which one moves around a good bit, and panning is much faster when combined with ability to quickly zoom in/out. Instead of tying the mouse scroll wheel to the scroll bar in the workflow editor, how about using to zoom in and out? With that ability, click and drag to pan would be faster than using the scroll action to scroll.

[2022-03-11 07:39] mvdbeek commented on #13524
There are red boxes with the missing tools, right ? Otherwise something was wrong with the Galaxy instance.

[2022-03-11 09:37] nomadscientist commented on #13006
Yes it works yay!

On Thu, Mar 10, 2022 at 4:41 PM Gianmauro Cuccuru ***@***.***>
wrote:

[2022-03-11 13:50] afgane commented on #13524
This is on usegalaxy.org with the [rna-seq-reads-to-counts.ga](https://training.galaxyproject.org/training-material/topics/transcriptomics/tutorials/rna-seq-reads-to-counts/workflows/rna-seq-reads-to-counts.ga) training workflow. A (white) box shows up when you try to load a workflow but nothing when you try to save it.

[2022-03-11 14:35] mvdbeek commented on #13524
Oh, that message is wrong. There's no missing tool (just a tool version mismatch), this is weird.

[2022-03-11 14:40] mvdbeek commented on #13524
@guerler do you have some time to check this out ? Looks like a problem with the state inside the editor. If you flip the versions in the workflow @afgane posted for `featureCounts` and `Samtools indxstats` you can actually save the workflow.

[2022-03-11 14:45] mvdbeek commented on #13524
In particular it's the `content_id` that doesn't get updated. This is from the PUT payload:
[code]
The tool_version is correct, the content_id is not

[2022-03-11 15:05] afgane opened #13526 "Improving Issues loading a workflow"
When loading a workflow that does not have all the necessary tools installed, the tool IDs are inconsistent, and some difficult to identify. For example, in the following screenshot, why is `DESeq2` named only using a tool name vs. `pathview` using the full toolshed id?
![image](https://user-images.githubusercontent.com/338642/157887828-8a7f46d1-3f3d-4e96-a76c-d34fcad86a5b.png)

Related, while DES

[2022-03-11 15:20] afgane opened #13527 "Ability to load workflow issues while editing"
When one tries to edit a workflow that has issues such as missing tools or differing tool versions, there is an initial popup that captures these. However, once dismissed, there is way to pull up that list again without circling back to the workflow list and clicking edit (having skipped saving the workflow in the meantime). It'd be nice to add an option to the initial popup `Continue without modi

[2022-03-11 15:33] ic4f commented on #10369
Done in #13513.

[2022-03-11 15:33] #10369 closed

[2022-03-11 16:52] ic4f opened #13528 "How to handle migrations.IncorrectVersionError"
### In case of this error:
Galaxy has switched from SQLAlchemy Migrate to Alembic (#13513). In some cases, you might see the following error:
[code]
### Solution
If your version in less than 180, you need to checkout a version of the code base that does *not* include #13513 (merged on March 11) - you can use `release_22.01` - and then run the upgrade script:
[code]
If your version is 181, you'll n

[2022-03-12 10:50] jancrichter opened #13533 "Error 500 when trying to show or download datasets of other users with admin API key"
I am using bioblend 0.16.0 to access Galaxy 21.05.

When I am trying to use *.datasets.show_dataset() or *datasets.download_dataset() on datasets that are not my own I get an error 500.

Is this intended? My expectation would be that I can access them in this fashion, as I can also do so when using the web API in the browser.

[2022-03-13 15:50] mvdbeek commented on #13437
Source of the build failure is fixed in https://github.com/galaxyproject/galaxy/pull/13493

[2022-03-13 15:50] #13437 closed

[2022-03-14 09:15] davelopez commented on #13533
I can try to create a minimal patch to allow admins to access datasets on 21.05 or 21.09, but I can't backport the entire fix since is based on heavy refactoring. If that's ok, I can do it :)

[2022-03-14 12:03] mvdbeek commented on #13524
Alright, that is actually a backend problem, we return the specified tool id, and not the actual tool id. I'll have a fix

[2022-03-14 14:40] mvdbeek commented on #13515
We're logging this in the same format we used for uwsgi in https://github.com/galaxyproject/galaxy/pull/13514

[2022-03-14 14:40] #13515 closed

[2022-03-15 10:30] #13516 closed

[2022-03-15 11:51] dannon commented on #13528
@ic4f Thanks for adding the link to this in #13529.  I'll go ahead and close the issue since there's no more to be done here, but the text will remain (as a closed issue) for anyone that runs into this.

[2022-03-15 11:51] #13528 closed

[2022-03-15 12:34] hexylena opened #13542 "Click targets for folder explorer seem off"
Reported by @elichad in GAT

![out](https://user-images.githubusercontent.com/458683/158378691-8c1446cb-835d-45b8-a875-ec08df61facc.gif)

[2022-03-15 13:24] TonyBolger opened #13543 "Bind IP address in config/galaxy.yml has no effect"
**Describe the bug**
Bind IP address in config/galaxy.yml has no effect, and the default 127.0.0.1 listen address is always used regardless

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: release_22.01
Commit: 4e742cdfcf38a9ab30b94e9a3808a6cf800639ae

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of release_22.01 branch
2. Copy config/galaxy.yml

[2022-03-15 13:51] mvdbeek commented on #13543
Hey @TonyBolger, release_22.01 has not been released yet (but should happen later today or tomorrow). You'll want to update the branch to include the newer sample, and then copy the `galaxy.yml.sample` over again. On release_22.01 we are using Gunicorn as the webserver, and you can configure the the bind in https://github.com/galaxyproject/galaxy/blob/release_22.01/lib/galaxy/config/sample/galaxy.

[2022-03-15 13:51] #13543 closed

[2022-03-15 14:30] mvdbeek commented on #13220
We've had to revert https://github.com/galaxyproject/galaxy/pull/13285 since it affects tools with required text tool parameters (that should have been optional, but that was not enforced previously, so we can't change it now). A next iteration could apply this only to text parameters within workflows, or, and that would be much better, not use the text parameter types from basic.py

[2022-03-15 14:41] mvdbeek commented on #13518
Part of #13544

[2022-03-15 14:41] #13518 closed

[2022-03-15 18:51] #13295 closed

[2022-03-15 19:50] #13506 closed

[2022-03-15 19:51] mvdbeek commented on #13507
Done in #13531  / https://github.com/galaxyproject/gravity/pull/42

[2022-03-15 19:51] #13507 closed

[2022-03-15 21:30] cat-bro opened #13548 "Error running singularity jobs on pulsar if the container exists in galaxy's container cache"
**Describe the bug**
Not sure if this is a bug - I could be missing some configuration.
I'm having difficulty running jobs on pulsar with singularity. If the container does not exist in galaxy's container cache, pulsar pulls the container and the job succeeds. If the container does exist in galaxy's container cache, the command will be built to expect it to exist at the same path on the pulsar mac

[2022-03-16 10:19] mvdbeek opened #13551 "Failing metadata_strategy: extended tests (from schedule run)"
FAILED test/integration_selenium/test_dataset_details_source_transforms.py::DatasetSourceTransformSeleniumIntegrationTestCase::test_displaying_source_transformations_grooming
FAILED test/integration_selenium/test_dataset_details_source_transforms.py::DatasetSourceTransformSeleniumIntegrationTestCase::test_displaying_source_transformations_posixlines
FAILED test/integration_selenium/test_dataset_de

[2022-03-16 17:41] mvdbeek opened #13558 "Pasted text content offers "Copy URI""
**Describe the bug**
Paste some text in the upload box, then open the details view
<img width="841" alt="Screenshot 2022-03-16 at 18 40 16" src="https://user-images.githubusercontent.com/6804901/158653646-295c7a60-56fa-4003-83cb-2d94a6c75e79.png">

**Galaxy Version and/or server at which you observed the bug**
22.01

**Expected behavior**
Should probably not show this ?

**Additional context**
Add

[2022-03-16 18:35] dacolombo commented on #13511
Hi. We have a similar issue. We are running interactive tools on galaxy relase 20.05 using pulsar_embedded as runner, as described in the GTN interactive tools guide at https://training.galaxyproject.org/training-material/topics/admin/tutorials/interactive-tools/tutorial.html .

This is the job_conf.xml file:
[code]

This is the pulsar_config.yml file:
[code]

The interactive tools work fine, but

[2022-03-17 20:23] afgane opened #13574 "Link masthead menu version to /api/version"
Under the user menu, there is a Galaxy version listed and it is linked to the release notes for the given version. How about linking it to `/api/version` instead as that endpoint contains more details about the specific version running on the given server? A link to the release notes can then be included in the `extra` field available at that endpoint if it's desired by the admin.

[2022-03-18 09:38] martenson opened #13575 "unclickable area in input select modal"
The tool form input selector modal has an area that does not respond to clicks. If you click anywhere on the highlighted `div` outside of the actual "Data Libraries" text nothing will happen.

The cursor is changed to "pointer" on that div so I assume it is supposed to work the same as clicking on the text, or anywhere else in the row.

![Galaxy](https://user-images.githubusercontent.com/1814954/1

[2022-03-18 09:40] mvdbeek commented on #13575
Duplicate of https://github.com/galaxyproject/galaxy/issues/13542 ?

[2022-03-18 09:41] martenson commented on #13575
yeah

[2022-03-18 09:41] #13575 closed

[2022-03-18 10:14] davelopez commented on #10683
Fixed by #13571
Thank you so much @simonbray!

[2022-03-18 10:14] #10683 closed

[2022-03-18 15:53] dacolombo commented on #13511
I've found a solution for stopping both the interactive tool job and the relative container.
I noticed that when using `kill` to stop the job from the command line, the docker run process keeps running:
[code]

Instead, when using pkill to stop the job from the command line, the job children processes and the container are stopped:
[code]

I then modified the `kill_pid` function in the [pulsar.man

[2022-03-20 15:01] mvdbeek opened #13581 "Include tus openapi schema"
We should include
https://github.com/tus/tus-resumable-upload-protocol/blob/master/OpenAPI/openapi3.yaml in our own api docs.

[2022-03-21 12:31] mvdbeek commented on #12887
Should be fixed by https://github.com/galaxyproject/galaxy/pull/13474

[2022-03-21 12:31] #12887 closed

[2022-03-21 14:34] #7686 closed

[2022-03-21 14:38] mvdbeek opened #13584 "Promote gxformat2 to default workflow export format"
I think there's not much stopping us at this point.

[2022-03-21 15:10] blankenberg opened #13586 "configfile using filename results in bad placeholder value"
When using `filename`, the configfile is placed within the root of the `working` directory as expected. But when attempting to use the `name`d placeholder, the path provided is under` job_directory/configs/filename` which does not exist.

for e.g.:
`<configfile name="staging_script" filename="staging_script.py">`

`job_directory/working/staging_script.py` exists, but the value provided by `${stagi

[2022-03-21 15:30] blankenberg commented on #1311
Came to make a new issue, but just a bump to indicate continued interest for this pretty significant UI/UX issue.

Also, we are currently resorting to hacking workflow export/import, as noted above.

[2022-03-21 22:00] guerler opened #13589 "Uploader can get stuck when uploading multiple files"
**Describe the bug**
When uploading a lot of files e.g. 50, the queue can get stuck and throws a console error (see below). This is a new bug and possibly related to recent changes of the upload module.

**Galaxy Version and/or server at which you observed the bug**
In dev and on main.

**Screenshots**
![image](https://user-images.githubusercontent.com/2105447/159370517-819d03e6-2f5e-4fe3-8f48-876

[2022-03-22 08:10] mvdbeek commented on #13589
Please don't set this to released milestones @guerler. What commit are you on, I don't have anything that could cause this error on line 26 of uploadbox.js. The error also says that you lost network connectivity, so that is probably the reason, and we only need to improve the error handling for the upload modal.

It works fine on dev and usegalaxy.org for me. Anything else you can add so that we a

[2022-03-22 09:35] martinwolst opened #13592 "Cleaner OIDC integration on login page"
Galaxy version: 21.09 1.dev0

Currently when I set:
[code]
and provide information in the oidc files to connect to my institutional Azure AD enterprise application, I get a 'Sign in with Azure' button added to the login page below the local login. When the user clicks the button they are correctly taken though authentication and dropped back to Galaxy when complete.

**Suggested change**

I only h

[2022-03-22 12:30] nsoranzo commented on #12257
Q: Should we drop `merge_duplicate_keys=True` from `_order_load_path()` in `lib/galaxy/config/config_manage.py` ? It was needed because uWSGI's YAML config allowed duplicated keys. But if we drop it, I think we cannot simply ignore the `uwsgi:` section of migrated `galaxy.yml` files, but we would need to ask admins to remove it, otherwise parsing may fail.

[2022-03-22 13:24] mvdbeek commented on #12257
I think we should slightly restructure the file. For the conversion path I think it's fine if we rewrite the config file without the uwsgi section, for the validation part it's fine to raise a validation error.

[2022-03-22 13:31] bernt-matthias commented on #13423
I'm not entirely sure, but this seems to be (partially) the case already. I added a test case here https://github.com/galaxyproject/galaxy/pull/12232:

https://github.com/galaxyproject/galaxy/blob/f8a19bd76134590f880ed8d09932f2644c4428d9/test/functional/tools/drill_down.xml#L64

So the current behavior is that in a `drill_down` with `hierarchy="recurse"` the selected node is not in the results (ex

[2022-03-22 14:15] nuwang commented on #13592
@martinwolst As I recall, this should already work. Try removing all authenticators from `auth_conf.xml` so it has an empty `<auth>` section. This should remove the local login option. Then, when you are down to only oidc provider, it should automatically redirect to the first available one.

[2022-03-22 14:57] #13320 closed

[2022-03-22 15:05] martinwolst commented on #13592
@nuwang I hadn't been using an auth_conf.xml file, I'm using the OIDC authentication built in to Galaxy: https://galaxyproject.org/authnz/config/oidc/

If I add an auth_conf.xml with an empty <auth> block and configure it in galaxy.yml I get a 502 bad gateway error.

[2022-03-22 15:14] dannon commented on #10075
@ahmedhamidawan Linking you in on this; it might be worth taking a look at the issues outlined here for context.

[2022-03-22 15:27] nuwang commented on #13592
Also add `require_login: true`

[2022-03-22 17:01] martinwolst commented on #13592
is configured, I suspect I'm using a different setup to what you are looking at

[2022-03-23 11:34] #13542 closed

[2022-03-23 12:39] davelopez opened #13597 "Quotas form in Admin panel doesn't populate options"
**Describe the bug**
A clear and concise description of what the bug is.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01
Commit: 3231165d7c3d9b93dfa5d3c5b99f8550d21fc3bf

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have quotas enabled in your config
2. Log in as Admin
3. Go to http://127.0.0.1:8080/admin/form/create_quota
4. Observe that

[2022-03-23 12:42] davelopez commented on #10859
xref https://github.com/galaxyproject/galaxy/pull/13113

[2022-03-23 13:17] martenson opened #13599 "api documentation for usegalaxy.org is not accessible"
per https://docs.galaxyproject.org/en/latest/admin/migrating_to_gunicorn.html there should be api documentation at https://usegalaxy.org/api/docs

This works locally, but is not hosted on Main despite running Galaxy version 22.01.rc1, commit [c14eca964941197dd47c37cfafef274d82ebf80e](https://github.com/galaxyproject/galaxy/commit/c14eca964941197dd47c37cfafef274d82ebf80e)

[2022-03-23 13:23] dannon commented on #13599
I think this is because main's still running uwsgi, not gunicorn yet.

[2022-03-23 13:26] martenson commented on #13599
Seems this is going to get resolved with update to playbooks then. Thanks @dannon!

[2022-03-23 13:26] #13599 closed

[2022-03-23 16:38] bernt-matthias commented on #13586
My fix (https://github.com/galaxyproject/galaxy/pull/13602) would be to create the config file always as `job_directory/configs/TMPNAME` and let the cheetah variable point to it. If a filename is given an additional symlink pointing to `job_directory/configs/TMPNAME`  is created in workdir.

Guess this was "broken" since at least 8 years.

[2022-03-23 17:13] nuwang commented on #13592
@martinwolst I just tried it on a local clone and it works as expected.
![image](https://user-images.githubusercontent.com/2070605/159757089-2c2075a4-de7f-4766-b2ac-60b620933ee1.png)

[2022-03-23 17:17] nuwang commented on #13592
Here's the PR that adds this functionality: https://github.com/galaxyproject/galaxy/pull/9115
Can you check whether you have that commit included?

[2022-03-23 19:52] itisAliRH opened #13603 "New History: item buttons disappear with a long name"
If a history item name is too long, the action buttons will disappear.

Galaxy Version: `22.05 dev0`
Commit: 248d96d3beca93381389d4829760ca269c2f3597

**To Reproduce**
1. Create a new history item with a long name

**Screenshots**
![Screen Shot 2022-03-23 at 23 59 04](https://user-images.githubusercontent.com/8046843/159783662-bd6c028e-a54c-4957-9570-44df3e8d35a0.png)

[2022-03-23 20:32] gecage952 opened #13605 "Add Proof Key for Code Exchange (PKCE) support"
Hi, currently when using OIDC integration, I've found that there doesn't seem to be support for the Proof Key for Code Exchange (PKCE) spec that some OIDC providers require or encourage. The spec is detailed here: https://datatracker.ietf.org/doc/html/rfc7636. On a local fork, I've managed to put a rough fix for it, but I wanted to open an actual issue on here about it. Essentially, in the OIDC au

[2022-03-23 21:41] bernt-matthias opened #13607 "Extract datasets fails for list of pairs"
**Describe the bug**

When using a list of pairs as input to `Extract datasets` and one of the identifiers of the pairs I get

[code]

A collection is created (only shown after a refresh of the history. That suggests to contain 3 elements. Clicking on it leaves me with a blank history pane.

**Galaxy Version and/or server at which you observed the bug**

usegalaxy.eu

**To Reproduce**

Se above.

[2022-03-23 22:32] #13603 closed

[2022-03-23 22:54] bgruening commented on #13605
@afgane @nuwang do you have any idea here?

Thanks @gecage952!

[2022-03-24 08:58] mvdbeek opened #13609 "Uppercase tool id breaks linting"
[code]
the problem was `<tool ID="bellerophon" name="bellerophon" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="20.01">`. Not sure if we want to bail or not, but we do need to improve the reporting at a minimum.

[2022-03-24 09:05] mvdbeek commented on #13589
Still working for me. Do you always see the network error that you have in your screenshot above ? What browser is this ?

[2022-03-24 09:07] mvdbeek opened #13610 "Upload pasted content via tus"
By turning the text into a file.

[2022-03-24 10:23] guerler commented on #13589
It's possible that this only occurs when using `sqlite`. Nevertheless I added a small fix which ensures that the server error contains details before passing it to the callback function.

[2022-03-24 14:02] afgane commented on #13605
I'm not familiar with PKCE but if it's provider specific config option, I'd think adding an option to `oidc_backends_config.xml` would be reasonable. @gecage952, if you have something working, feel free to issue a PR and we can go from there. Thanks for brining this up.

[2022-03-24 15:18] itisAliRH commented on #13452
I can fix it :)

[2022-03-24 15:21] ic4f commented on #13494
Removing milestone, as this is contingent on SQLAlchemy 2.0

[2022-03-24 15:24] jmchilton commented on #13393
The idea I had at the meeting is to just display this information in the editor and continue to depend on the order of the nodes. This avoids modifying the representation and requiring a UI for specifying this.

[2022-03-24 15:26] itisAliRH commented on #13368
@mvdbeek

[2022-03-24 15:29] bernt-matthias commented on #13360
If connected to a tool text parameter one should just reuse the tool validators, or?

[2022-03-24 15:30] nsoranzo commented on #13279
1.1.2 came out but breaks integration tests, we need a new release with https://github.com/irods/python-irodsclient/pull/357

[2022-03-24 15:31] mvdbeek commented on #11636
@dannon can you put this on a UI/UX project ?

[2022-03-24 15:32] #9819 closed

[2022-03-24 15:40] mvdbeek commented on #13360
That would be one way to do it, but there's no information on the frontend on how to do this. Also the connected tool parameter may be more "permissive". Say you want to allow text that starts with certain characters or have a minimum length, but the tool itself allows any kind of text.

[2022-03-24 16:19] gecage952 commented on #13605
Yeah, no problem. I'll look into opening one up when I get the chance.

[2022-03-24 16:35] mvdbeek opened #13615 "Port when (conditonal) handling back into core + ga/format2"
https://github.com/common-workflow-lab/galaxy/issues/131

[2022-03-24 16:39] simonbray commented on #13393
Sounds good, especially if there is a hover text explaining what determines this order :+1:

A random thing which just occurred to me: the fact that positions can be negative is a bug here, since `math.sqrt(_.position["left"] ** 2 + _.position["top"] ** 2)` measures the distance to the origin (the top left of the window it seems?) and if you drag the window around the origin moves, so the order of

[2022-03-24 16:44] mvdbeek commented on #13393
Do you want to take a look at that @simonbray ?

[2022-03-24 21:19] ic4f opened #13617 "The context manager that is supposed to silence a migration error doesn't work for postgresql."
The context manager that is supposed to silence a migration error (#13595) doesn't work for postgresql. As per Mike Bayer (author of Alembic and SQLAlchemy), "when an integrity error is issued by Postgresql, such as attempting to insert a primary key that already exists, the ongoing transaction is then marked as invalid. If you try to do anything else in the transaction, you get that error." ([ref

[2022-03-24 23:21] ic4f commented on #13617
So, if we know the cause of this error (e.g. a revision is being executed on a database that already contains the change specified in the revision), we can just use the `stamp` command to stamp the database with the correct version. For example, if the `alembic_version` table is empty or has incorrect values, we can restore the correct versions for both gxy and tsi models (galaxy and tool shed ins

[2022-03-25 01:44] innovate-invent opened #13619 "Expensive Quay.io query repeated for every tool invocation"
In a containerised tool setup, Galaxy is hammering quay.io, which then is blocked by them, causing tool invocation failures.

The issue is that `resolution_cache` is not being passed down through the `resolve()` call stack:
https://github.com/galaxyproject/galaxy/blob/9614a7ef53f54e253905901483efb5496451538a/lib/galaxy/tool_util/deps/containers.py#L314

`resolution_cache` is always None, causing `

[2022-03-25 08:48] elichad opened #13620 "Visualizations are not built correctly when using custom visualization directory"
**Describe the bug**
When using custom `visualization_plugins_directory`, the plugins in that folder are not built into `/static/plugins/<visualization_plugins_directory>` during the client build. In the UI, the visualizer names are displayed under the Visualize tab, but trying to run them gives a 404 error for chart types, and pulls the plugin from `/static/plugins/visualizations` for the mako ty

[2022-03-25 09:02] mvdbeek commented on #13617
Are you implying that deployers should run `run_alembic.sh` ? Can we not just check if the column is there ? This seems like a much better UX. I'm not super comfortable with users having to touch alembic outside of the manage_db.sh script.

[2022-03-25 09:06] mvdbeek commented on #13617
Alternatively, can we not just add those exceptions to the ignored exceptions in ignore_add_column_error ?

[2022-03-25 11:01] mvdbeek commented on #13368
@itisAliRH if you need help getting started let me know!

[2022-03-25 11:37] wm75 opened #13622 "Suggestion: Make "Upload Data" part of New History"
Since users are uploading the data into the current history it seems to make sense (to me at least) to have the button for opening the upload dialogue attached to the history panel instead of the tools bar (where it is located right now probably mostly for historic reasons).

Was working on a small screen today with the tools bar collapsed and wanted to upload data, that's how I got the idea :)

W

[2022-03-25 12:17] mvdbeek commented on #13622
I think that makes a lot sense. It used to be much more obvious that the upload is in fact a tool in the past, but that's not the case anymore.

[2022-03-25 15:01] ic4f commented on #13617
No, deployers shouldn't have to deal with alembic. The referenced PR fixes a specific bug which prevents running that particular alembic command. (which, still, helps solve the issue without touching the database)

Yes, and if I can't come up with a better solution, I'll do that. But I'm afraid it's not very scalable: that approach implies that we do a check for every type of database schema updat

[2022-03-25 15:05] mvdbeek commented on #13617
There are very limited circumstances in which we need to ignore an exception because the column may or may not be there. I don't think we need to come up with something general or re-usable.

[2022-03-25 15:14] ic4f commented on #13617
OK, I'll handle this (or, rather, this type of change) as a special case then.

[2022-03-25 15:52] #518 closed

[2022-03-26 19:44] itisAliRH commented on #13368
@mvdbeek I found the problem. The switch function used the `refresh_frame`, which only updates the legacy history
https://github.com/galaxyproject/galaxy/blob/43372cac7575dcc3e7ec3f476982878329f36629/lib/galaxy/webapps/galaxy/controllers/history.py#L359 in User>Histories, when clicking on the switch, this line fired. Then legacy history reloaded here https://github.com/galaxyproject/galaxy/blob/43

[2022-03-27 06:38] bernt-matthias commented on #13609
Is the tool parser also stumbling over this?

[2022-03-27 08:21] mvdbeek commented on #13368
Yeah, I think that looks like a good fix.

[2022-03-28 10:10] hexylena opened #13627 "Admins cannot use datasets for jobs, despite being able to access datasets"
As an admin I can see histories via bug reports, and even import them (because I'm an admin) but the datasets do not allow access, so I cannot run jobs in this history, using these datasets, despite my ability to *see*, download, edit metadata on, and use those datasets:

Running a job gives:
![image](https://user-images.githubusercontent.com/458683/160376350-c8f292da-fcce-4aca-b9d6-92e0c36f2853.p

[2022-03-28 10:13] mvdbeek commented on #13627
We also shouldn't return the numeric dataset id, should be encoded. Th error message is UI/UX thing, the permissions handling is on the backend.

[2022-03-28 10:14] hexylena commented on #13627
Oh, didn't even notice the unencoded ID, yikes, yeah. that should be fixed.

[2022-03-28 10:20] hexylena commented on #10859
Fixed in #13113

[2022-03-28 10:22] mvdbeek commented on #10859
This is just for already deleted datasets that can be purged for now. It is modular, but I think we should only close this when we can also select non-deleted datasets (but that's a little tricky, since you don't want to accidentally destroy collections or published data)

[2022-03-28 10:23] hexylena commented on #10859
Yeah, ok, that's fair based on my original text. I was too excited there for a second :)

[2022-03-28 10:43] davelopez commented on #13627
I'll have a look

[2022-03-28 11:51] davelopez commented on #13627
Just to make sure I'm following the correct steps for repro:

1. `user01` has a history with some datasets (I make sure it is private by using the `Make private` option)
2. Make the History *importable*
3. Log in as `admin`
4. Go to the history link generated in step 2 and **import the history**
5. Try to run any tool in one of the datasets

So if I follow those steps in 21.09 or 22.01 I can succe

[2022-03-28 11:54] hexylena commented on #13627
Step 2 is not correct, that step is skipped. The history is never shared or marked importable.

Instead, a bug report is submitted which gives the admin a link to the history via ID, and then that history can be imported.

[2022-03-28 15:54] #13589 closed

[2022-03-28 15:57] afgane commented on #13272
This paper has now been accepted for publication and with that we have to close the contributor collection. Thank you all for the contributions and keep up the great work so there is another opportunity for this type of paper in couple of years.

[2022-03-28 15:57] #13272 closed

[2022-03-28 16:22] mvdbeek commented on #12153
Done in https://github.com/galaxyproject/galaxy/pull/13601

[2022-03-28 16:23] mvdbeek commented on #13027
Looks like we've got this done in https://github.com/galaxyproject/galaxy/pull/13209, thanks @cat-bro!

[2022-03-28 16:23] #13027 closed

[2022-03-28 16:25] jmchilton commented on #13511
From https://dhruveshp.com/blog/2021/signal-propagation-on-slurm/:

So I would assume something like

[code]

or

[code]

would work? Anyone have a clean way to try this out quickly?

[2022-03-28 16:28] mvdbeek commented on #11004
Done in https://github.com/galaxyproject/galaxy/pull/11490

[2022-03-28 16:28] #11004 closed

[2022-03-28 16:34] #13617 closed

[2022-03-28 20:37] jmchilton commented on #13460
What does building that cache incrementally look like? We need all the repos to do the check there... we could cut out early if we encounter the repo name but then we need to track where we were and hope that the responses line up later on - which seems like unneeded, error prone complexity. Is there a way to divide the cache more finely that people had in mind?

[2022-03-28 23:21] dannon commented on #13525
@ahmedhamidawan Can you open a draft or WIP PR describing what you have so far?  I'd love to play with it.  This looks really promising, but I bet we can get it linked so we don't need to replace the button with a reset.

[2022-03-29 12:36] dannon commented on #11632
I think we've resolved the concerns here in the latest incarnation of the new history.

[2022-03-29 12:36] #11632 closed

[2022-03-29 12:59] dannon commented on #10947
Looks like everything in this has been addressed in the latest revisions of the new history.

[2022-03-29 12:59] #10947 closed

[2022-03-29 13:00] dannon commented on #12478
Just checked, this is fixed in the latest version of the new history.

[2022-03-29 13:07] dannon commented on #12479
This is fixed in the new history where we now use the central pane for editing these attributes.

[2022-03-29 13:07] #12479 closed

[2022-03-29 13:09] dannon commented on #12534
Pivoting back to the old endpoints combined with the new virtual scroller has resolved performance concerns here for now, thanks for all the profiling.  We'll want to take another look down the road as we make optimization passes, but I'll close this one out for now.

[2022-03-29 13:19] #13368 closed

[2022-03-29 13:40] dannon opened #13632 "Highlight inputs and outputs of a given dataset/collection in the history"
Highlight inputs and outputs of a given dataset/collection (immediate neighbors in the invocation chain need to be highlighted). For example, if I mouse over #16 (see image below), #15 is highlighted as an input and #31 as output. It is possible that either inputs or outputs are out of the view in a large history. We need ideas on how to deal with this situation. One idea is to have “show inputs/o

[2022-03-29 13:58] bgruening commented on #13632
Can we work here with advanced inputs? Long key-press (deep press down) will "pin" the dataset and hide all unrelated datasets behind an indicator (accordion style) and displays in and potentially outputs?

[2022-03-29 13:59] assuntad23 commented on #13272
We should also unpin this. @afgane @ic4f, can one of you do this?

[2022-03-29 14:00] dannon commented on #13632
@bgruening That's a cool idea that'd be fun to try.  It looks super straightforward with something like https://www.npmjs.com/package/vue-directive-long-press

[2022-03-29 14:18] dannon commented on #13510
First pass handled in #13512; we can continue to iterate.

[2022-03-29 14:18] #13510 closed

[2022-03-29 16:03] dannon commented on #13558
xref #13610 (maybe)

[2022-03-29 16:07] dannon commented on #13620
@dannon will follow up with @mvdbeek for showing where the config values are needed from javascript land

[2022-03-29 16:34] mvdbeek commented on #13366
Fixed in https://github.com/galaxyproject/galaxy/pull/13367

[2022-03-29 16:34] #13366 closed

[2022-03-29 19:04] mvdbeek opened #13637 "Tool stdout/stderr is included in Job stdout/stderr"
That's due to https://github.com/galaxyproject/galaxy/pull/13557, and because of https://github.com/galaxyproject/galaxy/blob/393151a7b3704eb174823864ca36efe06b56597e/lib/galaxy/model/__init__.py#L488 the tool stdout / tool stderr is duplicated in the stdout / stderr property of the job. I suppose we should use the old redirect instead of tee for traditional DRMs, so we include the tools' stdout/s

[2022-03-30 08:46] martinwolst commented on #13592
I do indeed have commit 9646d59 and can meet all the conditions that should make it work but it doesn't, so it's possible there has been a regression on the way to v21.09

[2022-03-30 09:19] nsoranzo commented on #13637
Just wanted to mention that the core of the issue seems that in /api/jobs/<JOB_ID>?full=True the job_stdout is duplicating tool_stdout instead of being empty/different.

[2022-03-30 09:35] hexylena commented on #10859
Honestly this issue would be solved by having dataset sizes in the /datasets/list view that I always forget exists. I know that doesn't address collections but, it could? maybe?

[2022-03-30 11:32] davelopez commented on #13609
For what it's worth, the `Galaxy Tools` extension detects this `ID` as an invalid attribute because of the XSD validation :stuck_out_tongue_winking_eye:

![Screenshot from 2022-03-30 13-13-58](https://user-images.githubusercontent.com/46503462/160822378-e18bb96d-5df9-4c73-8102-eea0b0e0f858.png)

I think this was already fixed in https://github.com/galaxyproject/galaxy/pull/12978/files#diff-6459136

[2022-03-30 12:25] nsoranzo opened #13638 "Unable to drag datasets in multiple histories view on Safari"
**Describe the bug**
During a training course using UseGalaxy.eu , a couple of trainees which were using Safari reported being unable to drag datasets in the multiple histories view.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://usegalaxy.eu/history/view_multiple using the Safari browser
2.

[2022-03-30 12:45] mvdbeek commented on #13609
Nice, that is probably it!

[2022-03-30 12:47] mvdbeek commented on #13609
@jmchilton can you comment on https://github.com/galaxyproject/planemo/pull/1203 please ? I think we should reach a decision there before releasing the new packages.

[2022-03-30 13:53] davelopez commented on #13479
Should be addressed by https://github.com/galaxyproject/galaxy/pull/13113#issuecomment-1063095520

[2022-03-30 13:53] #13479 closed

[2022-03-30 22:59] guerler opened #13645 "Cannot unselect, selected FTP files in the uploader popup"
**Describe the bug**
When clicking on the uploader FTP popup, a list appears, files selected once cannot be unselected.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (check <galaxy_url>/api/version if you don't know)
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Upload Data'
2. Click o

[2022-03-31 18:39] dannon commented on #13574
Discussed in UI/UX meeting.   Leaving this linked to the release notes is most appropriate, but we can add the extra version information in a tooltip.

[2022-03-31 20:15] guerler commented on #13198
This has been revised, now regular buttons with labels (`Save`, `Cancel`) are shown. Reopen if additions are required.

[2022-03-31 21:11] ahmedhamidawan commented on #13592
Hey @martinwolst, I was just wondering whether the basic idea of just setting `enable_oidc` to `true`, then seeing the OIDC option on the login page was working at your end. You can refer to the video in https://github.com/galaxyproject/galaxy/pull/13651, where I have demonstrated the minor change I have made to the registration page, but regardless of those changes, are you being able to see a si

[2022-04-01 07:25] lldelisle opened #13653 "Bug in Prefered language"
Here is what is happening on my firefox both on usegalaxy.eu and usegalaxy.org:
When I go to the webpage it is in French. I log in and it stays in French while I chose English. When I go to User Preferences Manage information, now it switches to English...
![bug_language](https://user-images.githubusercontent.com/30404086/161215315-e2a84e6d-3fab-439b-85ff-8e9a56ffcc72.gif)

[2022-04-01 09:52] hexylena commented on #13653
I've seen something similar in reverse, a student had it set to english, but it kept reverting to chinese (browser specified language)

[2022-04-01 13:26] dannon commented on #12596
Confirmed this is working fine in the new history now, which is what we're targeting.

[2022-04-01 13:26] #12596 closed

[2022-04-01 18:16] mvdbeek opened #13658 "Config schema for file_sources_conf.yml, reference user_preferences_extra_conf.yml"
The question came up on gitter:

We have a lot of examples in `file_sources_conf.yml`, but we don't mention `user_preferences_extra_conf.yml`. Ideally we'd also create a config schema for validation.

[2022-04-02 20:34] #13645 closed

[2022-04-03 18:30] bgruening commented on #13632
Not sure if this image makes anything more clear, haha - but here it goes.

![IMG_20220403_202031](https://user-images.githubusercontent.com/469983/161442732-e4c7e5fd-5700-4dc2-b87d-50263f7dbd5a.jpg)

[2022-04-03 18:35] bgruening opened #13663 "virtual click targets to enable fancy access to dataset functions"
Now that the new history comes into shape what about adding some virtual drop (as in drag-and-drop) targets.

![IMG_20220403_201950](https://user-images.githubusercontent.com/469983/161442851-c1d06ae0-eec8-48dd-a111-358a82c10b17.jpg)

When you drag a dataset the drop targets are highlighted. One obvious candidate is tool inputs, but we could also display some virtual ones (the circles in the image

[2022-04-03 18:36] bgruening commented on #13632
@dannon https://github.com/galaxyproject/galaxy/issues/13663 could be an additional or alternative way to "pin" a dataset.

[2022-04-04 09:05] hexylena commented on #13663
more radial menus are always good :p

![peek](https://user-images.githubusercontent.com/458683/161511195-a94e3ca8-ddc6-49c4-9c46-fc97de58eea3.gif)

[2022-04-04 09:10] mvdbeek commented on #13632
I don't know how I got assigned to this. I did make another suggestion, which was to separate datasets visually by their job id / job summary id. That should be relatively straightforward, and maybe that can be done for the next release, but I have a lot of other things that are higher priority. If someone wants to work on this I could give some hints on the API portion of this.

[2022-04-04 10:59] dannon commented on #13632
@mvdbeek I thought you had expressed interest when we talked about this a while back, no worries -- we can figure out who can take this on at the weekly meeting.

[2022-04-04 15:53] bernt-matthias commented on #5438
The responsible code is here: https://github.com/galaxyproject/galaxy/blob/2438d24667792fecb998a9730664c2280f39c491/lib/galaxy/tools/parameters/basic.py#L1429

Should be easy to use the column separator of the datatype.

But it would be even better to use the column names stored in the metadata, or? Is the name of the metadata element containing the column names standardized? Should be be cause al

[2022-04-04 18:05] ic4f commented on #13558
We had a discussion with @jmchilton (also see #13660) about this; but it's not clear yet what's the desired behavior here. When text is pasted, there's no trailing new line character, obviously. When the pasted content is uploaded and saved as a file, we add that character on the backend and inform the user via the message above (although the text is misleading, so that needs fixing anyway). On th

[2022-04-04 18:19] natefoo commented on #12887
Worth noting that for any existing purged-but-still-present datasets you will need to use the `-f/--force` option to force retry removal. This attempts to remove files associated with *all* purged datasets since dataset ID 1, so use with caution.

[2022-04-04 18:58] mvdbeek commented on #13558
That's not really a user thing, that's a reproducibility thing. We should do that, and not doing that seems to contradict

I was actually convinced that we tracked the transformations for file uploads as well. That we don't do this seems inconsistent, and IMO we should fix that, but it shouldn't affect the decision to upload pasted content as files one way or another. Either we intended to only tr

[2022-04-04 19:04] dannon commented on #13558
Stepping back from implementation details, I don't think it's unreasonable that pasted contents and uploaded files might be handled somewhat differently here.  For pasted contents, I think we should probably just always ensure that it ends with a newline and is a valid file.  I'm pasting a set of random text into a box *for Galaxy to make a file from* that I can use.  Nobody is thinking about newl

[2022-04-04 19:11] natefoo commented on #13597
Just hit this as well, and if you click "save" with either field blank, you get a generic 500 error in the UI and this in the logs:

[code]

Because they're not populated, you have to know what the valid values are.

[2022-04-04 19:12] ic4f commented on #13558
That's exactly my point! I think for pasted content that is not a uri the default behavior should be *creating a valid file*, and a trailing newline char is part of that.

Of course, my point was for pasted content only. I'm not suggesting any change to how we track modifications made to files.

[2022-04-04 19:20] mvdbeek commented on #13558
I disagree here. We've got the posix setting and the space to to tab setting, they should both work as expected and we shouldn't just hack in the newline.

[2022-04-04 19:22] dannon commented on #13558
@mvdbeek Don't show posix setting for pasted content?  I'm really wondering what use case is supported in *not* to add a newline here in pasted contents.

[2022-04-04 19:25] ic4f commented on #13558
Not even user error: the only way to explicitly do it is to hit enter before leaving the textbox. I'd say it's expected behavior (+1 to what's the use case of creating a file w/o a trailing newline?)

[2022-04-04 19:29] mvdbeek commented on #13558
You want to paste some content without newline that you got from a tutorial or whatnot ? It's not an important usecase, I just don't understand why you want to remove a working feature ?

[2022-04-04 19:33] mvdbeek commented on #13558
You shouldn't treat pasted content as a URI! It's what I've said in the UI meeting, and I've mentioned that https://github.com/galaxyproject/galaxy/issues/13610 would fix it.

[2022-04-04 19:35] ic4f commented on #13558
So this issue is referring to the "copy uri" icon and tool tip, not the three lines of text?

[2022-04-04 19:36] jmchilton commented on #13610
Just to clarify this for myself some... pasting content into usegalaxy.org results in a broken dataset source object content - it comes through as a URI instead of as pasted content.

```{"display_apps": [], "visualizations": [{"name": "editor", "html": "Editor", "description": "Manually edit text", "logo": null, "title": null, "target": "galaxy_main", "embeddable": false, "entry_point": {"type":

[2022-04-04 19:37] mvdbeek commented on #13558
I don't know what that means. pasted content is not a URI, so you should definitely not see the copy URI button. You can fix this by creating a Blob from the pasted content if it does not look like a URI.

[2022-04-04 19:41] ic4f commented on #13558
@mvdbeek Sorry, we discussed it not at the meeting, but in the UI channel - see our discussion on Wednesday: we discussed this particular solution: "(1) so, the text "Upon ingestion..." should NOT be displayed, right? The reason it is displayed is becuase the pasted content does not contain a trailing EOF; manually adding it solves the problem. So, if that's the case, the solution would be to appe

[2022-04-04 19:50] mvdbeek commented on #13558
I did suggest the blob in the meeting. Now I'm not gonna dictate how to implement the fix, hence I said "if that works", so we can see it in code. Now that I see it I do think that the blob is a better solution that closes 2 or 3 issues instead of just one.

[2022-04-04 19:56] ic4f commented on #13558
OK, so if pasted content is not uri(s), upload via tus  (#13610), otherwise no change to existing behavior.

[2022-04-04 20:07] jmchilton commented on #13558
https://github.com/galaxyproject/galaxy/pull/13669 fixes this. One can imagine all sorts of ways we could improve the tracking of non-URI data but I think getting to a state where we aren't tracking broken things in the database is the right start.

[2022-04-04 20:07] dannon commented on #13558
Reflecting from side conversation; I think we can also improve this a bit on the client with a few indicators showing  "This is a set of URLs" or "this will be created as a file with X, Y properties" right in the upload interface.  You still have one big box to paste into for convenience, but it can be a bit more informative without too much work.

[2022-04-05 09:16] mvdbeek commented on #11445
That's gonna be obsolete pretty soon with the move to the new history.

[2022-04-05 09:16] #11445 closed

[2022-04-05 09:33] davelopez commented on #13395
xref https://github.com/galaxyproject/galaxy/pull/13626

[2022-04-05 09:37] #13302 closed

[2022-04-05 09:48] davelopez commented on #13197
xref https://github.com/galaxyproject/galaxy/pull/13555#issuecomment-1085949818

[2022-04-05 18:15] dannon commented on #13592
@martinwolst Trying to help debug this one.  Can you share what exactly the auth_conf.xml looks like?

[2022-04-05 20:39] ahmedhamidawan commented on #13632
The idea I have as a first step is to add a `DatasetActions` button i.e.: `Show Inputs/Outputs`. Upon clicking that, the history will show inputs and outputs (highlighted differently) for the specific dataset/collection. This functions as (sort of) a filter for now. You can see what the button would look like below:

https://user-images.githubusercontent.com/78516064/161844675-4733093f-d0a7-40dc-8

[2022-04-06 01:33] dannon opened #13677 "Conversion of Multi-History view"
This needs to be swapped over to use the beta history component.  First pass should largely work the same way, but could address things like https://github.com/galaxyproject/galaxy/issues/13638 and provide a style refresh.

The current implementation (https://github.com/dannon/galaxy/blob/dev/client/src/mvc/history/multi-panel.js) is Backbone, so converting it to a proper component at the same tim

[2022-04-06 05:24] hnhnyigh opened #13678 "Error uploading data from disk"
Uploading data from disk results in the following error:

Galaxy Version: 22.01
Commit: d4001d18511fa9aba30da88fce5ee98f1b1a11bb
OS: CentOS 7.7.1908

**To Reproduce**
Steps to reproduce the behavior:
1. Install and configure a fresh copy of Galaxy 22.01 (leave tusd unconfigured)
2. Configure Apache/2.4.6 reverse proxy as per documentation (https://docs.galaxyproject.org/en/master/admin/apache.html

[2022-04-06 07:16] quacksawbones commented on #13678
Hitting the same issue. Uploads into Galaxy work perfectly fine as a stand-alone system without Apache, but as soon as I configure my Galaxy instance to run using Apache, my Galaxy refuses to upload files, despite having "tusd: enable: false" in my $GALAXY_ROOT/config/galaxy.yml and $GALAXY_ROOT/database/gravity/configstate.yaml

[2022-04-06 08:34] martinwolst commented on #13592
I didn't have an auth_conf.xml at all on the original setup, although I'm guessing there are defaults that mean the local login is active/displayed.

[2022-04-06 09:02] hexylena opened #13679 "Inaccessible datasets return 200 OK, rather than 403."
I had a user do the following procedure:

- right click save icon
- copy link
- `wget $link` in their terminal
- be confused by the HTML dataset (they only checked the file in a text editor briefly.)

I think this is incorrect behaviour, it should return 403 unauthorized rather than 200 OK + web page saying "inaccessible". This can be solved most simply with the following patch, but it loses the "

[2022-04-06 09:17] martinwolst commented on #13592
With just oidc enabled and no odic config files (this is what I think you suggested?) it builds, but I get a 502 Bad Gateway when I try to access galaxy

[2022-04-06 09:28] davelopez commented on #13679
I will suggest changing the download link to the API instead of the old client controller, something like:
[code]
This should take care of the proper error handling

[2022-04-06 09:29] hexylena commented on #13679
Ah, also a good option!

[2022-04-06 09:37] hexylena commented on #13679
I've had a go and couldn't make it work, so I leave it for someone more experienced in JS than me.

[2022-04-06 14:16] dannon commented on #13592
@martinwolst I think the configuration you're looking for is what you had at the start (`enable_oidc` set, `oidc_config.xml`
and `oidc_backends_config.xml` both existing and configured for your Azure AD), and now that we know 'auth_conf.xml` was missing -- add that from `auth_conf.xml.sample`, and then delete the inner localdb authenticator.

So it could look something like this:
[code]

[2022-04-06 18:30] mvdbeek commented on #13678
So, we're shipping Galaxy with a tus middleware. That works without any configuration and it cannot be disabled, this is the only way for uploading files via the frontend. You can enable an external tus server to speed this up, that is what you can set up in the gravity section of galaxy.yml.

I gave this a try and the missing piece is the `ProxyPreserveHost` directive that needs to be set to `on`

[2022-04-06 19:45] gecage952 commented on #13605
Hey, again. I opened a PR related to this issue and put some more info inside of it: https://github.com/galaxyproject/galaxy/pull/13683 .  This is my first pr to this project, so please let me know what things I should change, improve, etc. Thanks!

[2022-04-06 22:37] hnote123 opened #13684 "Deleted datasets won't delete"
I'm over my disk quota, but the datasets I've deleted won't permanently delete to free up the space. It says Internal Server Error (500)

![Capture](https://user-images.githubusercontent.com/102531973/162083707-01078763-b1ac-436a-b255-f50675916382.PNG)

[2022-04-06 23:02] bgruening commented on #13684
Can you please look into your Galaxy logs and tell us what you see if that error pops up? Thanks

[2022-04-07 01:28] quacksawbones commented on #13678
OK, so confirm I understand, tus middleware is deployed automatically with Galaxy. And unless you're using an _external_ tus client, you don't need to make any changes to the `tusd` settings in `$GALAXY_ROOT/config/galaxy.yml`.

Unfortunately, I've implemented the `ProxyPreserveHost on` line in my Apache config file and it doesn't seem to make a difference. I'm struggling to what changes when usin

[2022-04-07 09:52] mvdbeek commented on #13678
Yes

I guess you meant and external tus *server* ? That would be the only reason to change something there. You can use any tus client you like.

This is an example for another tus client, focused on developers. Doesn't make sense to include tusclient in the dependencies for this.

If you're not seeing Galaxy at all you have a different problem. Is your Galaxy instance being served at port 4001 vi

[2022-04-07 10:58] bgruening opened #13687 "configure specific object stores for Galaxy groups and/or roles"
It would be nice if we can enable specific object stores to specific groups/roles. A use case is that a specific community contributes its own (local) storage and it would be nice to enable this storage for this particular user group.

Is that already possible? If not, what should this configuration look like?

[code]

maybe?

[2022-04-07 11:04] mvdbeek commented on #13687
You should be able to send users to specific object stores via the destinations they are mapped to: https://github.com/galaxyproject/galaxy/pull/6552. Within a dynamic rule you should then be able to map a user to a role or other fancy things.

[2022-04-07 11:11] bgruening commented on #13687
But I would like to use the normal destinations and just use different storage. Does this mean I need to duplicate most of the destinations?

[2022-04-07 11:35] mvdbeek commented on #13687
I don't know. Maybe you can use one of the fancy job rule things to recreate your normal destinations and modify the object store id parameter. It shouldn't be too hard either to add an additional layer that maps users to preferred object stores. The
 ObjectStore Populator seems like it could be the right layer of abstraction. That's how it is used for jobs: https://github.com/mvdbeek/galaxy/blob/

[2022-04-07 12:16] quacksawbones commented on #13678
No, I am seeing Galaxy. Using the galaxy.conf above, I can connect to galaxy on my VM (192.168.56.105) from my laptop (192.168.56.1), paste data and process jobs, so it's not the connecting to Galaxy itself that is the issue. Gunicorn is also listening on port 4001 and I can telnet using port 4001 on the VM without an issue.

The upload problem doesn't happen when I serve Galaxy directly. But once

[2022-04-07 12:37] nsoranzo opened #13689 "`NoVersionTableError` if `database_connection` is set and `amqp_internal_connection` is not"
**Describe the bug**
If `database_connection` is set in `config/galaxy.yml` and `amqp_internal_connection` is not, Galaxy will use the same database for AMQP communications. When starting with no database, Celery starts first and populates the database with the `kombu_message` and `kombu_queue` tables. When Galaxy/gunicorn  tries to initialise the database, it's not empty and fails with the follow

[2022-04-07 12:41] nsoranzo commented on #13689
@ic4f Can you take look if you have some time, please?

[2022-04-07 12:53] #13679 closed

[2022-04-07 12:59] bgruening commented on #13687
That looks good, any idea how a configuration should look like?

[2022-04-07 13:08] mvdbeek commented on #13678
Can you check the JavaScript console of your browser for error messages ? The UI error in your screenshot that you're showing there is what the apache directive fixes.
You've restarted apache after adding the directive? The apache logs seem to indicate that nothing is running on 127.0.0.1:4001, but then you wouldn't see the interface at all, so that is odd.

[2022-04-07 13:18] mvdbeek commented on #13678
I guess the other thing to check is if you've enabled all the necessary modules and that apache is new enough (the docs say 2.3.3 for the ProxyPreserveHost directive). If I follow
https://github.com/tus/tusd/blob/master/examples/apache2.conf#L1-L4 you can do this with `sudo a2enmod ssl headers proxy proxy_http`. ssl is probably not needed if you're not serving https.

[2022-04-07 13:25] bgruening commented on #13687
@jmchilton let me know if you have a prefered syntaxed.

[2022-04-07 13:25] mvdbeek commented on #13687
Maybe using an additional `writeable` tag within the backend Or a permissions tag that we could later extend ? https://github.com/galaxyproject/galaxy/pull/10977 is adding a quota tag there, it could look like that ?

[2022-04-07 14:01] natefoo commented on #13687
Via static config would be a little clunky, for matching groups in the DB to groups in the config file, etc. It seems like if we want a way to do this beyond writing it in to your own dynamic job rule, we probably need a permission in the RBAC system we can associate with a role? Although then you would need a role to associate with the object store ID out of a config file...

There's also the que

[2022-04-07 23:29] hnhnyigh commented on #13678
Adding `ProxyPreserveHost on` to the apache config has not made any difference. I've also tried with and without apache_xsendfile to no avail. Any other ideas?

[2022-04-08 00:13] hnhnyigh commented on #13678
The Apache version is 2.4.6. All required modules are present and we are serving HTTPS via custom domain (e.g. https://galaxy.example.com).

[code]

The MS Edge dev console responds with:

Google Chrome:

Could the docs please be updated to include advice for handling this scenario in Apache?

[2022-04-08 02:56] ic4f opened #13692 "GRAVITY_STATE_DIR not respected when galaxy cloned into new location"
**Describe the bug**
Installing a fresh clone to a new location (*after having run galaxy from a different location*) and running via run.sh will reuse the value of `GRAVITY_STATE_DIR` from previous installation.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: dev
Commit: 308db49301d486cc0a1294120afb23d8d38bfe6a (fresh dev)

**To Reproduce**
1. never run galaxy
2. c

[2022-04-08 03:17] ic4f commented on #13689
Reproduced. Couldn't reproduce with postgres: celery starts first, tries to find the nonexistent database, restarts 6 times; but then galaxy takes over, creates and initialized the database and everything works. But with sqlite this errors.

I can fix this by simply treating a database as empty if it has those 2 tables - that's easy. Then all should work as expected. However, what about starting c

[2022-04-08 07:50] mvdbeek commented on #13678
They have been updated, you can follow the docs verbatim and you'll have a working configuration. The doc example is worked out completely in mvdbeek/galaxy_doc_examples, that example is serving https as well. Can you maybe post your apache config?

[2022-04-08 08:17] #13592 closed

[2022-04-08 09:44] nsoranzo commented on #13692
@ic4f Cannot reproduce by following your instructions, are you sure you don't have manually set `GRAVITY_STATE_DIR` in your terminal? Since #13685 Galaxy respects that setting if it's exported in the environment.

[2022-04-08 10:00] dannon commented on #13592
@martinwolst Great, glad it's working, and thanks for testing against the playbook as well!

[2022-04-08 11:49] nsoranzo commented on #13689
Not sure what's the best option here, to be honest. @mvdbeek any suggestion?

[2022-04-08 12:49] mvdbeek commented on #13689
Seems difficult to control the order of startup in a robust way, so if we can do

that would be my preference.

[2022-04-08 14:09] nsoranzo commented on #13692
Indeed! I'm not a fan of that hack as well, not sure which could be a better option though.

[2022-04-08 14:25] mvdbeek commented on #13132
Another application is the job_files endpoint that pulsar POSTs against. I talked with @natefoo and we agreed that as a first step we could re-use the existing `/api/upload/resumable_upload` endpoint to do the actual file upload, and then pass the session id, job id, and job key to the existing `/api/jobs/{job_id}/files` endpoint. All we'd have to do is check if the file is present in the tus uplo

[2022-04-08 14:31] natefoo commented on #13132
Thanks for summarizing so that when I ask you about using tus for job_files uploads in 3 months, having completely forgotten that we ever spoke of this, you can just point me to this comment. :wink:

[2022-04-08 14:33] mvdbeek commented on #13132
I'm gonna try to find some volunteers at the backend meeting on tuesday, barring that I will implement that next week ... maybe 😆 .

[2022-04-08 15:43] bgruening commented on #13687
Assuming __all__ jobs are going to a dynamic rule to determine the destination, we could set the object_store_id in as part of the dynamic job rules:
[code]

[2022-04-09 19:28] itisAliRH commented on #13638
@nsoranzo I tested with the latest `dev` branch, and it works.

![Untitled 2](https://user-images.githubusercontent.com/8046843/162588756-1fa73a06-cae6-4de1-b6dd-313156a42b71.gif)

[2022-04-09 19:55] nsoranzo commented on #13638
@itisAliRH Thanks for having a look, unfortunately I'm reporting on behalf of these users, so cannot give more details. Also for them it seems it started after

[2022-04-09 20:08] itisAliRH commented on #13638
@nsoranzo You're welcome :) This problem was fixed after the `21.09` release because it does not work for me at https://usegalaxy.eu/history/view_multiple.

[2022-04-09 20:08] #13638 closed

[2022-04-09 22:29] #13521 closed

[2022-04-10 18:41] #13525 closed

[2022-04-10 18:41] #13354 closed

[2022-04-11 12:50] nsoranzo commented on #13689
I can still reproduce the issue as described above because the check [here](https://github.com/galaxyproject/galaxy/pull/13700/files#diff-52bd4967267f38562fc83c7bb780a7482e870420aaeb4795b4e864cd55fad15dR259) is wrong (there is an additional hidden table `sqlite_sequence` in `metadata.tables`).

[2022-04-11 16:49] basic99 opened #13707 "permissions errror with slurm"
Galaxy version with slurm finishes slurm job but does not update history for 2 minutes.

{"version_major": "21.01", "extra": {}}

Galaxy is running slurm with a database tied to university researcher. Jobs are run on slurm and can see them finish in slurmd.log, but the history for the job does not show complete and turn green for 2 minutes.

The galaxy log has multiple entries for the first log an

[2022-04-11 17:17] #13689 closed

[2022-04-12 00:26] natefoo opened #13711 "Per-job conda environments are built regardless of auto_install whenever one or more deps exist but a mulled env does not exist for multi-requirement tools"
**Describe the bug**
If *no* requirements for a tool are resolved through conda, that is considered a resolution miss and the resolution process continues with the next resolver. However, if *any* requirement is found via conda for a tool with multiple requirements and there is not a mulled environment present, Galaxy will attempt to create a per-job environment for that tool, regardless of whethe

[2022-04-12 08:51] davelopez commented on #13684
Hi @hnote123, thanks for reporting!
As @bgruening suggested, the traceback or error message in your server logs will be really helpful to figure out what is wrong, otherwise, there's not much we can do to fix it.

[2022-04-12 13:16] #13620 closed

[2022-04-12 14:28] mvdbeek commented on #13711
👍 I think that's reasonable

[2022-04-12 15:09] bernt-matthias commented on #13707
Can you tell us who owns the files and which user runs the job and galaxy?

[2022-04-12 16:15] bgruening commented on #8202
xref from the WG meeting

https://github.com/galaxyproject/galaxy/pull/9809

It seems the file picker had the filter functionality ...

[2022-04-12 16:25] dannon commented on #8202
xref https://github.com/galaxyproject/galaxy/pull/13222; we'll want to handle drop (and direct selection) with more guardrails on the client with the new select components

[2022-04-12 16:44] basic99 commented on #13707
The university provides faculty with private storage of 20TB or more. The run.sh command and the handlers are both run under the faculty login name , ie icarbon. The galaxy install directory is also owned by icarbon. The files in research storage are owned by nobody.

[icarbon@vclvm178-23 icarbon_research]$ ls -al
total 6
d-----S---.  4 nobody nobody 4096 Mar  9 13:36 .
dr-xr-xr-x. 21 root   root

[2022-04-13 10:05] mvdbeek commented on #13619
The problem is that we're not using the persistent portion of the cache. Generating a new `ResolutionCache` instance for each request is intended, so we're getting up to date information from e.g listing images via `docker images` or listing conda environments from disk.

 fix is pretty simple:
[code]
but I'll do a little bit of refactoring so we can test and reuse this more easily, and add an exp

[2022-04-13 10:24] hexylena opened #13714 "[Feature Request] Multi-user histories (or: share read-write)"
In a discussion in wg-backend, @bgruening raised the issue of having a bot create histories that would then be maintained/edited/worked on by other user(s), with concern to it getting out of sync. @hexylena proposed multiple user histories which could solve the same issue.

## Use Cases

0. A bot creates a history and shares it with specific users who then need to maintain and work on it (VGP)
1.

[2022-04-13 11:40] hexylena opened #13715 "[Feature Request] Ownership transfer"
@bgruening says

It would be good to support transferring ownership. Ownership is really about transferring the history completely to someone else. I do not want the user generating a history that's transferred to stick around forever. Or I would like to remove users, that left academia, but preserve histories and the shareable-link ... GDrive also has this option to transfer ownerships, I guess i

[2022-04-13 14:17] davelopez commented on #13627
Fixed in https://github.com/galaxyproject/galaxy/pull/13628

[2022-04-13 14:17] #13627 closed

[2022-04-13 14:39] hexylena commented on #13627
thank you @davelopez this makes my life a lot nicer helping users with their bug reports, I really appreciate it!

[2022-04-13 15:35] bernt-matthias commented on #13707
The user Galaxy user (`icarbon`) needs to be able to write to the database dir (and its subdirectories). Is there a spacifix reason why the dir is owned by `nobody`?

So either you chown the directory or use an alternative (ACLs?) to allow writing by the Galaxy user.

[2022-04-13 20:10] ahmedhamidawan commented on #13632
Hello @mvdbeek, I have currently set it up so that once I press a button for the dataset, it toggles to an input/output view, where for now only the selected dataset is highlighted but eventually, the inputs/outputs for the dataset will be highlighted in different colors:
![out](https://user-images.githubusercontent.com/78516064/163261068-bffe861f-ad06-4c41-8c09-4e29311d184d.gif)
I was wondering i

[2022-04-13 20:29] gallardoalba commented on #12688
It seems that bwtool cannot be used because of license restrictions.

[2022-04-13 23:43] basic99 commented on #13707
The disk storage is provided by the university and they set the owner to nobody. The strange thing is that I can watch the slurm logs and tell exactly when the history will show complete since is is exactly 2 minutes after the slurm job is done.

[2022-04-14 05:47] hnhnyigh commented on #13678
Still no joy copying the docs. Here is the regular Apache 2.4.6 config:

[code]

[2022-04-14 06:55] eghasemy commented on #13064
Even after installing these, it still doesn't work for me. Any ideas on how to get past this error?

[2022-04-14 07:43] hexylena commented on #13064
@eghasemy the error usually changes, can you please share a new error output?

[2022-04-14 09:39] davelopez commented on #13607
I've reproduced the issue by providing an invalid element index to `Extract datasets` in my case. The new collection with 3 items appears in green in the old history (and white in the beta history). If you click the collection effectively leaves a blank history pane with the following console error:

[code]

The `element_type` for each collection element, in this case, is `null` breaking the colle

[2022-04-14 17:28] dannon commented on #13632
@ahmedhamidawan Absolutely; which branch should I play with?

[2022-04-14 17:34] ahmedhamidawan commented on #13632
Oh my bad, I haven't pushed yet, I have a lot of experimental changes that affect other files because I have been trying to figure out how to get the inputs/outputs for a dataset. I was just talking about the screencast I posted in the comment above and whether I had the right idea there. I'll also be making a draft PR where you'd be able to access the branch.

[2022-04-14 17:45] dannon commented on #13632
@ahmedhamidawan No worries.  So for the screencast -- yeah, as a vehicle for testing and displaying inputs/outputs I think a separate view like that is useful as a first step and maybe even useful beyond.  I do think we want to make sure whatever gets implemented for this can be integrated into the primary history list as an on-hover highlight (so, not requiring any clicks/expansion at all), but I

[2022-04-14 19:45] dannon opened #13731 "Job submission responsiveness (in new history)"
When we submit a job we don't explicitly kick an update to the new history.  It'd feel a lot snappier if we did, instead of waiting for the poll cycle.

Job submission could either emit an event that bubbled up -- or -- job submission could simply trigger the appropriate action in vuex.

[2022-04-14 19:46] mvdbeek commented on #13369
We're not using that endpoint anymore. Some of the tweaks in https://github.com/galaxyproject/galaxy/compare/dev...mvdbeek:optimize_views?expand=1 will still be worth implementing on a case by case basis

[2022-04-14 19:46] #13369 closed

[2022-04-14 19:48] dannon commented on #12493
Adding the counts at the top should be a straightforward addition for a new contributor -- we should already have the data locally and simply need to render it.

[2022-04-14 21:15] ahmedhamidawan commented on #13632
i have added functionality for identifying Inputs, will be working on Outputs
https://user-images.githubusercontent.com/78516064/163477044-ebc09684-b686-4174-8e9c-845e1f56fa8b.mov

[2022-04-15 07:35] mvdbeek commented on #13632
That's the id of the job that currently ran, and the job does contain the inputs and outputs.
I guess the best way to handle this  (currently, but we can work on this!) wouldbe a GET to /api/jobs/${this.jobId}/parameters_display, which would give you:
[code]

The issue here is that this only works with job ids, which only works with simple datasets. I think that's OK for a start though, we can aug

[2022-04-15 09:02] bgruening commented on #12493
UX question, what does the count indicate? Is there more use than an indication of how many datasets are hidden and deleted? The latter should maybe go into the new selection, grey bar? Maybe on mouseover?

Do we need this information to be seen all the time and waste space?

[2022-04-15 10:10] davelopez commented on #12493
IMHO I think the datasets counts should be pretty clear to the user at all times, otherwise, it may cause confusion when you have a lot of hidden datasets or you have an *empty* history with all datasets deleted (but not purged) or you go back to a really old history that you don't remember that well what was in... and situations like that.

I will also be in favor of counting the number of datase

[2022-04-16 12:53] dannon commented on #13328
@shivani-sangwan is taking a stab at this, converting the old forms-style interface to a new vue component for representing/resetting API keys.

[2022-04-16 13:05] itisAliRH commented on #12470
Fixed in #13705

[2022-04-16 13:05] #12470 closed

[2022-04-16 13:35] itisAliRH opened #13736 "Beta history: when unselecting an item which not rendered before selecting all, new rendered items unexpectedly will be unselected"
**Describe the bug**
By unselecting an item which not rendered before selecting all, new rendered items unexpectedly will be unselected, and selected counts will change by unselecting any item.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: `22.05`
Commit: 06a041fa0670d007f9ad3e8ab22b13bd7a95cc8a

**To Reproduce**
Steps to reproduce the behavior:
1. Watch the video

[2022-04-16 13:49] guerler commented on #13731
Yes, I think it's the latter, the job submission should take the resulting response and trigger a store mutation to populate the history item.

[2022-04-16 13:58] guerler commented on #13632
Question, can we instead expand the history contents filter so that entering e.g. `job=...` into the filter text will show all input datasets of that job?

[2022-04-16 17:24] bgruening opened #13737 "More fine grained API access"
It would be nice if we can provide more fine-grained API access to certain features.

Use-cases:

* a user wants to give another user read-only access to the account
* a user-support role should be able to debug user sessions, but not be able to install tools etc.
* automatic tool installation bots do not need access to data and user accounts
* if we have a notification system in place it would be

[2022-04-16 17:40] bgruening opened #13738 "Allow purging users, jobs completely from the DB"
Currently, it is not possible to purge users with all their associated jobs, HDAs etc from the database. To be GDPR compliant we overwrite the entries with nonsense, but they are still in the DB. Recently we have also accumulated huge amounts of entries in Galaxy with projects like COVID-19. Those bot accounts have 20+ more million jobs and we would like to remove this in a few years as well. We w

[2022-04-16 19:44] davelopez commented on #13736
Hi @itisAliRH, this behavior is by design, see https://github.com/galaxyproject/galaxy/pull/13555#issuecomment-1085966806 and the following comment for details.

I agree that, unfortunately, it may be confusing for the user, but there is no easy way to overcome this since you will need to keep track of 'negative selection' when you have a query selection in place.

This same behavior is what Gmail

[2022-04-17 15:16] mvdbeek commented on #13632
it's a good suggestion too, we'd have to play with this and see what is mor useful. i could imagine that it might be nice to see the other datasets that aren't selected as well, but the search means you don't have to manage scrolling to items that might not be loaded yet.

[2022-04-17 15:22] mvdbeek commented on #13731
You could also clear the provider polling interval instead. If you're rapidly creating new jobs (think multiple small uploads for example) and you're firing off one request per created job you'll quickly see requests piling up and coming in out of order.

[2022-04-17 15:27] guerler commented on #4708
Uploading pairs through the uploader interface seems to work well now. Closing this issue accordingly.

[2022-04-17 15:27] #4708 closed

[2022-04-17 16:02] guerler commented on #13200
Has been resolved in the revised new history, currently in dev.

[2022-04-17 16:02] #13200 closed

[2022-04-17 16:04] guerler commented on #13731
Thats an interesting idea, was considering different strategies on how to model this. Regulating the polling interval might be another good option.

[2022-04-17 16:10] guerler commented on #13395
Has been resolved in #13623.

[2022-04-17 16:10] #13395 closed

[2022-04-17 16:12] guerler commented on #13350
The new history shows the advanced filter panel instead of explaining the available options in a popup.

[2022-04-17 16:12] #13350 closed

[2022-04-17 16:15] guerler commented on #13197
Has been resolved and is being worked on within the context of the bulk operations as referenced.

[2022-04-17 16:15] #13197 closed

[2022-04-17 17:58] ahmedhamidawan commented on #13632
Yes I can definitely work on doing that too, I actually started by using a history filter instead of highlighting the datasets.

[2022-04-18 12:00] eghasemy commented on #13064
This is the error I'm getting. I'm working off of the master and I only changed the galaxy version to 22.01
[error.txt](https://github.com/galaxyproject/galaxy/files/8505491/error.txt)

[2022-04-18 12:05] dannon commented on #13064
In that traceback I see `"gyp ERR! stack Error: not found: make","` towards the top; if you've installed that then maybe there's a path issue going on here?

[2022-04-18 16:54] guerler commented on #12493
I don't think its a space issue, the only reason I avoided displaying that information was because the data was not in sync due to the multiple store issue and that we started of watching history items not the history object itself. But since #13721 this is not an issue anymore, so I'd suggest to just restore the display similar to the previous history. The data is now already available in the com

[2022-04-18 17:23] guerler commented on #12493
Note, the `item text is cut-off, resulting in incomplete item names and not displayed number of collection items` has been resolved in dev.

[2022-04-18 19:50] dannon opened #13741 "Throttle the scrolling speed across different browsers to improve cosmetics and avoid flickering."
I haven't seen a lot of this, but @guerler mentioned Safari specifically seemed flickery?

We should test safari/chrome/ff (manual observation testing) and report back here on sizeable (1k+) histories.

[2022-04-18 19:54] dannon opened #13742 "Populate advanced filter settings from regular search text on expansion, more intuitive filter adjustment for already selected area."
In the history search interface, currently the boxes show up empty regardless of input query.  We should be able to prefill, e.g. "Filter by name" in the image below could say foo.

![image](https://user-images.githubusercontent.com/155398/163868964-6d9dca15-d153-47f5-b076-76c0e6867218.png)

[2022-04-18 19:55] dannon opened #13743 "Restore collection progress bar, required data is already available in component"
Job state of collections is shown as a progress bar ( with text like `X of Y jobs completed`) in the old history, need to render this in the new history as well.

[2022-04-18 19:55] dannon opened #13744 "Restore displaying homogenous dataset collection indicator"
We added this in https://github.com/galaxyproject/galaxy/pull/13068, but that got dropped during the refactoring.  We need to add this feature back.

[2022-04-18 19:55] dannon opened #13745 "Add drag & drop to upload files."
This was discussed in a recent UI/UX meeting -- simply dragging a file from desktop onto a history (or just Galaxy -- anywhere?) should start an upload.

[2022-04-18 19:55] dannon opened #13746 "Restore scrolling position when returning from collection drilling to history."

[2022-04-18 20:02] guerler opened #13747 "Show only name tags in history dataset items not all tags."

[2022-04-18 20:04] guerler opened #13748 "Highlight filter text field to improve visibility when filter has been selected"

[2022-04-18 20:13] dannon opened #13749 "Total count in bulk operations list incorrect"
Might not be reactive?  In new history I've uploaded random text and ran a few jobs.  Then tried to select a few datasets and noticed the following:

![image](https://user-images.githubusercontent.com/155398/163870514-049da503-23d6-4d9d-a617-d14cd58c1e00.png)

[2022-04-18 20:17] dannon opened #13750 "Hidden/visible dataset fixes for new history"
The lock icon for hiding/unhiding is not ideal; pick a new one.  Eye, though obvious, isn't a good choice either since it's what we use for display.

Additionally, 'showing hidden datasets' in a history is now much less obvious.  You have to open the advanced search panel and uncheck 'show visible'.  The language here is much clearer as "show hidden", I think, and we could maybe add a toggle butto

[2022-04-18 20:21] ic4f commented on #13745
I'm working on the upload code, so I'll take this on, unless anyone prefers to handle it.

[2022-04-18 20:22] dannon commented on #13745
@ic4f Sounds good to me, thanks!

[2022-04-18 20:26] dannon opened #13751 "By default all intermediate datasets produced by workflow executions need to be hidden"

[2022-04-18 22:54] eghasemy commented on #13064
It would appear that I wasn't installing make correctly as part of the preceding tasks. The issue is now resolved for me.

[2022-04-18 23:53] dannon commented on #13064
Good to know. Thank you for the follow up!

[2022-04-18 23:53] dannon commented on #13064
Good to know. Thank you for the follow up!

[2022-04-18 23:54] #13064 closed

[2022-04-19 08:31] mvdbeek commented on #13750
I like what the old history does. Since https://github.com/galaxyproject/galaxy/pull/13752 restores the hidden counts it seems reasonable to restore the show hidden / show deleted overload on the counts.

[2022-04-19 08:49] davelopez commented on #13750
I agree with Marius, this may be more intuitive for current users. Also agree on using "Show hidden" will be much clearer for the search panel.

One thing to take into account is that toggling the hidden/deleted visibility in those counts should/must rewrite the actual search filter so the total counts for bulk operations are in synch.

[2022-04-19 08:58] bgruening commented on #13750
Very good point, I think we should change the user-visible filter as well. So that the user sees what is happening and gets encouraged to play around with the filter and learn the syntax.

[2022-04-19 09:03] davelopez commented on #13750
Yeah, definitely the `search text` and the `search panel` should be always in synch, I think this is part of #13742

[2022-04-19 09:56] hexylena commented on #13737
duplicate of https://github.com/galaxyproject/galaxy/issues/1524 :( I want it too, so so badly.

[2022-04-19 09:56] #13737 closed

[2022-04-19 09:57] hexylena commented on #1524
*from @bgruening in issue https://github.com/galaxyproject/galaxy/issues/13737 copied here due to additional use cases + nice screenshots*

It would be nice if we can provide more fine-grained API access to certain features.

Use-cases:

* a user wants to give another user read-only access to the account
* a user-support role should be able to debug user sessions, but not be able to install tools

[2022-04-19 10:13] bgruening commented on #13737
Upps, sorry was not able to find it. "Scoped API keys" sounds cool! Thanks.

[2022-04-19 10:14] hexylena commented on #13737
no worries! thanks for the nice screenshots, hopefully it makes it clearer for some future implementer what we need!

[2022-04-19 10:54] bgruening commented on #10920
More information in https://docs.google.com/presentation/d/1f1pjzldLnRwrdfhjlZmRw0bZqVA4qUnqoQ6dL1OI2Vw/

[2022-04-19 11:21] davelopez opened #13753 "Import workflow file from UI fails on `dev` branch"
**Describe the bug**
Importing a workflow file through the UI always fails validation.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: `dev`
Commit: f1d45a0fadf9a4b4c1be72af5b7356ebd9df467f

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Workflows`
2. Create or select a workflow and download it
3. Click `Import` and select the previously downloaded work

[2022-04-19 14:29] dannon opened #13756 "MSA and Phylocanvas Viz Issues"
I think these depended on globals that are no longer exposed in the same way, so they need an update.  A complication with MSA is that the upstream project needs updates as well (see surgery in https://github.com/galaxyproject/galaxy/pull/12782).  These both need to be converted to the new-style visualization autobuild/installation where we have control over build and deployment, and can be moved

[2022-04-19 15:12] martenson opened #13757 "galaxy creating invalid registry.xml in job working directory"
$ git clone git@github.com:galaxyproject/galaxy.git
$ cd galaxy/
$ python3 -m venv .venv
$ sh run.sh
$ make client

Run a simple upload job, it ends quickly with:

[code]

galaxy log:
[code]

The `/Users/marten/devel/temp/lxml/galaxy/database/jobs_directory/000/2/registry.xml` has 5MB, is invalid XML, and has 63 occurrences of `</registration>` -- parts of contents seem to be copied over many time

[2022-04-19 15:29] ahmedhamidawan commented on #13750
I'd like to take this one, if possible!

[2022-04-19 15:31] #11500 closed

[2022-04-19 15:31] #13753 closed

[2022-04-19 15:46] itisAliRH commented on #13736
@davelopez Hi :) Thanks for the comment. Gmail shows only 50 emails per page, and in my opinion, users can understand that every page has its own selection status even if the page changes and when selecting all, it asks for select in all emails on all pages (current query) or only this page. But we don't have pages here, and users are confused about what happened when scrolling down. My suggestion

[2022-04-19 15:58] davelopez commented on #13736
That was kind of the original solution, but event selecting the `shown items` is something relative :sweat_smile: it could mean only the items currently visible for the user or the items loaded in the cache? that's why we simplified to `Select all` means query selection.

But this is a good one for a bit of discussion in the meeting :wink:

[2022-04-19 16:17] dannon commented on #13731
First step would be to reset poll delay and request the update immediately.

[2022-04-19 16:19] dannon commented on #13750
New history doesn't have info on a dataset showing hidden/deleted either:

![image](https://user-images.githubusercontent.com/155398/164049776-396eab20-e327-4083-9026-03d086fe228e.png)

[2022-04-19 16:36] dannon commented on #13748
If there's a filter text make it more visible on hover, with highlight, etc.

[2022-04-19 17:15] davelopez opened #13763 "New collection turns green before final state"
Issue reported in chat by @qiagu

[code]

[2022-04-19 18:08] qiagu commented on #13763
@davelopez  Thanks for addressing this issue promptly.
To give a little bit more details, the premature green seems to happen during setting metadata stage and only emerges in history (The admin job/dataset details still show grey color, which seems correct).

[2022-04-19 18:20] dannon commented on #13328
Bonus points for doing https://github.com/galaxyproject/galaxy/issues/10742 at the same time.

[2022-04-19 18:54] afgane commented on #13328
This all will be great. In addition, although possibly a bigger task, it is conceivable a user would want multiple keys (for use in different applications) so having an option to store multiple API keys would also be nice.

[2022-04-19 20:41] natefoo commented on #13687
@bgruening and I have both tested the above in a dynamic rule and it works, presumably thanks to lazy dataset creation. Hopefully there are no remaining cases where dataset creation does not happen at job time?

[2022-04-19 20:42] natefoo commented on #13132
Did I volunteer for this? I think I did.

[2022-04-20 03:19] qiagu commented on #13763
After revisiting the issue more closely, I realize that issue was caused our job runner which changes the job state before setting metadata. Sorry, @davelopez , now feel free to close this issue. Thank you very much again for your time and quick response!

[2022-04-20 07:16] davelopez commented on #13763
No worries! Thanks for reporting back! :+1:

[2022-04-20 07:16] #13763 closed

[2022-04-20 08:23] #13558 closed

[2022-04-20 08:29] davelopez commented on #13607
Should be fixed by https://github.com/galaxyproject/galaxy/pull/13728

[2022-04-20 08:29] #13607 closed

[2022-04-20 11:12] mvdbeek commented on #13757
Do you have more information ? I can't reproduce this on a fresh clone. How's your job handling set up ? Did you activate another Galaxy instances' virtualenv before the listed commands ? `echo $GRAVITY_STATE_DIR` should be empty before you start the process.

that should've been taken care of by run.sh

[2022-04-20 12:15] martenson commented on #13757
I believe this is somehow specific to my setup. I created this issue in order to try to get to the bottom of it in case this affects more users.

This is fresh run so everything should be default/sample -- so local runner, gunicorn, galaxy.yml.sample

I deactivated other virtualenvs/conda envs before running this.

I did not check whether it was set before, but just did another run making sure it

[2022-04-20 12:38] mvdbeek commented on #13757
Any tool shed repositories installed ? Can you also paste the job logs and check `database/gravity/supervisor/supervisord.conf.d/_default_.d/galaxy_gunicorn_gunicorn.conf` for anything odd ?

[2022-04-20 14:26] #12371 closed

[2022-04-20 18:48] dannon commented on #8444
@bernt-matthias Is this still an issue for you at this point?

[2022-04-20 18:49] dannon commented on #12294
Fixed in #12295 (I think)

[2022-04-20 18:49] #12294 closed

[2022-04-20 19:15] dannon opened #13774 "Admin Job Lock (too easy to toggle)"
The administrative job lock is entirely too easy to accidentally toggle.

![image](https://user-images.githubusercontent.com/155398/164305242-cf291484-6ec2-4bb1-864c-ce5da5b315c6.png)

As a standard form input the label toggles the value for the checkbox, but I'd suggest at least one of the following things:
1) Don't make the text toggle the switch
2) Require an (at least when disabling job dispat

[2022-04-20 19:25] dannon commented on #13622
This came up again in a recent meeting; xref https://github.com/galaxyproject/galaxy/issues/13745

[2022-04-21 05:02] cat-bro opened #13775 "Updated tools disappear from tool search results"
**Describe the bug**
Updated tools have been disappearing from tool search results until the next time galaxy is restarted.  Users write into the help desk because busco has disappeared, for example. The tool is in the panel somewhere, but does not show up in a search.  This is happening for maybe 90% of the tools updated on Galaxy Australia.  Occasionally an updated tool will still appear in a to

[2022-04-21 08:27] hexylena commented on #13774
I'd vote for 2! (And maybe a message_box for admins indicating the lock?)

[2022-04-21 11:59] dannon commented on #13775
Fixed in #13776

[2022-04-21 11:59] #13775 closed

[2022-04-21 14:46] gallardoalba opened #13782 "HISAT2: Sus scrofa reference genome"
The Sus scrofa reference genome v.11.1 was requested by a user in [GHelp](https://help.galaxyproject.org/t/update-hisast2-with-latest-sus-scrofa-genome/7904).

- Genome link: https://useast.ensembl.org/Sus_scrofa/Info/Index

[2022-04-21 18:38] guerler commented on #3598
Seems to have been resolved, `core_galaxy_ui` is part of the selenium tests in current dev, and pass reliably. Closing this for now.

[2022-04-21 18:38] #3598 closed

[2022-04-21 18:42] guerler commented on #6540
`tour-ids` have been deprecated, instead input elements can now be accessed through `[id='form-element-NAME']`. All lookup tables have been dropped when the forms were vueified. Closing this for now, please re-open if I missed something here.

[2022-04-21 18:42] #6540 closed

[2022-04-21 18:44] guerler commented on #1423
xref: #13778

[2022-04-21 19:52] ic4f commented on #13715
On the database end, I think we might be able to safely set a new value to the `user_id` field in the `history` table. There are 17 tables that have foreign key constraints referencing the `history` table, with 8 of those tables also referencing the `galaxy_user` table - but I don't think any of these are likely to cause problems if the `user_id` changed on the `history` table. (I'm not sure thoug

[2022-04-21 19:54] ic4f commented on #13715
I've added the user deletion issue to the issue because transferring ownership will be required for some use cases of user deletion (when we don't want to drop some or all of the user-created db artifacts - histories and such..)
I'm also adding a to-do list to the description to keep track of items that may come up + those already mentioned on the backend channel.

[2022-04-21 20:37] ic4f commented on #13714
To store the read-write vs. read-only permissions we can add a column to `HistoryUserShareAssociation`. Could be a boolean (assuming "can write" is all we need to store per user/history association record).

[2022-04-22 04:36] ic4f commented on #13738
Removing a user record from the database is difficult. There are 53 tables that have foreign keys referencing the galaxy_user table. Deleting a row from that table would require handling all those potentially non-empty relationships. Given that the primary goal is to recover space, we would like to *delete* related rows, not set their user_id to null. This can be done with automated cascading dele

[2022-04-22 09:29] hexylena commented on #13714
what about re-sharing? Do we need a 'can-write', 'can-manage' permission?

(unrelated, xref https://github.com/galaxyproject/galaxy/issues/4602#issuecomment-424241416)

[2022-04-22 10:31] #13586 closed

[2022-04-22 16:58] #13744 closed

[2022-04-22 17:31] ahmedhamidawan commented on #13748
Does this seem like the right direction?:
**Before:**

https://user-images.githubusercontent.com/78516064/164765085-703ee7e3-5a86-4521-a519-4ec96d234a53.mov

**After:**

https://user-images.githubusercontent.com/78516064/164765112-ce01baec-3e09-4a7a-9f73-133b44dd066a.mov

[2022-04-22 18:35] hujambo-dunia commented on #13653
_Just in case anyone wants to reproduce this issue, here are the steps:_

1. **If not already (in French-speaking country), change Firefox's settings to French**
2. In Firefox (ideally, "Private Window"), select: Preferences/Settings >> General >> Language and Appearance >> Language >> "...for displaying menus"=`Français`, "...for displaying pages"=`French-Switzerland`
3. **Change your Galaxy's se

[2022-04-22 21:23] guerler opened #13796 "Restore Tour List View as Vue Component"
Follow-up for #13778. Reminder to create a new Tour overview/list component before 22.05.

[2022-04-23 02:34] wyan999 commented on #13678
Hi, I got the same issue as hnhnyigh reported.  The galaxy version I used is v22.01, apache 2.4.6, and centOS 7.9.
The apache configuration was identical to the doc from Marius (modified galaxy root and galaxy web address).  The error message from javascript was identical to the post from hnhnyigh's post,

"Mixed Content: The page at 'https://galaxy.example.com/' was loaded over HTTPS, but request

[2022-04-23 10:32] mvdbeek opened #13799 "Required tool data parameters get auto-filled when tool is run via API"
Just noting this here since it smells like a bug:
https://github.com/mvdbeek/galaxy/blob/dev/test/functional/tools/collection_creates_dynamic_list_of_pairs.xml#L16 has a required parameter `dummy`. When you run this tool via the API as in https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy_test/api/test_tools.py#L1737 the parameter is auto-filled if there is a dataset in the history. This

[2022-04-23 13:23] #7456 closed

[2022-04-23 13:25] dannon commented on #13796
@guerler Rebuilding this simple view in vue would be a good project for a new contributor.

[2022-04-24 17:26] bernt-matthias commented on #8444
No.

[2022-04-24 17:26] #8444 closed

[2022-04-24 23:08] guerler commented on #13632
With the most recent changes to #13740 it seems that instant highlighting works promising. I don't think, we'll need to add an actual job filter for now, and can instead focus on the instant highlighting strategy only.

[2022-04-25 08:28] davelopez commented on #13748
For me the border it's so subtle that is hard to see :sweat_smile:
Maybe changing the entire search box background to a light blue like when a dataset is selected?

[2022-04-25 08:30] ahmedhamidawan commented on #13748
Ah yes, my bad. I forgot to upload the screencast where I have that done already 🤦

[2022-04-25 12:13] #12688 closed

[2022-04-25 14:15] assuntad23 commented on #13731
@dannon @mvdbeek @guerler I don't feel confident picking up this task. I think someone else will be more suitable. I'm going to unassign myself.

[2022-04-25 14:18] dannon commented on #13731
@assuntad23 No worries; thanks for giving it a look!

[2022-04-25 18:31] bgruening commented on #13294
I think this was implemented in https://github.com/galaxyproject/galaxy/pull/13634

[2022-04-25 18:42] #13294 closed

[2022-04-25 22:30] ahmedhamidawan commented on #13750
Feel like this one depends on which icon is decided on in https://github.com/galaxyproject/galaxy/pull/13802

[2022-04-26 11:09] #11667 closed

[2022-04-26 12:43] dannon commented on #7582
This is resovled with the swap of our tour libraries.

[2022-04-26 12:43] #7582 closed

[2022-04-26 12:49] dannon commented on #8282
Looks like this is fixed; clean .venv and run_tool_shed.sh does install node and build a client now.

[2022-04-26 12:49] #8282 closed

[2022-04-26 12:51] dannon commented on #13750
@ahmedhamidawan Yep, the behavior is much better now and I definitely consider that part of it handled.

[2022-04-26 15:53] bgruening opened #13816 "Admin UI or user defined pluggable Galaxy file sources"
The Infrastructure for writing to pluggable Galaxy file sources exists now for a few releases. Thanks @jmchilton!

Mike has a use-case related to the ANIVL project, where it would be nice if an Admin or a user could add pluggable Galaxy file source plugins.

In an admin UI, I can imagine that Galaxy is writing to the https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/config/sample/file_so

[2022-04-26 23:56] #12658 closed

[2022-04-27 08:38] bgruening commented on #12597
@astrovsky01 can you test this with the new history please?

[2022-04-27 20:56] astrovsky01 commented on #12597
@bgruening this seems fixed, but the fix has made it so double quotes don't work with advanced search, while single quotes do

[2022-04-28 04:59] hnhnyigh commented on #13678
@wyan999 ended up working around the issue by switching to Nginx. See below:

[code]

[2022-04-28 05:51] hayeon-pak opened #13822 "When I started run.sh, I had this problem."
Hi :)

**Describe the bug**
I wanted to install galaxy tool in my linux server.
So I processed in the below order.
` git clone -b release_22.01 https://github.com/galaxyproject/galaxy.git`
`git fetch origin && git checkout release_22.01 && git pull --ff-only origin release_22.01`
`sh run.sh`

And then, the following process was repeated continuously for two days.
![image](https://user-images.githu

[2022-04-28 06:00] bgruening commented on #13822
Go to localhost:8080 and enjoy Galaxy. ☺️

[2022-04-28 07:32] lldelisle opened #13823 "Workflow extraction fails (in specific identified cases)"
**Describe the bug**
Extract workflow fails if input is collection output of job with multiple collections

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (check <galaxy_url>/api/version if you don't know)
I could reproduce it on usegalaxy.eu
[code]

**To Reproduce**
1. Get a fastq (I used:
[code]
)
2. Create a collection (list) with this fastq in (the bug can only

[2022-04-28 07:43] hayeon-pak commented on #13822
Oh...!!!
I thought it should to install dependencies or something more.
So, I just waited for this process to finish... lol
Thank you so much :)

But, I have one more question.
I added 8080 port to EC2 because I am using AWS. And I tried to connect to http://mylocalhost:8080.
But, I can't connect this site.
How process I have to try?

Thanks :)

[2022-04-28 10:23] lldelisle opened #13824 "Biomart tool fails"
**Describe the bug**
When I try to download info from biomartI get an error on the page:
![image](https://user-images.githubusercontent.com/30404086/165731464-61c60fd1-f5d9-427d-af82-8364511ced42.png)
and when I come back to my history I get a job which stays grey.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (check <galaxy_url>/api/version if you don't know)
Com

[2022-04-28 12:23] nsoranzo commented on #13824
Duplicate of https://github.com/galaxyproject/galaxy/issues/13455

[2022-04-28 12:23] #13824 closed

[2022-04-28 12:24] dannon commented on #13822
If it's not working then it's possible something went wrong earlier in startup.  Can you checck through the previous log statements in `gunicorn.log` (or just start it over and watch)?  What you're looking for in the logs to show a successful server start (prior to the periodic tasks) is something like this:
[code]

Once you check that, if it looks like it should be working, then I would try from

[2022-04-28 12:26] lldelisle commented on #13824
Thanks, sorry for that.

[2022-04-28 14:20] lldelisle commented on #13824
Thanks

[2022-04-28 14:46] davelopez commented on #13372
Sorry, I forgot about this one... Just to see if I understand correctly what needs to be done:

Should I pass the `wpData` to `WorkflowRunDefaultStep` and, if the step label matches any of the `wpData`, don't render that parameter because is already in the *Workflow Parameters* at the top?

I'm a bit out of context here :sweat_smile:

[2022-04-28 16:12] #13748 closed

[2022-04-28 17:04] davelopez commented on #13736
Is this a good candidate for using `popper.js` like in the new Tours https://github.com/galaxyproject/galaxy/pull/13778 but for making the user aware of how the selection changed from *all* to *just what is already loaded*?

Or maybe this https://atomiks.github.io/tippyjs/ which is based on `popper.js`?

[2022-04-28 17:11] dannon commented on #13736
Maybe something less intrusive, like an info ribbon that pops out at the top -- something like this?
![image](https://user-images.githubusercontent.com/155398/165807786-a8f41652-fa5e-496c-bcbb-f51693ec5f1d.png)

Or, maybe, we lean on toasts more?

[2022-04-28 17:14] davelopez commented on #13736
Thanks! Yeah I think that is good enough and way less intrusive, I just got excited with the cool Tours :laughing:

[2022-04-28 17:54] bgruening opened #13828 "Missing history batch operation"
Just discussed this with @wm75 and we thought the new batch operations are pretty cool. It would be nice to add the following options to it to make it really useful. We think those are the most missing features in the bulk operations:

* change datatype
* change dbkey
* add tag (maybe remove as well?)

To not overwhelm the current menu, we could add a `more options` entry to it, that opens a modal

[2022-04-29 01:08] hayeon-pak commented on #13822
Thank you for reply.

In my latest log, I can find

[2022-04-29 00:57:53 +0000] [14096] [INFO] Listening at: http://127.0.0.1:8080 (14096)
[2022-04-29 00:57:53 +0000] [14096] [INFO] Using worker: galaxy.webapps.galaxy.workers.Worker
[2022-04-29 00:57:53 +0000] [14256] [INFO] Booting worker with pid: 14256

So, I think galaxy server is successfully started.
And then, I tried
`http http://mylocalhos

[2022-04-29 01:12] dannon commented on #13822
I noticed you put `mylocalhost` again -- what url exactly are you using?  And, you're executing this command from the machine that Galaxy is running on, right?  What if you explicitly use `http://127.0.0.1:8080/` ?

[2022-04-29 01:23] hayeon-pak commented on #13822
My url is 'http://3.35.189.107:8080/'
'3.35.189.107' is remote host number of my sever.

My process was
1. `sh run.sh`
2. In web browser, I typed

[2022-04-29 02:25] dannon commented on #13822
Got it, that's what I was trying to debug -- so that's not going to work as it is currently set up since Galaxy is only listening to local connections.  .  So, right now, that Galaxy instance is only listening to local connections with the default configuration.  Look for this block in your galaxy.yml:
[code]

And you'll want to change that `localhost` to a more permissive bind (like `bind: 0.0.0.

[2022-04-29 15:39] dannon commented on #13747
Here's some history and more background of nametags:  https://github.com/galaxyproject/galaxy/pull/3704

The short answer is that 'name' tags are just regular tags that we display in a special way  (using a `#` shorthand, and unique coloration, and displaying them by default in the history, though that last bit is busted right now as they're *all* displaying).

Tags in general are just smple key:v

[2022-04-29 19:34] #13742 closed

[2022-04-29 19:58] mjbludwig commented on #13678
So what is official line here? Are we expected to setup external tus now? Apache being a proxy is extremely common I would think...

[2022-04-30 13:38] guerler commented on #13741
https://github.com/galaxyproject/galaxy/compare/dev...guerler:scrolling_experiment?expand=1

https://user-images.githubusercontent.com/2105447/166107875-e92f6baa-b320-4876-ae57-644c771bd412.mov

[2022-04-30 19:34] bgruening opened #13838 "More prominent invocation-view entry points"
It would be nice if the workflow innovation view could be accessed in more places - and with this be more prominent to a user.

Possible ideas, please add more:

1. make it possible to access all invocations in history from the history menu (only if there is a workflow in the history)
2. Show a link to a potential invocation if a job was part of it in the job info page
   * What happens to copied

[2022-05-01 16:51] bgruening opened #13840 "suggestions for the advanced history query menue"
This is the current advanced history filter:

![grafik](https://user-images.githubusercontent.com/469983/166155203-a2beb838-daed-4644-8339-3f52c9159bab.png)

It would be nice if we could:

* [ ] make the state filter a select box, I assume we only have a fixed set of allowed states
* [ ] the index filter could be a two-handed slider

![grafik](https://user-images.githubusercontent.com/469983/16615

[2022-05-01 16:54] bgruening opened #13841 "workflow list search enhancements"
I have those workflows:

![grafik](https://user-images.githubusercontent.com/469983/166150321-db1d5b8c-4f79-49be-afd6-a6208dd1b72a.png)

* [ ] Searching for **first** and **second** does not yield the tagged workflow.

![grafik](https://user-images.githubusercontent.com/469983/166150370-87ef7cd6-0a59-48c3-8724-bf38a48725a9.png)

It seems to not be possible to search for two tags.

![grafik](https:

[2022-05-03 08:53] davelopez commented on #13736
After a couple of tries, I finally went the `Toast` route with this in #13850
Adding a new alert inside the History panel seemed a bit more intrusive (from the code perspective).
I'm happy to try alternatives if this is not looking good enough :)

[2022-05-03 12:27] mvdbeek commented on #13736
A slot for custom content in the history panel shouldn't be considered intrusive but a necessity IMO. I think that'd be a much nicer experience than toast

[2022-05-03 12:32] dannon commented on #13736
Agreed; maybe the ribbon I proposed before just needs an animation to make it feel better?

[2022-05-03 12:53] davelopez commented on #13736
Thanks! I'll try an auto-dismissible alert using slots :+1:

[2022-05-03 13:51] dannon commented on #13822
@hayeon-pak Going to go ahead and close this one out, but feel free to reopen if you have more problems!

[2022-05-03 13:51] #13822 closed

[2022-05-03 13:57] mvdbeek opened #13851 "Data source tools and data manager tools should not write to output datasets in exec_before_jobs hook"
Ideally we'd create a config file instead, that's more explicit and would work better with pulsar

[2022-05-03 14:24] dannon opened #13852 "Workflow zoom enhancments"
Currently when zooming we leave the topleft point statically positioned and adjust the viewable area from there.  At least when using mousewheel zoom, if the cursor is over the canvas we should use that point as the central zoom focus to zoom 'towards'.  It would feel much, much more natural and would provide a nice reposition mechanism to be able to zoom out, point at what you want to see, then z

[2022-05-03 15:54] davelopez commented on #13736
Is this something more desirable?
![notify-query-break-2](https://user-images.githubusercontent.com/46503462/166489379-a3e4a0aa-c1f2-4cbb-bce3-5e58c4ffb5fd.gif)

[2022-05-03 16:16] bgruening opened #13854 "unnecessary page reload on the workflow list page"
On the workflow list page, http://127.0.0.1:8080/workflows/import we have page reloads when you click `create` or `import`.

![grafik](https://user-images.githubusercontent.com/469983/166493028-072aeab6-3429-48ed-8c20-b8cbcd83712a.png)

I don't think those are necessary. With all the love that has been put into this page, it would make every presentation of this part of Galaxy smoother if we can r

[2022-05-03 18:19] jmchilton commented on #13841
This is done in the latest grid improvement branch of mine - probably included #13839.

In general the UI is improved a lot in that PR and follow work in my jmchilton/galaxy#improved_grids branch.

The workflow search query syntax is an extension of the tool shed repository search and TRS search. Since a `like` is used and partial string matching and not a full match of the attribute - I would thi

[2022-05-03 18:31] martenson commented on #13841
fwiw I am with John here on the syntax.

However I would also appreciate unity in the syntax (and possibly keywords) as Bjoern mentions. Given history searching  has partial hits too, using the "github" separator with `:` seems appropriate and maybe we could push the unification the other way.

[2022-05-03 18:33] jmchilton commented on #13841
The logic problem with the current code when searching multiple tags:

[code]

[2022-05-03 18:51] jmchilton commented on #13841
The downstream fix for the tag problem looks like this: https://github.com/jmchilton/galaxy/commit/d0f22732fd2179168697f173c833f956b76989b0. It uses aliases to avoid applying the tag filter condition to the same join of the tag table or each tag.

[2022-05-03 18:52] bgruening commented on #13841
That's what is important imho. To have a coherent style to express search terms across Galaxy, preferably before the next release.

Thanks John!!!

[2022-05-03 18:58] #13749 closed

[2022-05-03 18:58] jmchilton commented on #13841
I would be happy to put the work into updating the history filtering if there is consensus to move in that direction. I would also like to add some drop-downs and hints into the new filtering panel there (like extension and state should have suggestions-on-type if not outright drop-down right?). The history panel has a lot of fingers on it though and I don't want to step on anyone toes if there is

[2022-05-03 19:07] bgruening commented on #13841
For dropdown and so on, please add your ideas here: https://github.com/galaxyproject/galaxy/issues/13840

I'm sure the UX team has people working on most of it. Please do not feel like this issue was for you. I just tested your awesome PRs and thought I will write everything down I see. Can we maybe join next weeks UX meeting to discuss the filtering syntax?

[2022-05-03 19:22] dannon commented on #13841
@bgruening For the filtering syntax that'd be a great idea -- what we talked about at the meeting today was just taking a survey of all the places we search/filter and note differences in style/keywords (@hujambo-dunia was going to take a pass at this this week), and then working on consensus for how to unify it at the meeting next week with that in front of us.

I really do like the github-style

[2022-05-04 13:26] mvdbeek commented on #13610
Done in https://github.com/galaxyproject/galaxy/pull/13770

[2022-05-04 13:26] #13610 closed

[2022-05-04 13:37] mr-c opened #13859 "galaxy packages __init__.py: RAW_CONTENT_URL points to non-existent repos"
https://github.com/galaxyproject/galaxy/blob/3bf949699967091c5bf86770efa6b387eddafd7d/packages/tool_util/galaxy/project_galaxy_tool_util.py#L9  → https://raw.github.com/galaxyproject/galaxy-tool-util/master/ → 400 invalid request; https://github.com/galaxyproject/galaxy-tool-util → 404

Doesn't seem to be used anywhere

Also, what is the story behind the "PROJECT_USERAME" typo?

I'll happily send

[2022-05-04 14:08] nsoranzo commented on #13859
I think both the `PROJECT_OWNER = PROJECT_USERAME = "galaxyproject"` and the `RAW_CONTENT_URL = f"https://raw.github.com/{PROJECT_USERAME}/{PROJECT_NAME}/master/"` lines can be safely removed from the `project_galaxy_util.py` files inside `packages/` . PR welcome!

[2022-05-04 20:27] guerler opened #13865 "Combine tag display and tag editing components in history"
There does not seem to be a need to show the tags and the tags editor separately in the history. Previously this was necessary since only name tags where constantly shown, but since we decided to show all tags those two components should be consolidated.

[2022-05-04 20:34] ahmedhamidawan commented on #13865
That's how `StatelessTags` show up by default so it would be a really quick and easy change

[2022-05-04 21:18] ahmedhamidawan commented on #13865
Right direction? Note that tags have been removed from `DatasetActions`

https://user-images.githubusercontent.com/78516064/166827403-327fa383-dad2-4bc1-825f-e8bd95822f32.mov

[2022-05-05 08:26] davelopez opened #13866 "Beta History: filter applied on summary counts doesn't take into account multiple dataset states"
Reported by @guerler

https://user-images.githubusercontent.com/2105447/166716715-e3c7e674-6756-4b7c-83c5-3a682722ce3e.mov

[2022-05-05 10:04] davelopez commented on #13866
Ok, I've reproduced this with just one dataset.

It seems to be unrelated to the bulk operations, looks more like an incoherence in the filtering and the dataset status.

![filter-issue](https://user-images.githubusercontent.com/46503462/166901837-5b971c16-4979-429e-b222-e007b8c34740.gif)

So, if we `delete` **and** `hide` a dataset the filter applied when clicking the summary counts icons simply

[2022-05-05 10:12] davelopez commented on #13866
@ahmedhamidawan do you want to take a look at it? otherwise, I can :)

Or we can discuss in the next UI/UX meeting what's the best approach to deal with multiple dataset states for those counts.

[2022-05-05 12:01] dannon commented on #13865
Hrmm.  The 'add tag' icon is more jarring and adds more clutter than I anticipated there.  Swapping the color and sizing to what we've standardized to for the other content item icons would help.  Maybe we also only show it on hover of the tag editor?

[2022-05-05 12:09] davelopez commented on #13865
Or show it only when the dataset is expanded so you are more explicitly "editing this dataset"?

[2022-05-05 12:12] dannon commented on #13865
@davelopez Great idea, I like that even better than just showing it on hover.

[2022-05-05 12:31] dannon commented on #13866
Backing up a step; I love how the new counts look but how widely used are hidden datasets and when is it actually useful to 1) have that information presented as separate counts, and 2) click the counter to see `only-hidden` vs `only-deleted`?  Maybe we just combine those two icons to one `inactive` (hidden or deleted) icon for the counters?

Users could still use the advanced filtering to find on

[2022-05-05 13:00] gmauro opened #13868 "The job finishes correctly, but Galaxy still shows it running."
**Describe the bug**
The job finished correctly, Galaxy removed the working directory and updated the job's state to 'ok' but then the UI still shows it  in running state.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 and 22.01

**To Reproduce**
don't know, I have seen this behaviour 2-3 times in some users history.

**Expected behavior**
if the state is 'ok

[2022-05-05 13:08] dannon opened #13869 "Galaxy Tool 'disabled' state."
The problem here is that administrators will occasionally want to prevent users from using a tool.  Could be for any reason, tool dependency issues, security issues, whatever.  Removing the tool from Galaxy completely works, but it's problematic because then you can't see previous runs (Galaxy has no concept of the tool or parameters, etc.).  Hiding tools to discourage use is another approach we'v

[2022-05-05 13:24] mvdbeek commented on #13868
Can you check your browser console for errors, and reload the page with the javascript console open ? I've not seen this in a long time, but it was buggy on 21.09. So either we have the same bug again, or the cache busting for the client isn't working right.

[2022-05-05 13:27] gmauro commented on #13868
seen from two different users, different browser, network, location,...

[2022-05-05 13:33] gmauro commented on #13868
Done, but I can't see anything relevant.

[2022-05-05 14:37] dannon commented on #13865
@ahmedhamidawan Yeah, there's some magic in there for customizing when/how we show the tag icon based on styles; I've had to touch it before.  Ping me if you run into problems

[2022-05-05 14:46] ahmedhamidawan commented on #13866
I think this might be the best option at least when it comes to the filtering summary count buttons:
- active: `deleted=false visible=true` (no `filterText`)
- deleted: `deleted=true visible=true`
- hidden-but-not-deleted: `deleted=false visible=false`

This way, we don't account for `deleted=true visible=false`, but for that:
- Do we make a further change to items so that whenever you deleted som

[2022-05-05 15:22] ahmedhamidawan commented on #13866
So, leave it (the `deleted` summary count) as is? i.e.: `deleted=true` but that assumes `visible=true`. I don't think we have an option to do `visible=true || visible=false`

[2022-05-05 16:19] ahmedhamidawan commented on #13865
Hows this?

https://user-images.githubusercontent.com/78516064/166967956-17a8645e-f913-4161-bd42-9acb23d4acc2.mov

[2022-05-05 17:17] ahmedhamidawan opened #13873 "Beta History: Cannot filter name tags: filterText does not find #name tags unless provided "name:""
The `filterText` field and advanced filter settings do not find name tags, unless you provide the leading `name:`.

**To Reproduce**
Steps to reproduce the behavior:
1. On the beta history panel, given that you have a name tag (e.g.: `#tag1`/`name:tag1`),
2. Search for it without the leading `name:` (e.g.: "tag1" or "#tag1"). Will return no results.
3. Search for it with the leading `name:` (e.g.:

[2022-05-06 01:43] wyan999 commented on #13678
@hnhnyigh Thank you for the input!  I finally got it work after upgrading apache.  The proxy module in Apache 2.4.6 may not work well, though the patches related with the proxy were applied and updated.  If you want to switch back to the Tus came with the galaxy, you can try to upgrade the apache to its newest version and apply the apache configuration from @mvdbeek, the upload function through lo

[2022-05-06 02:23] quacksawbones commented on #13678
@wyan999: Which version of Apache did you upgrade to? We've had the `tusd` issues present in Apache `2.4.6-90.el7.centos` on CentOS `7.7.1908` and Apache `2.4.6-97.el7.centos.5` on CentOS `7.9.2009`.

And what version of the proxy modules did you install/upgrade?

Thanks @wyan999 :)

[2022-05-06 02:53] wyan999 commented on #13678
@quacksawbones I used apache 2.4.53.  Apache 2.4.6-90 contains proxy patches, but it did not work well as the proxy module came with the newer version.

[2022-05-06 21:28] ahmedhamidawan opened #13882 "Need an api that returns outputs for a given dataset"
Currently, `api/datasets/${datasetId}/parameters_display?hda_ldda=hda` provides the parameters/inputs for a given dataset (i.e.: the returned value stores any datasets that might have been used in a job to make the current dataset). We also need an api/modification to a current api request that would return the outputs for a given dataset.

Will help implement output highlighting in https://github

[2022-05-07 16:22] bgruening commented on #5817
I have a general question. Is my understanding correct that I can only have one `Keycloak` provider? If so this does not make much sense. It feels like everyone is offering nowadays a Keycloak Idp and we have no way to support multiple ones.

Imho we are also lacking a way to specify a description field for the provider. See the below screenshot. The provider name "Keycloak" does not say anything

[2022-05-08 06:51] guerler commented on #13467
xref: #5472

[2022-05-08 10:57] bgruening commented on #9945
@bernt-matthias you have worked a lot on this recently. Can something of that be closed?

[2022-05-08 10:58] bgruening commented on #8554
If this is still an issue, we should bring this to the attention of the UX working group and the new history efforts.

[2022-05-08 11:06] mvdbeek commented on #8554
It's a backend issue.

[2022-05-08 11:11] bgruening opened #13885 "Add tags via the tool form"
A user recently raised the following feature request. It would be nice if we could add tags as part of the tool form and they would get associated with the new dataset(s).

The add-tag component could be added next to the execute button for example.

![grafik](https://user-images.githubusercontent.com/469983/167293393-edc8dcf1-30e4-492f-a652-87d8a6406f07.png)

In general, I think it's not super cl

[2022-05-08 15:35] mchlou commented on #13868
Hi, the problem still persists. any thoughts? thanks

[2022-05-08 15:41] guerler opened #13886 "Workflow editor throws console error when deleting node"
**Describe the bug**
When deleting a selected node in the workflow editor a console error is thrown and the right panel remains empty, previously the workflow options were shown.

**Galaxy Version and/or server at which you observed the bug**
Current dev.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Workflow editor
2. Create a nodes
3. Delete a node, notice the console error and

[2022-05-08 15:44] guerler opened #13887 "Expansion in Pages does not work anymore"
**Describe the bug**
Previously clicking on the arrow-icon in the page editor, expanded the content.

**Galaxy Version and/or server at which you observed the bug**
In dev.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pages
2. Add a dataset and view the page
3. Attempt to expand the content

**Expected behavior**
The content should expand and collapse.

**Screenshots**
![image](http

[2022-05-08 15:48] guerler opened #13888 "Dataset info view can freeze user interface"
**Describe the bug**
When clicking on the info icon for datasets which were part of large jobs with many other input datasets, the ui can freeze.

**Galaxy Version and/or server at which you observed the bug**
In dev.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a large number of FTP files e.g. 500
2. Click on `info` icon of one of the uploaded files
3. Notice how the UI becomes ve

[2022-05-08 16:28] davelopez opened #13889 "Bulk Operations: ensure consistent purged state"
<del>It seems directly purging datasets through the bulk operations endpoint does not ensure the dataset is also flagged as `deleted` for consistency.</del> It does, checked now with a test.
Also:
- Make sure that trying to **undelete** a `purged` dataset does not have any effect.
- **Purging** already `purged` datasets will have no effect (and we shouldn't expect a history change).
- Purging a `d

[2022-05-09 07:42] pavanvidem commented on #13885
thanks @bgruening!  This is indeed very useful for trying the same tool with different parameters and finding out  which parameter setting gives the best results. An  example usecase is mapping parameter optimization for non-standard datasets. The current workaround is to rename output files or even worse is to click on re-run button and check which parameter I used for each run. Both these option

[2022-05-09 08:46] bernt-matthias commented on #9945
Already started over here https://github.com/galaxyproject/planemo/pull/1167.. But stalled 🤔

[2022-05-09 10:04] hexylena commented on #13868
Yes, if you've failed via gxadmin then there's a second command you *must* run to ensure consistent state.

[code]

the second command will ensure coherency throughout but didn't feel safe to merge into fail-job (to keep the blast radius very limited.)

[2022-05-09 10:37] mvdbeek commented on #13889
As a note,

that might happen in Celery at any point after the request. I'm not sure how you want to deal with this, but that's probably an important gotcha. Set `enable_celery_tasks: true` in galaxy.yml and start Galaxy with run.sh to see that behavior.

[2022-05-09 13:22] afgane commented on #5817
My understanding is that at the moment there can only be a single Keycloak (or any other) provider type. The reason the token is placed in the `custos_authnz_token` (and why Keycloak is supported to begin with) is because Custos is relying on Keycloak so the interfaces are compatible and was straightforward to add Keycloak after Custos was implemented. Overall, yes, there's certainly room for impr

[2022-05-09 16:29] pavanvidem opened #13894 "Use Galaxy registered email id for error reports by default"
Here is a screen shot of the current error reporting form:
![image](https://user-images.githubusercontent.com/5268277/167450031-b3d731f7-2f0b-4f74-b4e1-b181641cb7ca.png)

Error report form allows manually entering an email address. A wrongly entered email id in **Please provide your email** field can result in:
- spamming a random email
- user might never get the reply from the administrators. Thi

[2022-05-09 18:17] #13736 closed

[2022-05-09 22:07] ahmedhamidawan commented on #13840
Made changes to state and creation time fields:

https://user-images.githubusercontent.com/78516064/167506553-a22e102e-edba-48e6-b5f5-7103586b6015.mov

I hope that's the idea. Still working on hid

[2022-05-10 11:01] vazovn opened #13896 "Allow anonymous users to import histories from Shared Data - Histories"
**Describe the bug**
When an anonymous users tries to import a shared history from `Shared Data` - `Histories` an error is thrown : "History could not be imported. ..." See attached file.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: {"version_major": "21.05", "version_minor": "1.dev0"}
Commit: NA

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https:

[2022-05-10 11:17] nsoranzo commented on #13896
Seems to work fine on 21.09 ( https://usegalaxy.org.au/ ) ?

@mvdbeek Before importing, the pop-up already warns the user: "As an anonymous user, unless you login or register, you will lose your current history after importing this history." , which I think it's fine (i.e. no need for the feature to be optional).

[2022-05-10 11:19] vazovn commented on #13896
I am fully happy with this. And _only_ one history is also fine. Just that we can not make it to the yellow pop-up.

[2022-05-10 12:25] martenson commented on #13774
It is not just the in-line label that triggers the silent settings, the above one does that too.

![lock_dispatch](https://user-images.githubusercontent.com/1814954/167627426-e382ced1-de6a-4def-abfc-49a98bcd237e.gif)

[2022-05-10 15:57] davelopez commented on #13889
is it a really really bad idea to flag the items as `deleted` and `purged` in the database before offloading the actual *purge* task to celery? :trollface:
that way we don't even need to wait for the celery task to finish to return from `Processing...` status.

[2022-05-10 16:13] dannon commented on #13888
xref #13882; we need a properly paginated endpoint for getting outputs of a job.

[2022-05-10 17:07] mvdbeek commented on #13889
No, I think that would be fine, although from the backend perspective ideally all of this would happen in Celery (deleting and purging).

[2022-05-10 21:18] sveinugu commented on #13896
The bug is present also in http://usegalaxy.eu, which is version 22.01

[2022-05-10 21:31] sveinugu commented on #13896
So looking closer at the error messages reveals that there is a difference between 21.05 and 22.01. The error message in 21.05 is:

"Uncaught exception in exposed API method:", "err_code": 0

In 22.01 the error message seems to be intended, however the error message does not harmonize with the text in the yellow box:

“You need to be logged in to create histories.", "err_code": 403001

Being able

[2022-05-10 21:37] davelopez commented on #13896
Yes, this is a regression and we are working on a fix, thanks for the details, and sorry for the inconvenience.

[2022-05-11 07:49] bgruening opened #13902 "job error with JWD tmp directory on 21.01"
The tool `devteam/concat/gops_concat_1/1.0.1` fails reproducible on EU with
[code]

It works on ORG, I assume it has something to do with `metadata_strategy: 'extended'`

[code]

[2022-05-11 08:19] mvdbeek commented on #13902
That's the FIFO files for redirected stdout and stderr. Has the job been resubmitted ? You can actually see those in `tmp.20220507-191546`

[2022-05-11 08:31] bgruening commented on #13902
I doubled checked with @gmauro  and we do not think it gets resubmitted.

yes, see the above `tree` output.

[2022-05-11 08:43] gmauro commented on #13902
this is what we have in the log:
[code]

[2022-05-11 09:50] MapleHe opened #13903 "Offline installer (or method) of galaxy"
Hi, developer,

If there is any offline method to install galaxy on computing server without internet access ? I've searched for keywords like "offline installer", "offline", "install galaxy without internet access", but there seems no releted solution. The merely one post I've found that mentions the topic is [here](https://lists.galaxyproject.org/archives/list/galaxy-user@lists.galaxyproject.org

[2022-05-11 11:16] mvdbeek commented on #13902
@gmauro @bgruening can you try https://github.com/mvdbeek/galaxy/commit/853ef69d0240010a7a9816bccd9185313a6b771e ?

[2022-05-11 11:49] gmauro commented on #13902
done and still failing but not showing `rm: cannot remove ...` message

[2022-05-11 11:52] gmauro commented on #13902
to add more details, the state of the job in the db is `ok` but the job's step in the history is red

[2022-05-11 11:55] gmauro commented on #13902
and the job working directory has been removed from Galaxy, so that means the job succeeded.

[2022-05-11 12:38] dannon commented on #13894
Discussed in @galaxyproject/wg-uiux; we will prefill/disable email field indicating the logged in user.  If anonymous, show a note about requiring registration for any response/correspondence.

[2022-05-11 12:46] pavanvidem commented on #13894
That sounds fair to me. They can analyze data anonymously but have to register to get support.

[2022-05-11 14:12] mvdbeek commented on #13902
I don't think the error message is related to that. What's recorded for tool_stdout, tool_stderr, job_stdout, job_stderr and exit code ?

[2022-05-11 14:44] gmauro commented on #13902
tool_stdout, tool_stderr, job_stdout are empty
job_stderr has the `rm: cannot remove ...` message
exit code is 0

[2022-05-11 15:01] davelopez commented on #13816
Yep, thanks for taking this one @jmchilton!

[2022-05-11 15:07] mvdbeek commented on #13902
That's with https://github.com/mvdbeek/galaxy/commit/853ef69d0240010a7a9816bccd9185313a6b771e ?

[2022-05-11 15:37] maikenp commented on #13511
Thanks for the suggestion. We finally implemented this, and it works as expected.

The only change being that the path to the container_config.json is in the subdir configs, not directly under `$workdir`:
```container_config="${workdir}/configs/container_config.json"```

So it is fine that this can be handled in an Epilog script, but is there a way that it could be handled by galaxy instead?

[2022-05-11 18:33] hujambo-dunia commented on #13886
Note: error occurs in Safari only.
_(Restated: error is suppressed/corrected/automatically accounted for in Chrome/Firefox.)_

[2022-05-12 07:23] bgruening commented on #13902
You commit fixed the `rm: connect remove` stuff. But the dataset is still red. It seems the job is in `ok` state and the dataset is in `error` state.

[2022-05-12 08:44] mvdbeek commented on #13902
There should be a structured message in the log telling you the failure reason. Can you find that one ?

[2022-05-12 09:47] hexylena commented on #13903
assuming the same path + python version, yeah, good point @nsoranzo

[2022-05-12 12:53] bgruening commented on #13902
I don't see any error:

[code]

[2022-05-12 13:34] mvdbeek commented on #13902
Ah, right, because of extended_metadata. There should be some more information in the `outputs_populated` directory.

[2022-05-12 13:49] bgruening commented on #13902
[code]

Not much useful in there ...

[2022-05-12 13:52] bgruening commented on #13902
[code]
What? State=ok?

[2022-05-12 16:16] dannon commented on #4350
This is resolved with the new history and bulk operations.

[2022-05-12 17:25] #7742 closed

[2022-05-12 18:00] mvdbeek commented on #13902
To update what we found out on gitter:

There is a code file with the following content:
[code]
this is of course a terrible way to do it and should be removed, and I think that might be the culprit here. Not sure though why `stderr` contains content, it seems to be null when it reaches the metadata script.

[2022-05-12 23:48] dannon commented on #13885
@tcollins2011 For reference a few code pointers to the email notification bit we talked about.
Here's the front end:
https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Tool/ToolForm.vue#L286
And the back end:
https://github.com/galaxyproject/galaxy/blame/dev/lib/galaxy/webapps/galaxy/services/tools.py#L173

And that's basically all it takes to get an input from the tool form an

[2022-05-13 08:03] MapleHe commented on #13903
Thank you for your suggestions and tips. So there is no "normal" way to offline install Galaxy.

I'm trying to package these related directories as suggested and will see if it works.

(It's weird that after the my first try of `run.sh` and then the deletion of first installation, I cannot reinstall galaxy now)

I shall close the issue now. Please comment if anyone has any other suggestion, or any

[2022-05-13 08:03] #13903 closed

[2022-05-13 13:43] natefoo commented on #13902
Regarding the fix in #13905, should we just convert that `rm` to `rm -f` instead of redirecting stderr?

[2022-05-13 13:50] nsoranzo commented on #13902
Agreed. Same applies to https://github.com/galaxyproject/galaxy/pull/13913 .

[2022-05-13 13:58] natefoo opened #13916 "CONVERTER_uncompressed_to_gz writes to input dir"
**Describe the bug**
CONVERTER_uncompressed_to_gz uses bgzip to create a compressed version of the input, and writes that to the correct output path, but it also generates an index that is written next to the input because of the use of the `-i` flag, which fails when the input dir is not writeable (such as when running in a container). Per the [bgzip documentation](http://www.htslib.org/doc/bgzip

[2022-05-13 14:41] gregvonkuster opened #13917 "Select all (data library) no longer restricts to current page"
Describe the bug & reproduce

Go in a library folder that contains more than the default / manually specified page size datasets
Use the select all check box to select datasets
All datasets in the entire folder are selected

Expected behavior
Only datasets that are displayed in the current page should be selected

I believe this is a recent change, and I'm not sure if it was intended.  We used to