[2021-10-08 13:18] dannon opened #12670 "[legacy client] ui-table"
Legacy backbone component ui-table.  Verify unused, then remove.

(for anyone who sees this -- mainly using this as a test for the beta project planning board, but it's a real issue, too!)

[2021-10-08 14:00] dannon opened #12672 "[legacy client] libraries cleanup"

[2021-10-08 14:12] OlegZharkov commented on #12672
There's actually more. There are still some backbone modals used in libraries code. Namely:

- [ ] client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-collection.js
- [ ] client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-dataset.js
- [ ] client/src/components/Libraries/LibraryFolder/TopToolbar/add-datasets.js
- [ ] client/src/components

[2021-10-08 14:21] dannon commented on #12672
@OlegZharkov Perfect, thanks!  I'll add those -- I just started with a pass through client/src/mvc and haven't kept pulling the thread yet :)

[2021-10-08 14:33] mvdbeek commented on #12667
https://github.com/galaxyproject/usegalaxy-playbook/blob/main/env/common/templates/galaxy/config/file_sources_conf.yml.j2

[2021-10-08 17:05] natefoo opened #12678 "Support using Slurm Accounting for concurrency limits"
Galaxy's internal concurrency limits are necessary because in most environments, Galaxy runs jobs as a single user, so you can't use your DRM's internal fairness algorithms for prioritizing users' jobs against each other. Without this, one user can stuff the DRM queue and all other users will have to wait for the first user's jobs to finish before their jobs will run.

Galaxy's concurrency limits

[2021-10-09 10:15] bernt-matthias opened #12680 "Add repo links to tool form"
Currently the `report error` button is the only means to report errors.

It might be an idea to automatically add links to

`remote_repository_url` and `homepage_url` to the tool help section. For github URLs one could use the open issue link directly.

So users may be more likely to open issues at the correct repos..

Maybe also a link to help.galaxyproject.org would be an idea.

Could be also go

[2021-10-09 16:30] #12667 closed

[2021-10-10 13:42] bernt-matthias opened #12683 "Fix/forbid collection input with `multiple="true"`"
**Describe the bug**

Seems that collection input with `multiple="true"` (ie `<param ...  type="data_collection" multiple="true"/>`) is possible but has some rough edges.

Problems:

- its used in Galaxy tests: https://github.com/galaxyproject/galaxy/blob/dev/test/functional/tools/collection_cat_group_tag.xml
- its used in IUC tools
  - https://github.com/galaxyproject/tools-iuc/blob/a04f64b68f22e

[2021-10-10 13:44] bernt-matthias opened #12684 "Fix / forbid collection input with `multiple="true"`"
**Describe the bug**

Seems that collection input with `multiple="true"` (ie `<param ...  type="data_collection" multiple="true"/>`) is possible but has some rough edges.

- its used in Galaxy tests: https://github.com/galaxyproject/galaxy/blob/dev/test/functional/tools/collection_cat_group_tag.xml
- its used in IUC tools
  - https://github.com/galaxyproject/tools-iuc/blob/a04f64b68f22ea44dbeb0423

[2021-10-11 09:57] gallardoalba opened #12688 "Requested converter: bigwig_to_wig"
Recently a user requested a tool for performing the conversion from bigwig to wig.

[2021-10-11 12:45] neurorepro opened #12689 "Executing run.sh detect conda but fails to install it in the created _galaxy_ environment, falling back to venv"
**Describe the bug**
I am setting up galaxy from the first time following these instructions. I have conda and while it is detected during the installation, and a conda environment `_galaxy_` is created, it looks like it fails and the setup is falling back to venv.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: release_21.01
Commit: 2fc27febbfe852272c7b2967a45b4842

[2021-10-11 12:56] #12689 closed, assigned to nobody

[2021-10-11 13:40] maikenp opened #12690 "Make History ID visible on the /history/view_multiple page"
Or even seen on the front page under the History name.

Since it is an option to the get and put functions used in the interactive tools, it will be very helpful to find the history id where it logically belongs. Of course this does not mean to remove it as part of the information of the dataset.

![Screenshot 2021-10-11 at 15 37 20](https://user-images.githubusercontent.com/22190352/136799565-cb1

[2021-10-11 22:55] neoformit opened #12692 "Interactive tool center panel missing entrypoint(s)"
**Describe the bug**
The Interactive tools "successful run UI" used to begin with a blue message box containing a link to the interactive tool entrypoint. I just updated from 21.05 to 21.09 and the blue message box has now disappeared. This creates a poor user experience as new IT users have no indication of how to access the running tool (through `User` > `Active interactive tools`).

If someone

[2021-10-12 11:21] Chinonyemildred opened #12693 "Make Primary Button more visible"
On the Galaxy public server [https://usegalaxy.org/](url), a primary button with Call-To-Action, **Upload Data** seems to be quite hidden. This is not necessarily because of its position (Top left corner) but because of its size.

A user gave feedback thus, "Sometimes locating certain tools/features on the web interface was like looking for the needle in a hay stack- especially true for the upload

[2021-10-12 15:23] Chinonyemildred commented on #12693
Thank you for bringing it to the right place :)

[2021-10-13 11:55] #12670 closed, assigned to dannon

[2021-10-13 14:44] ic4f commented on #12541
Running `test/unit/data/model/test_mapping.py` with the `SQLALCHEMY_WARN_20=1` flag triggers 1561 RemovedIn20Warning warnings. It is likely not as problematic as it looks: the set of root causes that account for these warnings is, I'm sure, much smaller and, therefore, manageable. However, I think it makes sense to address these by enabling the flag manually for each test run: otherwise the warnin

[2021-10-13 20:46] jmchilton opened #12699 "Celery Task Framework - figure out how to bind pydantic models."
I think we basically just have to tell Kombu about a new serializer that checks with objects are pydantic.BaseModel and serializes using pydantic if they are. I'm not sure how to configure the Kombu serializer in our context exactly though.

xref https://stackoverflow.com/a/22520957
xref https://docs.celeryproject.org/projects/kombu/en/master/userguide/serialization.html#guide-serialization

[2021-10-14 08:31] martenson opened #12704 "cannot export viz as a png"
**Describe the bug**
When I try to export a png image from a visualization I get 4023 JS console errors (similar to the one below) and no image is exported.

[code]

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: usegalaxy.org

**To Reproduce**
Steps to reproduce the behavior:
Go to a visualization and try to export a png image. I tried with `nvd3_horizontal`.

**Sc

[2021-10-14 08:53] martenson opened #12705 "page editor scrolls to the bottom each time element is added"
**Describe the bug**
When using Galaxy page editor the viewport scrolls to the bottom each time you add an element using the object panel inserter. This gets more confusing the more elements you have in the page.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: usegalaxy.org

**To Reproduce**
![editor-scroll](https://user-images.githubusercontent.com/1814954/13728431

[2021-10-14 19:35] jmchilton opened #12715 "Backend Support for Serving, Securing, and Cleaning Arbitrarily Generated Files"
History import/export is very heavy and creates stuff in the database we don't want. Page/Invocation reports take too long to generate and aren't things that should be happening in the web process. Options for serving library and dataset collection as compressed files are again probably too heavy for the web process and optimizations require tight integration with particular nginx stuff. It is all

[2021-10-15 07:37] nagoue opened #12716 "AttributeError: 'NoneType' object has no attribute 'user"
**Describe the bug**
A user try to delete some datasets collection and it failed. He got the following message:

**Extra Information from User**

{ "err_msg": "Uncaught exception in exposed API method:", "err_code": 0, "traceback": "Traceback (most recent call last):\n File \"lib/galaxy/web/framework/decorators.py\", line 295, in decorator\n rval = func(self, trans, *args, **kwargs)\n File \"lib/g

[2021-10-15 14:53] abretaud opened #12720 "ToolShed: get_ordered_installable_revisions returning nothing"
**Describe the bug**
This API call should return some revision number, but at the moment it returns an empty response, without any error:
`https://toolshed.g2.bx.psu.edu/api/repositories/get_ordered_installable_revisions?name=graphclust_align_cluster&owner=rnateam`
It's specific to this tool, and not sure if it's always the case, or just a temporary problem.
It's not the first time I notice this w

[2021-10-15 16:32] dannon commented on #12611
Fixed in #12702.

[2021-10-15 16:32] #12611 closed

[2021-10-15 16:37] #12635 closed

[2021-10-15 18:47] assuntad23 opened #12725 "Add Datatype Tab to Collection Edit View"
Add a Datatype Tab to force datasets in a collection to a datatype.

#11799 allows dbkey changes and conversion tools to run, but does not allow users to force to an unrelated datatype.

See #6965 for additional details on implementation and #11805 for some pre-work on a tool/backend to force the datatype change.

[2021-10-15 18:50] #6965 closed

[2021-10-16 09:56] mvdbeek commented on #5536
That's done with https://github.com/galaxyproject/galaxy/pull/12656

[2021-10-16 09:56] #5536 closed

[2021-10-16 09:58] mvdbeek commented on #12091
I don't think this is a Galaxy issue / one we can fix.

[2021-10-16 09:58] #12091 closed

[2021-10-16 09:58] mvdbeek commented on #9819
I think this is fixed with https://github.com/galaxyproject/galaxy/pull/12656, I'll leave it open until it's deployed on the usegalaxy.* instances.

[2021-10-17 09:13] martenson opened #12729 "mixing datasets when dragging from a collection to toolpanel"
**Describe the bug**
I have a collection of paired fastq.gz datasets, I wanted to run a fastqc on one of the forward reads so I dragged it into the tool panel and executed fastqc. Fastqc job ended up with this error (note the first line)

[code]

If I click on "run this job again I have this in the toolform:

![Galaxy___Europe](https://user-images.githubusercontent.com/1814954/137620327-b47dc0ea-3

[2021-10-18 10:10] martenson commented on #12729
@wm75 not sure about this, perhaps in combination with another bug, since this is not a value that was there before -- it is a dataset owned by someone else.

[2021-10-18 14:42] hexylena opened #12735 "Importing workflow fails when not logged in"
![image](https://user-images.githubusercontent.com/458683/137753370-01d85c23-e0b3-4824-9313-bb9f32a8ae39.png)

I clicked the link and it took me to

![image](https://user-images.githubusercontent.com/458683/137753527-16193c22-7a0a-4d59-9a92-9456fd8f3e10.png)

Expectation

- click link
- get redirected to login form
- login
- get redirected back to "workflow successfully imported"

[2021-10-18 18:07] martenson opened #12738 "EDAM toolpanel does not clean up its tooltips"
**Describe the bug**
When you switch to EDAM filter of the toolpanel, and then back to full panel the EDAM tooltips remain attached on the recycled list elements.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: usegalaxy.org

**Expected behavior**
tooltips should not appear or should contain relevant section text.

**Screenshots**
![Galaxy](https://user-images.githu

[2021-10-18 18:12] martenson opened #12740 "EDAM toolpanel renders labels that seemingly have no tools"
**Describe the bug**
When toolpanel is switched to "edam operations" it seem there are empty labels rendered, that have no operations/tools in it. On the screenshot below that would be "generation", "prediction and recognition", "validation".

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: usegalaxy.org

**Expected behavior**
Labels that have no content are not show

[2021-10-18 18:28] martenson opened #12741 "EDAM toolpanel: improve UX of external links"
**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: usegalaxy.org

**Describe the bug**
When toolpanel is switched to "edam operations" the panel renders an icon on hover that is generally used for accompanying an external link that opens in a new tab.

![Galaxy](https://user-images.githubusercontent.com/1814954/137785179-df00b0c7-4633-4bae-a9ee-7bec8425df43.png)

I find

[2021-10-18 23:05] Mariamuwane opened #12742 "Published Histories in User Profile"
Published histories showing in User's account.

I realized while trying to get the link for my published histories that I can only share a link per history. I was informed by @beatrizserrano  that my histories can be gotten using this template 'https://usegalaxy.eu/histories/list_published?f-username=<username>'. It works but I was hoping there could be a general link where I can get all my publis

[2021-10-19 13:22] #12704 closed

[2021-10-19 13:32] mvdbeek opened #12746 "Filename is not used when uploading files by URL"
**Describe the bug**
https://help.galaxyproject.org/t/datasets-transfer-from-usegalaxy-org-to-usegalaxy-eu/6856/19

We may want to keep the entered filename if it's different from the default ?

[2021-10-19 21:42] Mariamuwane commented on #12742
The mockup looks amazing. I am sure it will be effective once implemented. Thank you for showing this to me.

[2021-10-20 02:07] quacksawbones opened #12749 "AttributeError: 'NoneType' object has no attribute 'dataset'"
I was using a Python wrapper script to call one of the in built Galaxy scripts ($GALAXYDIR/scripts/api/library_upload_dir.py) to load/syncronise a number of data folders between our HPC cluster and our Galaxy instance. Unfortunately, after the script executed (and failed silently by the looks), I tried to navigate to an existing data library (that was one that was being synched), and I received th

[2021-10-20 12:33] wm75 opened #12753 "User -> Histories view sorting by Last Updated works only approximately (21.09 issue?)"
**Describe the bug**

Currently observed on usegalaxy.org (usegalaxy.eu not affected).

Oldest first:

![Screenshot from 2021-10-20 14-27-43](https://user-images.githubusercontent.com/4742081/138092770-95b8a50b-b771-4f18-ac49-19de8ed527b5.png)

Most recent first:

![Screenshot from 2021-10-20 14-30-39](https://user-images.githubusercontent.com/4742081/138092981-83a40c75-035d-4881-9ac9-f045948abcee

[2021-10-21 16:15] jennaj opened #12761 "Improve history export error reporting"
**Describe the bug**
1. Exporting to a link = fails
2. Exporting to a remote directory = fails
3. Typo in a link name (see "Reproduce" item 3)

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: Galaxy version 21.09.rc1, commit 01bf3d869671f13accabeedc224aa7ac9d8acb7e

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'History > Export to history to file'
2. Le

[2021-10-21 16:37] #12753 closed, assigned to dannon

[2021-10-22 08:15] scholtalbers opened #12766 "Unable to compile client due to incompatible g++ version when updating to 21.09"
**Describe the bug**

I updated to 21.09 (from 21.05) and upon compiling the client the following error showed:
[code]

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09
CentOS 7.7.1908
G++: 4.8.5 20150623

**To Reproduce**

**Expected behavior**
**Screenshots**

**Additional context**

Updating g++ with `conda install gxx` (alternatively `cxx-compiler`) in the g

[2021-10-22 10:06] gallardoalba opened #12768 "GFF to BED converter error"
**Describe the bug**
There are two GFF to BED converters in Galaxy:
- [GFF-to-BED converter](https://usegalaxy.org/root?tool_id=gff2bed1)
- [Convert GFF to BED](https://usegalaxy.org/root?tool_id=CONVERTER_gff_to_bed_0)

It seems that **GFF-to-BED converter** doesn't work properly.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

**To Reproduce**
History: [htt

[2021-10-22 11:15] Lovelyfin00 opened #12769 "Selecting multiple workflows? Bookmarking icon is potentially confusing"
When I go to the workflow tab and then I try to select multiple workflow. Once I select one and I try selecting another one, The page refreshes and the same thing repeats over and over.
![select multiple workflow](https://user-images.githubusercontent.com/38161296/138444822-68b10144-ed02-4a42-a8bf-cd7a11624e15.png)

---
*Original issue included these comments discussed below*

And also, I don’t kn

[2021-10-22 13:53] simonbray opened #12770 "[feature request] allow users to relax the workflow connection restrictions"
When connecting workflow nodes in the editor some connections are forbidden:

![image](https://user-images.githubusercontent.com/32272674/138463238-e3b58354-a815-4ad8-a640-4308f3f53bcb.png)

Obviously there should be some restraints on connections but I sometimes needed to override this behaviour. Probably the most common case was after designing a workflow with dataset inputs, to scale up the wor

[2021-10-22 19:03] #12768 closed, assigned to nobody

[2021-10-22 19:51] Lovelyfin00 opened #12776 "History is not captured in browser state, going back after switching history leaves you in the newly selected history"
I created multiple Histories but two are named train and test.

![multiple histories](https://user-images.githubusercontent.com/38161296/138513929-b7e8036f-c303-4fce-8f47-ef48dffae5d4.png)

In the train history, I visualized the data.

![visualze train data](https://user-images.githubusercontent.com/38161296/138513971-76a12ee8-fed6-43e3-8ce7-b717a0b15f23.png)

And then I decided to switched to the

[2021-10-25 15:05] gmauro opened #12777 "Limits on concurrent jobs for registered users are not working"
![Screenshot from 2021-10-25 16-53-37](https://user-images.githubusercontent.com/4559911/138719030-f821a830-ad08-47e8-b776-d98792301a6b.png)
We had a case of different users able to submit (and have them running) a number of jobs way more over our currently set limits.
We have a `registered_user_concurrent_jobs` limit set to 500, but for a single user, we had ~15k jobs running.
The user  has simpl

[2021-10-26 14:54] themorey opened #12784 "Azure AD auth errors with import ExpiredSignature"
**Describe the bug**
Configuring Azure AD auth fails trying to import `ExpiredSignature` from `jwt`

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01
Commit: '202bff420761c63fc30ac933630d72dd40496248'

**To Reproduce**
Steps to reproduce the behavior:
1. Configure `azure_provider.json` and `oidc_backends_config.xml` for Azure provider
2. Start Galaxy
3. See erro

[2021-10-27 09:18] abretaud opened #12789 "'BootstrapAdminUser' object has no attribute 'data_manager_histories'"
**Describe the bug**
I'm trying to run a data manager on usegalaxy.fr using ephemeris, and it fails with this error:

[code]
It only happens on the production instance, not the dev one. Maybe something specific with the admin user on this instance?

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.05
Commit: b39b6da4731358b5c4f5ca4d53a770423c778b2f

**To Reproduce*

[2021-10-27 09:31] rhpvorderman opened #12790 "--strict-channel-priority should be used with the conda resolver"
Related to  https://github.com/galaxyproject/galaxy/pull/12788

Bioconda best practices indicate that strict channel priority should be used: https://github.com/bioconda/bioconda-recipes/issues/13774

However this is not implemented in the conda resolver for galaxy yet. The difference between having this setting and not can be 15 seconds vs 3hours+ (10000+ seconds). Multiple orders of magnitude sl

[2021-10-27 14:15] mvdbeek opened #12794 "datasets/<dataset_id>/details needs error handling"
**Describe the bug**
Go to https://usegalaxy.org/datasets/bbd44e69cb8906b5bc018db8c13521e6/details, which is not a public dataset, and see the center panel stays empty. The console does log the error (which is a 500, different issue).

[2021-10-28 15:25] #12794 closed, assigned to nobody

[2021-10-28 15:26] #12789 closed, assigned to davelopez

[2021-10-28 19:58] wm75 opened #12804 "Collection elements linked to wrong dataset details until their jobs are finished"
On .org but seemingly not .eu when you click on the details (i) icon of any queued or running job in a collection, the linked to dataset details page is wrong and can contain the details of seemingly random jobs/datasets (not restricted to those from your account).

Once the job finishes, i.e., the collection element turns green everything's fine, but not before.

**To Reproduce**
Steps to reprodu

[2021-10-29 09:28] #12716 closed, assigned to nobody

[2021-10-29 09:30] #12705 closed, assigned to dannon

[2021-10-29 12:53] simonbray opened #12808 "Allow adding citations to Galaxy workflows"
Similar to the `<citations>` tag in tool wrappers.

[2021-10-30 07:19] mvdbeek commented on #11813
Pretty sure that's working by now.

[2021-10-30 07:25] mvdbeek commented on #10023
I think we've fixed this for good in https://github.com/galaxyproject/galaxy/pull/12390, which will be part of 21.09. I'm gonna close this but feel free to open again if you see this after updating to 21.09.

[2021-10-30 07:25] #10023 closed

[2021-10-30 07:29] mvdbeek commented on #12692
Yep, I think that is a bug.

[2021-10-30 09:44] bgruening commented on #12123
That is still relevant with your latest remote work, isn't it?

[2021-10-30 10:46] mvdbeek commented on #12749
Should be fixed in https://github.com/galaxyproject/galaxy/pull/12806

[2021-10-30 10:46] #12749 closed

[2021-10-30 14:14] #12769 closed

[2021-10-31 10:26] mvdbeek commented on #12804
Fixed in https://github.com/galaxyproject/galaxy/pull/12805

[2021-10-31 10:26] #12804 closed

[2021-10-31 10:27] mvdbeek commented on #12692
Thanks for the report @neoformit, this is fixed in https://github.com/galaxyproject/galaxy/pull/12814

[2021-10-31 10:27] #12692 closed

[2021-10-31 10:39] mvdbeek commented on #12181
That's working now on current 21.09

[2021-10-31 10:39] #12181 closed

[2021-10-31 11:54] mvdbeek commented on #11813
Nope, still failing

[2021-11-01 10:41] gallardoalba opened #12822 "Rendering on Operations in multiple datasets (spanish)"
**Describe the bug**
When using the Spanish version of Galaxy, operations in multiple datasets don't render well (two rows).

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

**To Reproduce**
Steps to reproduce the behavior:
1. Select Spanish as the default language.
2. Click on "Operaciones en conjuntos de datos múltiples" (operations in multiple datasets)
3.

[2021-11-01 10:45] mvdbeek commented on #12822
Does the beta history have the same problem ?

[2021-11-01 10:47] gallardoalba commented on #12822
Beta history seems to not be translated to Spanish at all.

[2021-11-01 11:53] jancrichter opened #12824 "Launching subworkflows multiple times question"
**Describe the bug**
Behaviour of subworkflow invocation seems to me inconsistent with what the workflow editor would suggest, especially in cases where collections are fed into a subworkflow. Dataset inputs seem to be simply treated like dataset collection inputs as soon as a collection is connected to them.

Sorry about the long read.

**Galaxy Version and/or server at which you observed the bug

[2021-11-01 12:08] jancrichter opened #12825 "Batch jobs triggered by "parameter collections" not correctly carried through in workflow editor"
**Describe the bug**
When a collection is used as file input for a tool this triggers all downstream jobs to be correctly displayed as outputting collections due to running in batch mode until tis is interrupted by a tool that consumes collections or data inputs with multiple="true".

While using "parse parameter value" or other expression tools on collections of files will produce a "collection o

[2021-11-01 17:26] #11940 closed

[2021-11-01 17:26] #12442 closed

[2021-11-01 18:23] mvdbeek opened #12828 "API endpoint to disable loading / uninstalling specific tools"
In discussing automated tool installations and updates with @natefoo we thought it would be nice if we can install a tool repository in a first step, then run tool tests against all tools in the repository against the live server, and then disable the tools that are failing tests. Since we'd have to translate the tool id back to the repository and then disable the whole repo we thought it might be

[2021-11-02 09:38] abretaud commented on #12662
Thanks for your answer!
I've just made #12833 as a first fix

[2021-11-02 12:29] OlegZharkov commented on #12672
```library-dataset-view.js``` isn't gone yet...

[2021-11-02 12:34] mvdbeek opened #12834 "Publication of Galaxy Release v 21.09"
- [X] **Prep**

    - [X] ~~Create this release issue ``make release-issue``.~~
    - [X] ~~Set freeze date (2021-09-06).~~

- [ ] **Branch Release (on or around 2021-09-06)**

    - [ ] Ensure all [blocking milestone PRs](https://github.com/galaxyproject/galaxy/pulls?q=is%3Aopen+is%3Apr+milestone%3A21.09) have been merged, delayed, or closed.

          make release-check-blocking-prs

    - [ ]

[2021-11-02 12:34] #12834 closed

[2021-11-02 12:34] mvdbeek opened #12835 "Publication of Galaxy Release v 22.01"
- [X] **Prep**

    - [X] ~~Create this release issue ``make release-issue``.~~
    - [X] ~~Set freeze date (2022-01-03).~~

- [x] **Branch Release (on or around 2022-01-03)**

    - [x] Ensure all [blocking milestone PRs](https://github.com/galaxyproject/galaxy/pulls?q=is%3Aopen+is%3Apr+milestone%3A22.01) have been merged, delayed, or closed.

          make release-check-blocking-prs

    - [x]

[2021-11-02 12:56] dannon commented on #12672
@OlegZharkov Feel free to update checks anytime in the future; I updated this one.  We'd checked it off anticipating it being handled in the PR that got rebased.

[2021-11-02 22:16] guerler commented on #11076
List of remaining Backbone based input elements:
See `parameter.js` for more details.

- [] text, password: "_fieldText"
- [] select, data_column, genomebuild, group_tag: "_fieldSelect"
- [] data, data_collection: "_fieldData"
- [] integer, float: "_fieldSlider"
- [] drill_down: "_fieldDrilldown"
- [] color: "_fieldColor"
- [] library_data: "_fieldLibrary"
- [] ftpfile: "_fieldFtp"
- [] upload: "_

[2021-11-03 09:15] ericshaffique commented on #12688
under linux check that the folder containing bigWigToWig is in your $PATH

export PATH=${PATH}:/your/path/to/ucsc/bin

bigWigToWig in.bigWig out.wig

or , as bigWigToWig is in your directory , you can just write

./bigWigToWig in.bigWig out.wig

[2021-11-03 09:15] ericshaffique commented on #12688
chmod +x ./bigWigToWig
and rerun your command.

[2021-11-03 09:24] ericshaffique commented on #12688
a tool for performing the conversion from bigwig to wig is bwtool which is  is command-line software for UNIX

[2021-11-03 09:29] bgruening commented on #12688
We have a start here: https://github.com/usegalaxy-eu/temporary-tools/blob/master/test/bwtool.xml

[2021-11-04 00:13] jennaj opened #12848 "Enhancement UI/UX: Have all links that open a GIE start that in a new tab, leaving original Galaxy tab open"
**Describe the bug**
Jupyter and Rstudio launch in two different ways from the Galaxy app. One is nicer for the user.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: `21.09` but not new (was this way in `21.05`)
Commit: N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Start up an interactive tool
2. When opened right after starting, from the link stating “r

[2021-11-04 12:21] cgirardot opened #12854 "Select all (data library) also selects filtered datasets"
**Describe the bug & reproduce**
- Go in a library folder
- filter datasets using the Search
- Use the `select all` check box to select matching datasets
- Erase the search =>  all datasets are selected ie including the ones that were filtered out by the search

**Expected behavior**
Only datasets that were selected are selected when clearing the search

[2021-11-04 14:11] animesh opened #12855 "AttributeError: 'str' object has no attribute 'get'"
Trying to follow https://galaxyproject.org/admin/get-galaxy/ for local install and facing this error

[code]
any ideas how to proceed? my setup is

[code]

[2021-11-04 14:30] mvdbeek commented on #12855
Thanks for the report, this should be `./run.sh`, not `sh run.sh`, we'll have to update the instructions there

[2021-11-04 14:32] animesh commented on #12855
OK but it didn't solve the issue it seems

[code]

[2021-11-04 14:41] nsoranzo commented on #12855
I think the 2 are equivalent.

[2021-11-04 15:45] natefoo commented on #12848
GxITs opening in the Galaxy tab is mentioned in the big GxIT issues thread (#8899). This may be implemented in the new history, I'm not sure.

I added functionality for stopping (without deleting) GxITs in #10497 (and @mvdbeek discussed some potential improvements to this in the Backend WG a few days ago) but this is only exposed via the Active InteractiveTools page and the new history. With the J

[2021-11-04 20:28] astrovsky01 opened #12857 "Text overflows on workflow invocation page"
Current on ORG -- longer titles for a workflow overflows involving underscores onto the associated history on the workflow invocation page. Likely not encountered very often, but it's a minor bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to workflow invocation
2. View invocation for workflow with long name connected by underscores

**Expected behavior**
Text should wrap

**Screensh

[2021-11-04 21:08] dannon commented on #12857
Was this on a pretty reasonable sized window?  If we have to we can swap the styling for those cells to `break-all`.

[2021-11-04 21:09] astrovsky01 commented on #12857
Full screen on a 15-inch monitor, so yeah

[2021-11-05 09:48] hexylena commented on #12848
I hope so, we really need them to open in the main panel. Can't wait for the new history! (And yeah, not to my knowledge can you 'shut down' rstudio.)

[2021-11-05 13:03] abretaud opened #12859 "Startup fails with toolbox and EDAM"
**Describe the bug**
Getting this after upgrading from 21.05 to 21.09:

[code]

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09
Commit: dd74027

**To Reproduce**
Steps to reproduce the behavior:
1. Start the server, with the galaxy.genouest.org toolbox
2. See error

**Expected behavior**
It should start

**Additional context**
I'm going to try to see which tool

[2021-11-05 13:15] abretaud commented on #12859
Getting this error on `toolshed.g2.bx.psu.edu/repos/iuc/instrain_compare/instrain_compare/1.5.3+galaxy0` and `toolshed.g2.bx.psu.edu/repos/iuc/instrain_profile/instrain_profile/1.5.3+galaxy0` with term `topic_0796`

[2021-11-05 16:34] #12859 closed

[2021-11-05 17:15] nsoranzo commented on #12859
It seems this topic was obsoleted in EDAM in favour of `topic_0102`, should we update the tools?

[2021-11-05 20:24] #9542 closed

[2021-11-05 23:06] martenson opened #12865 "should we lint empty contents of <param><option>?"
Consider the linting fail below:

Applying linter inputs... FAIL
.. ERROR: Select parameter [network_type] has multiple options with the same text content

[code]

The above code renders and works fine in Galaxy, screenshot below:

![Galaxy](https://user-images.githubusercontent.com/1814954/140604039-e32af125-365f-4e94-be7a-58ceae969691.png)

Assigning @bernt-matthias here, since he asked for it.

[2021-11-06 06:39] Enchanteur14 opened #12862 "Upload Data (Paste/Fetch Data)"
<img width="960" alt="2021-11-06" src="https://user-images.githubusercontent.com/81054868/140600196-0a95b376-e2ae-44eb-b5b1-b05aa430ae3e.png">

I tried uploading a data using the paste/fetch data option, I pasted the url of the data in the box that says "new file" but nothing happened, when I clicked start, nothing also happened. Beside the box, there is an edit icon that says "download from web o

[2021-11-06 06:52] Enchanteur14 opened #12863 "Unable to View Downloaded File"
<img width="951" alt="2021-11-06 (1)" src="https://user-images.githubusercontent.com/81054868/140600597-36410a67-4ccc-4a32-9dce-33f4760cfac2.png">

After successfully running data and uploading on my history panel, I saw a download option when I clicked on the successfully ran data on my history panel, I downloaded the data on my laptop but when I clicked to open after download, I'm unable to view

[2021-11-06 07:06] Enchanteur14 opened #12864 "Error Uploading Data"
<img width="951" alt="2021-11-06 (2)" src="https://user-images.githubusercontent.com/81054868/140601089-a92c345f-13de-4f13-a763-0450e73ac416.png">

I had an error output while trying to upload data from different sources using the "choose remote files" upload option.
I chose a data from COVID-19 FASTQ, PDB, SARS-CoV-2 result files and Encyclopedia of DNA Elements (ENCODE), when I clicked start, th

[2021-11-06 14:33] bgruening commented on #12865
I would actually argue that is ok as it isk

[2021-11-06 15:50] tabassum-tasnia opened #12866 "Indexing breaks upon deleting elements from History"
When one or more elements are removed from the History, the indexing breaks revealing there were elements that are removed even after deleting them from the disk. That creates an unpleasant UI after completing the history.
![Indrex breaks](https://user-images.githubusercontent.com/93257971/140615413-64d2b70b-2165-4afa-b066-c4f9947053a4.JPG)

How to reproduce the Index error:
1. Create a new histor

[2021-11-06 21:16] bgruening commented on #12866
@tabassum-tasnia even if you remove your datasets, the metadata will keep stored. This enables reproducibility. You can for example go back to deleted datasets, rerun this step and "restore" the data. This also explains why the indexing is like you see it. Removing datasets will not change the numbering.

I hope that explains what you are seeing :)

[2021-11-06 21:16] #12866 closed

[2021-11-07 13:29] martenson commented on #12865
I don't have a strong opinion on the linting itself but tweaking the error message could go a long way. Maybe <option>s without text content could have their own lint and message.

[2021-11-08 11:09] OlegZharkov commented on #12864
Thanks a lot for reporting @Enchanteur14. Can you share the error message please?

[2021-11-08 13:48] OlegZharkov commented on #11076
thx Sam. I will be on `colour`

[2021-11-09 13:30] dannon opened #12871 "[form parameter] text, password: "_fieldText""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12872 "[form parameter] select, data_column, genomebuild, group_tag: "_fieldSelect""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12873 "[form parameter] data, data_collection: "_fieldData""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12874 "[form parameter] integer, float: "_fieldSlider""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12875 "[form parameter] drill_down: "_fieldDrilldown""

[2021-11-09 13:31] dannon opened #12876 "[form parameter] color: "_fieldColor""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12877 "[form parameter] library_data: "_fieldLibrary""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12878 "[form parameter] ftpfile: "_fieldFtp""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12879 "[form parameter] upload: "_fieldUpload""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12880 "[form parameter] rules: "_fieldRulesEdit""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12881 "[form parameter] directory_uri: "_fieldDirectoryUri""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:31] dannon opened #12882 "[form parameter] data_dialog: "_fieldDialog""
This is an issue for tracking/assigning conversion of the backbone form input (found here:  https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Form/Elements/parameters.js) into a vue component.

For more details see https://github.com/galaxyproject/galaxy/issues/11076

[2021-11-09 13:33] dannon commented on #12876
Resolved in #12867

[2021-11-09 13:40] dannon commented on #11076
I converted the remaining individual parameters to issues and linked them up above.

[2021-11-09 15:52] gmauro opened #12887 "pgcleanup script is not removing files from the file system"
We are using the pgcleanup script to clean up DB and FS.
In the log are appearing these warning messages:
[code]
These are the records in the DB
[code]
and this is the current situation in the file system

[code]
the object_store  has **`store_by = uuid`**
https://github.com/usegalaxy-eu/infrastructure-playbook/blob/420b5af7897f972c605987053f8cc2c7b6cba552/files/galaxy/config/object_store_conf.xml

[2021-11-09 15:55] natefoo commented on #12887
It would appear from my logs that this is happening for all datasets in disk backends stored by UUID. Datasets in backends stored by numeric ID are still being removed properly.

[2021-11-09 22:00] Enchanteur14 commented on #12864
![Galaxy](https://user-images.githubusercontent.com/81054868/141011658-4b07dd0e-6f93-4463-b15f-93ca6b6a7197.jpeg)

Here's a phone screenshot of the error... My laptop is unable to screenshot at this moment, I'm working on rectifying the issue

[2021-11-10 15:25] OlegZharkov commented on #12882
Probably you assigned me to the wrong issue, I meant https://github.com/galaxyproject/galaxy/issues/12881 on the call :sweat_smile:. But I guess, that's fine

[2021-11-10 15:27] dannon commented on #12882
@OlegZharkov Ahh!  I thought you said Dialog.  No worries, un-assigning!

[2021-11-10 20:09] luke-c-sargent opened #12901 "AnVIL filesystem plugin upload failing + prospective solution"
Hello;

When the new galaxy [export_remote](https://github.com/galaxyproject/galaxy/blob/release_21.09/tools/data_export/export_remote.py) tool attempts an upload, it first checks the path to ensure that directory exists. It does this by using `fs.path.dirname(target_path)` which gets the directory name (e.g., `a/b/c` for file `d` at path `a/b/c/d`) then attempts to determine if this directory exi

[2021-11-10 20:12] #12746 closed

[2021-11-11 08:17] hexylena commented on #12822
We are teaching a spanish language Galaxy course in <3 weeks, if there's any hot patch for this we could apply it would be really helpful

fyi @nomadscientist @shiltemann

[2021-11-11 12:55] dannon commented on #12822
I will take a look at the popup being behind the center panel now.  For the extra big button there -- I don't suppose there's a slightly more concise translation we can use as an easy fix?

[2021-11-11 12:58] hexylena commented on #12822
maybe @galaxyproject/training-spanish have ideas there?

[2021-11-11 13:09] davelopez commented on #12822
Maybe `Para los seleccionados...` the 'todos' (all) can be implicit.

[2021-11-11 13:11] hexylena commented on #12822
yeah I guess it's really due to conjuntos de datos being repeated every time

[2021-11-11 13:43] gmauro opened #12903 "Wrong error message if remote source doesn't respond"
**Describe the bug**
One of our source of remote files is not responding today and, after a timeout, the upload app is showing this useless message:
`Problem listing file source path FileSourcePath(file_source=, path='/')`

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.05

**Expected behavior**
A proper and more descriptive message

**Screenshots**

![Screenshot

[2021-11-11 13:51] davelopez commented on #12822
Oh, I see, I was focusing only on the button wrapping. Then I would say `datasets` instead of `conjuntos de datos` may be OK... I mean, I guess someone slightly familiar with science and data analysis should understand that but otherwise I'm out of options here.

[2021-11-11 15:06] dannon commented on #12822
No worries on the text contents of the menu -- that's fixed in #12906.  Still not sure what to do about the buttons themselves though -- I did try @davelopez suggestion there but it's not quite enough.

[2021-11-11 16:01] mvdbeek commented on #12901
Thanks for the report and the fix.

[2021-11-11 16:01] #12901 closed

[2021-11-11 18:56] mariipia10 commented on #12822
I'd agree with @davelopez but just in case if `conjuntos de datos ` is replaced by `datasets` I'd put somewhere the headsup for the translation.
@dannon nice job! I wonder is there anyway that we can detect if the user is using the spanish version and then act consequently?

[2021-11-12 05:37] gmauro opened #12907 "Webdav remote file plugin is loading the entire data in memory"
**Describe the bug**

The webdav remote plugin is using the [WebDAV](https://github.com/PyFilesystem/webdavfs) driver of PyFileSystem2.
That driver loads  the entire data in memory when constructing the WebDAVFile instance
https://github.com/PyFilesystem/webdavfs/blob/master/webdavfs/webdavfs.py#L61

If your worker node doesn't have enough memory to host the data, the job will be terminated by an

[2021-11-12 14:47] mtekman opened #12911 "Forcing input into tool from history from a collection chooses wrong hidden file unless file is expanded"
**Forcing input into tool from history from a collection chooses wrong hidden file unless file is expanded**

https://user-images.githubusercontent.com/20641402/141484788-66def1ac-f17b-431e-ad74-2261ce463eb5.mp4

When choosing a dataset from a collection and forcing it as input to a tool, the wrong input dataset is chosen.

Upon expanding the dataset first, and trying again, then the correct input

[2021-11-14 00:05] lennyjuma commented on #12654
I'm new to python, how do you solve this error.. I have been forced to downgrade my python version

[2021-11-14 15:50] martenson opened #12917 "embed a read-only workflow editor in Pages/Reports"
Currently the workflows are embedded (`workflow_display(workflow_id=xyz)`) as a list of steps with no visualization possibilities. That is only sufficient for very linear workflows with little or no branching. I believe embedding an actual workflow editor, albeit read-only, would go a long way.

[2021-11-15 05:33] cat-bro opened #12918 "Error when installing fastqc or anything with populated <xref type="bio.tools"> on 21.09"
**Describe the bug**
I installed fastqc on an instance of galaxy running the release_21.09 branch and it reported very quickly that it had installed, but the tool did not show up in the tool panel and is not returned from bioblend galaxy.tools.get_tools().  The conda environment has not installed.  This error is in the log:

[code]

quast also has a bio.tools reference and failed with the same mes

[2021-11-15 08:45] #1725 closed

[2021-11-15 14:19] hexylena commented on #11374
Reproducible as of November, we're seeing it in a large course with @shiltemann and the proteomics community.

[2021-11-16 01:37] #12918 closed

[2021-11-16 05:18] nuwang commented on #12366
Closed by: #12792

[2021-11-16 05:18] #12366 closed

[2021-11-16 05:21] nuwang commented on #8558
This can be worked around by separating the uwsgi config from the galaxy config as follows:
[code]

[2021-11-16 05:21] #8558 closed

[2021-11-16 13:30] oliverbader commented on #1055
Is there a solution to this? I'm having this issue still with FreeBayes 3.1.5 @usegalaxy.eu

[2021-11-16 18:47] pvanheus opened #12928 "value_in_data_table / value_not_in_data_table validator doesn't work with select type parameters"
**Describe the bug**
The `value_in_data_table` parameter offers to validate either text or select type parameters from the contents of a tool data table. It however, fails to work as advertised for parameters of type select. The failure modes observed are (1) allowing all inputs (for the case of `multiple="true"` and `value_not_in_data_table` and (2) "flickering" the Execute button but not display

[2021-11-17 09:04] hexylena opened #12933 "Accidentally doing "paste/fetch" before uploading a file results in an error, maybe just hide it?"
Noticed with a student, they clicked paste/fetch on accident, created a totally blank file, and then added a datasets through choose local files.

The blank paste/fetch errored (as expected), but  maybe it would make sense to not show a bright red error here, rather a greyed out box of "This pasted dataset was skipped because it was empty" since the student found the error message (upload content

[2021-11-17 10:37] bernt-matthias commented on #12928
I will have a look. Note that the xsd  only states: For text inputs the following validators are useful...

[2021-11-17 10:39] bernt-matthias commented on #12928
For your use case a filter would be even better. I'm thinking of something like

- dynamically define options with `from_file`
- filter by entries in data table (which needs to be implemented...

[2021-11-17 11:23] mvdbeek opened #12934 "Tooltips / glossary for advanced concepts"
@jmchilton added some nice tooltips in #12912, and I think we should/could take this a bit further and describe a few basic unix concepts/terms in more detail (especially since they appear in the user interface and could be daunting to new users), like
- [ ] Exit Code
- [ ] Stdout
- [ ] Stderr
- [ ] Command line
- [ ] Traceback

Maybe this could be based on the how we do translations, and we could

[2021-11-17 16:39] gallardoalba opened #12938 "Unexpected behavior of optional output parameters"
When updating the fasta-stats wrapper, @wm75 realized that when using a filter, the output dataset is still available, but the variable is replaced by 'XXXX'.

- Problematic PR: [link](https://github.com/galaxyproject/tools-iuc/pull/4169/commits/fc581544ad00ee8c0466f8249095410d78ee6e9c#diff-6d48c50726450b660cd652d945ef7a4f03cf5505df9c056297f681ad6efade74R11)
- Test output:  [link](https://github.c

[2021-11-18 04:45] assuntad23 commented on #4005
@hexylena Now that pasted URLs use the datafetch tool, is this resolved?

It looks like it's in good shape now. I uploaded three of the files from that video, and they were renamed in a way that matched what the user was doing.

https://zenodo.org/record/4544529/files/Evidence.tabular
https://zenodo.org/record/4544529/files/protein_groups.tabular
https://zenodo.org/record/4544529/files/PTXQC_repor

[2021-11-18 08:30] gmauro commented on #11915
We have more than 150 upload jobs stuck in this way!

[code]
[code]
`/opt/galaxy/server/lib/galaxy/tools/data_fetch.py` or `/opt/galaxy/server/tools/data_source/upload.py` same behavior

[2021-11-18 08:36] gmauro commented on #11915
We have these errors in the Galaxy log:

[code]
and in the `registry.xml` in the working directory, they are present, e.g.
`<sniffer type="galaxy.datatypes.infernal:Infernal_CM_1_1"/>`

[2021-11-18 08:39] gmauro commented on #11915
@mvdbeek could be an issue importing datatypes?

[2021-11-18 08:43] mvdbeek commented on #11915
Can you run with py-spy dump with `-l` ?

[2021-11-18 08:46] gmauro commented on #11915
[code]

[2021-11-18 08:48] mvdbeek commented on #11915
wonderful, that's not how to do things: https://github.com/mvdbeek/galaxy/blob/61be2b5daf67943d701811a0e52f6e2daa1a9a71/lib/galaxy/datatypes/proteomics.py#L932

[2021-11-18 08:58] gmauro commented on #11915
Thank you!

[2021-11-18 10:11] hexylena commented on #4005
It looks like it's currently broken on main but test looks good!

![image](https://user-images.githubusercontent.com/458683/142395404-1f5c487c-0afe-454c-a5f1-ea1693f77f6c.png)

This is so beautiful :heart_eyes: :heart_eyes: :heart_eyes: :heart_eyes: , it's going to save so much time. @shiltemann it finally happened!!! No more mothur tutorial naming issues because people don't rename the files prop

[2021-11-18 10:11] #4005 closed

[2021-11-18 10:14] mvdbeek commented on #11915
Can you also check if you have another proteomics.py datatyep file anywhere ? This could possibly come from tool shed repositories. Somehow the line numbers are quite off

[2021-11-18 10:18] mvdbeek commented on #11915
Ah, this is coming from proteomics_datatypes. If you uninstall those from disk that should fix it. We also have some logic that should prevent loading TS datatypes if a Galaxy datatype exists, but obviously that's not working quite right.

[2021-11-18 10:19] gmauro commented on #11915
https://toolshed.g2.bx.psu.edu/repository?repository_id=6fba172fc57ea523&changeset_revision=300fc3aa6954

[2021-11-18 10:22] gmauro commented on #11915
@bgruening removed all TS datatypes

[2021-11-18 10:39] shiltemann commented on #4005
Whoo! Thanks @assuntad23! Definitely a big QOL improvement for a lot of use cases and tutorials!

[2021-11-18 10:42] mvdbeek commented on #4005
That was fixed in https://github.com/galaxyproject/galaxy/pull/12861, that's why it works on test and not main.

[2021-11-18 10:43] hexylena commented on #4005
is that specific failure expected though @mvdbeek ? unsupported media type for two pasted URLs?

[2021-11-18 10:51] mvdbeek commented on #4005
No, but that also works for me. Can you check what endpoint returned this reponse, and which browser are you using ?
<img width="1499" alt="Screenshot 2021-11-18 at 11 50 20" src="https://user-images.githubusercontent.com/6804901/142401839-0111cf72-4daa-4674-82a0-ae1cfd470ff8.png">
?

[2021-11-18 11:24] hexylena commented on #4005
It works now, I cannot reproduce. :(

[2021-11-18 16:06] #12865 closed

[2021-11-18 20:03] nsoranzo commented on #12654
@lennyjuma I don't think this (`distutils`) is what is preventing you from using Galaxy on Python 3.10, since this is just a deprecation at this stage.

[2021-11-18 20:18] lennyjuma commented on #12654
@nsoranzo thank you for your reply, I solved the issue by creating an environment using conda with an another version of python..

[2021-11-18 20:23] ic4f commented on #12654
@lennyjuma You can just create a virtual environment with a different python version. If you use virtualenv, then just do this:
`virtualenv -p [path-to-your-python-executable] .venv` Or, using venv: `[path-to-your-python-executable] -m venv .venv` (where .venv in both cases is the directory for the virtual environment). That's all you need!
Also, you might want to take a look at this: https://gith

[2021-11-19 16:44] bernt-matthias commented on #12928
Python part fixed in https://github.com/galaxyproject/galaxy/pull/12936 .. flickering issue seemed to be solved by a new checkout https://gitter.im/galaxy-iuc/iuc?at=61966d63c2cc0e5343b80f7a

[2021-11-19 16:44] #12928 closed

[2021-11-20 17:44] ArdiDev opened #12952 ""Theming Icons" functionality crashes live wallpapers on Android 12"
I recently noticed that all my live wallpaper apps are crashing on Galaxy S21/ S21+/ S21 Ultra phones (updated to Android 12 with One UI 4.0) when users try to set the newly introduced "Theming Icons" functionality on Android 12. This new functionality calculates a palette of colors from the user's current static wallpaper and uses this palette to color some of the other apps icons (a feature of t

[2021-11-20 20:36] bgruening commented on #12952
@ArdiDev this is about an open source scientific project called Galaxy - and not about the mobile platform.

[2021-11-20 20:36] #12952 closed

[2021-11-20 20:44] ArdiDev commented on #12952
OMG! I'm sorry for that. I got here from another link without double-checking.

[2021-11-20 20:44] bgruening commented on #12952
No problem!

[2021-11-21 00:24] #12876 closed

[2021-11-21 08:49] bernt-matthias opened #12953 "Add linting for bio.tools / edam topics"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/galaxyproject/tools-iuc/pull/4159#discussion_r753273906

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (check <galaxy_url>/api/version if you don't know)
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2021-11-21 16:59] IslamHeggy opened #12955 "OIDC login failure with Azure Active directory"
**Describe the bug**

I provisioned a  Galaxy fresh installation for my company using the Ansible script provided by the Galaxy team. The installation using Ansible had some simple problems and tweaks that I will mention in the Ansible repo but in the end everything was great.

The problem here is that I wanted to connect with azure active directory to my Galaxy installation and here I used the OI

[2021-11-22 11:15] hexylena opened #12958 "Linting: Cannot specify outputs in a test expecting failure."
Not sure where you'd like this issue @bernt-matthias planemo or galaxy, but, this seems like it could be linting rather than a test failure

[2021-11-22 11:26] hexylena opened #12957 "When there is a network failure, the UI reports a "tool submission failure" without the detail that the backend has disappeared"
A network error was reported in the stack and honestly I could not figure out the backend had just disappeared.

![image](https://user-images.githubusercontent.com/458683/142852437-ceb19312-9412-4059-aa73-a5aa8d07ee65.png)

Here was how the error message appeared

![image](https://user-images.githubusercontent.com/458683/142853483-571ef477-3e9b-4fb7-9287-f54154affbbd.png)

and in this case "The se

[2021-11-22 11:36] hexylena opened #12959 "Apply rules don't seem to be saved or encoded anywhere that I'm able to see currently?"
I've done some apply rules to reshape a collection (love it! so cool!)

![image](https://user-images.githubusercontent.com/458683/142853065-c6f21ad7-310e-40b5-90af-5649d0d613da.png)

But I wanted to do it again (or rerun and edit the rules) and I couldn't figure out how to do that. This was done on EU so they're missing the 'view collection details', but trying to re-run the individual HDAs just s

[2021-11-22 11:41] bernt-matthias commented on #12958
I see. You are right, this should be a linter error. Still the tool tests will run.

[2021-11-22 12:41] mr-c opened #12961 "Paper cut: Adjust tests to quiet expected warnings"
https://docs.pytest.org/en/stable/warnings.html#pytest-mark-filterwarnings

For example, this successful test run includes 484 lines of warnings: https://github.com/galaxyproject/galaxy/runs/4284989318?check_suite_focus=true#step:9:3253

Warnings should either be
1. expected and quieted with `@pytest.mark.filterwarnings` at the test, class, or even module level
2. not expected, and either fixed or

[2021-11-22 16:10] mvdbeek opened #12964 "Celery tasks should get a task-scoped session"
We scope sqlalchemy sessions based on the request id, or else by thread (the sqlalchemy default) in https://github.com/galaxyproject/galaxy/blob/cdcf3c147972625f3db6c02c9ae23dc42659addc/lib/galaxy/model/base.py#L38

We should probably ensure that celery tasks receive a fresh session that is discarded after the task has completed.
xref https://github.com/galaxyproject/galaxy/pull/12963#discussion_r

[2021-11-22 16:41] simonbray commented on #12911
Same as #10671 I think?

[2021-11-22 16:44] simonbray commented on #10671
@mtekman provided a lot more detail in #12911, so closing this one

[2021-11-22 16:44] #10671 closed

[2021-11-22 16:52] mtekman commented on #12911
Ah nice, I did look for existing issues but I must have missed this -- thanks for merging these issues ;-)

[2021-11-22 19:05] innovate-invent commented on #11421
This was very likely resolved with #11335, closing for now.

[2021-11-22 19:05] #11421 closed

[2021-11-23 09:46] hexylena opened #12967 "Workflow can't be run with a very generic error message, details are in the actual response"
Took me a while to figure out where to look for details of what actually happened

![image](https://user-images.githubusercontent.com/458683/143001660-88bcb0b8-6fec-41f3-affd-9cc458e466ac.png)

(But apparently this workflow has oodles of issues that weren't obvious, like flat out missing tools. Perhaps these error messages could be shown in the run interface as well? Or a call to action of "Go to

[2021-11-23 12:46] IslamHeggy commented on #12955
After doing some research, it seems that social-oauth-core package have a problem with pyjwt library more than 1.7

So the temporary solution is to upgrade social-oauth-core package to 4.0.3.

Here is the link of [this](https://github.com/DefectDojo/django-DefectDojo/issues/3878) finding

[2021-11-23 12:49] bgruening commented on #12955
Thanks @IslamHeggy for the report and the nice find! Are you running 4.0.3 and it works for you?

[2021-11-23 13:59] IslamHeggy commented on #12955
Yes, I tested the compatibility with 4.0.3 with the pyjwt library 2.X.X and it's working fine.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/11975703/143037560-1a145d7c-f8a8-4b39-b0b6-5a89f4246635.png">

I can open a PR with the change for this issue.

[2021-11-23 14:16] nsoranzo commented on #12955
@IslamHeggy As a guide for your PR, you should change the pin for `social-auth-core` in `pyproject.toml`

[2021-11-23 14:32] #12881 closed

[2021-11-23 20:34] dakariakin opened #12970 "Refactor JobConfiguration (move code from __set_default_job_conf to __init__)"
From the discussion here https://github.com/galaxyproject/galaxy/pull/12884/files#r749158226

We should move this
https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/jobs/__init__.py#L570-L586
to the __init__ method

[2021-11-25 09:12] FredericBGA opened #12979 "can tool "Filter empty datasets" check for empty compressed files?"
I was wondering if the "Filter empty datasets" could be able to deal with empty compressed files?

One use case: a tool that filter a fastq, can produce a fastq.gz as output. And all its data have need filtered.

if its possible and with a little help I would be pleased to submit a PR.

Is it this `has_data()` method that need to be modified?
https://github.com/galaxyproject/galaxy/blob/38a69b19b5

[2021-11-25 12:14] gmauro opened #12981 "a SAWarning in the 21.09 log"
Just updated to 21.09, and I have several of this in the log:
`/opt/galaxy/server/lib/galaxy/jobs/handler.py:360: SAWarning: Coercing Subquery object into a select() for use in IN(); please pass a select() construct explicitly`

[2021-11-25 14:10] mvdbeek commented on #12981
That's nothing to worry about, we'll address these as we move towards sqlalchemy 2.0. @ic4f should we turn off these warnings in stable releases ?

[2021-11-25 14:51] mvdbeek commented on #12955
Thanks for the report and fix @IslamHeggy!

[2021-11-25 14:51] #12955 closed

[2021-11-25 18:18] ic4f commented on #12981
Oh yes, I've seen this one - we'll get rid of them soon (there's more of the same kind and similar). No harm in turning off this warning on stable releases, I think. I don't know how to do that off the top of my head, but I'll figure it out next week.

[2021-11-25 21:47] sunnyplace1218 opened #12986 "Glitched through floor"
I fazed through the floor, and landed in void.

In Playground, Kit PvP.

Galaxy Version: I didn't understand how to check sorry but it happened at 11/25 4:30
Commit: NA Server

I expected to respawn normally on ground

Pretty sure the reason is because I died right after my enderpearl(Kit warper) landed. Not that issue, but might want to add one block beneath
![2021-11-25](https://user-images.gith

[2021-11-25 22:04] sunnyplace1218 opened #12987 "Glitched in wall this time"
Got stuck in wall, and I see bedrock

Again, same as last time, I don't know version but 11/25 5:00
NA server, Playground, Kit PvP(Warper)

I expected to run away using pearls
![2021-11-25 (2)](https://user-images.githubusercontent.com/95054261/143503197-7456d0e1-1fb0-4f6d-852c-7a7e998cceff.png)
(This is after I used pearl one more time)
![2021-11-25 (3)](https://user-images.githubusercontent.com/

[2021-11-25 23:52] ic4f commented on #12986
Sorry, wrong Galaxy. This repository is for the Galaxy computational research platform (please see README).

[2021-11-25 23:52] #12986 closed

[2021-11-25 23:52] ic4f commented on #12987
Sorry, wrong Galaxy. This repository is for the Galaxy computational research platform (please see README).

[2021-11-25 23:52] #12987 closed

[2021-11-26 08:17] bgruening opened #12988 "Installing tools result in a traceback"
**Describe the bug**

Toolshed installs do seem to hang and crash.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**

Install a datamanager. In my case `data_manager_primer_scheme_bedfiles`

[code]

[2021-11-26 08:46] bgruening commented on #12988
Manually reloading the toolbox via the API, results in:

[code]
Doing that multiple times will result in the rollback error.

[2021-11-26 15:23] willemdek11 opened #12992 "[Feature request] Delete all downstream jobs or all upstream jobs"
It would be a fantastic feature in my opinion if you have the option to remove all downstream or upstream processes from a workflow at once. Now when I remove a single box, I have to check where all the disconnected boxes are. The last option would be that with a dragging box you can at least remove a section of boxes at once.

[2021-11-26 18:25] mvdbeek commented on #12988
Should be fixed in https://github.com/galaxyproject/galaxy/pull/12989

[2021-11-27 03:30] #12981 closed

[2021-11-27 10:47] #12958 closed

[2021-11-27 11:39] bernt-matthias opened #12995 "Support bgzipped data"
Galaxy currently supports gz for fasta, etc., but not bgzip.

**Expected behavior**

Analogously to gz Galaxy should support bgzip

**Additional context**

https://github.com/galaxyproject/tools-iuc/pull/4164

[2021-11-28 17:58] bernt-matthias opened #12997 "Tool linting: check for input parameters that are not covered by tests"
**Describe the bug**

Similar to https://github.com/galaxyproject/galaxy/pull/12723.. Just the other way round

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (check <galaxy_url>/api/version if you don't know)
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scrol

[2021-11-29 03:07] EmmettPeng opened #12998 "Galaxy shutting down itself"
Hi,

I have encountered a problem that my galaxy always shut down itself, even when there are tasks still running.

The log file is here:

[code]
`

Appreciate any help!

Emmett

[2021-11-29 08:46] hexylena commented on #12998
Hi @EmmettPeng these logs only cover after the shutdown is initiated, not the portion which might have the *why* was it initiated (if it's due to a config issue for example.)  Could you please include more of your logs? And if it is something like another admin on the system initiated shutdown it would not show in the logs as the galaxy process just gets a kill signal.

[2021-11-29 14:42] hexylena opened #13001 "Sharing doesn't seem to make private datasets accesible"
This seems to be a regression

![image](https://user-images.githubusercontent.com/458683/143887121-c67801a9-9da0-4296-af11-f5964335c557.png)

And the menu shows 'make private' (which further makes me think it's public) but clicking on that is a NOP since it's all private already

![image](https://user-images.githubusercontent.com/458683/143887252-09690894-4bf3-4f55-ba15-3240a4808525.png)

I've rep

[2021-11-29 15:02] hexylena commented on #13001
In attempting to work around this issue I also apparently am disallowed from accessing their datasets in the API, despite being an admin user.

![image](https://user-images.githubusercontent.com/458683/143891396-33a7db25-3834-4f31-9f2e-ba2a733bc609.png)

So I need to resort to database access to fix history permissions it seems. Or get an API key for this user and impersonate them to fix their dat

[2021-11-29 15:11] hexylena commented on #13001
I think if we tested with 'make datasets private by default' on by default, we might've caught this

[2021-11-29 15:41] hexylena commented on #13001
I'm attempting to fix it via API but `/api/datasets/.../permissions` doesn't seem to work for me.

Admin API key:

[code]

[code]

[2021-11-29 16:19] hexylena commented on #13001
`gxadmin` query for any other admins needing to fix individual histories one-by-one https://github.com/galaxyproject/gxadmin/commit/804a133b3c5d8c42487707b244dd93924608bcda

[2021-11-29 18:53] bernt-matthias opened #13004 "Sniff bed with scores > 1000?"
**Describe the bug**

Galaxy does not sniff bed if scores > 1000 https://github.com/galaxyproject/galaxy/blob/1701d0ed677aaf4b7f8ef8bb6a3c31c3e86774a4/lib/galaxy/datatypes/interval.py#L496

Seems that most online docs describe bed score column to be < 1000 (e.g http://genome.ucsc.edu/FAQ/FAQformat.html#format1)

Test data in https://zenodo.org/record/4104428/files/UCSC-hg38-chr22-Repeats.bed that

[2021-11-29 19:12] nsoranzo opened #13005 "Replace deprecated recommonmark with MyST parser"
**Describe the bug**
Once we update to docutils >=0.17 we will hit https://github.com/readthedocs/recommonmark/issues/220 , which is not going to be fixed because recommonmark is deprecated in favour of [MyST parser](https://myst-parser.readthedocs.io/).

[2021-11-29 19:13] hexylena opened #13006 "Bug: galaxy.router.push ?tool_id loads incorrect tool in the UI"
Noticed by @nomadscientist when the GTN webhook was giving trainees the wrong version of the tool

Steps to reproduce:

1. Open Usegalaxy.eu
2. Open console and run

[code]

Instead 1.5.1+galaxy0 is loaded. Also visible from this link: https://usegalaxy.eu/?tool_id=toolshed.g2.bx.psu.edu/repos/bgruening/alevin/alevin/1.3.0+galaxy2

however it is possible to switch to it manually

![image](https://

[2021-11-29 19:33] hexylena commented on #13006
Haven't been able to reproduce on .org, just on .EU but there it happens with other tools too. E.g. https://usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu/repos/iuc/circos/circos/0.69.8+galaxy2 also loads the latest version instead of the requested one. @bgruening fyi

[2021-11-30 02:51] EmmettPeng commented on #12998
@hexylena Hi! Here are some more logs:

`
galaxy@r920:~/galaxy_metabolic/galaxy$ tail -50 nohup.out
galaxy.jobs.mapper DEBUG 2021-11-29 09:05:30,376 [pN:main.web.1,p:45053,w:1,m:0,tN:JobHandlerQueue.monitor_thread] (303) Mapped job to destination id: local
galaxy.jobs.handler DEBUG 2021-11-29 09:05:30,387 [pN:main.web.1,p:45053,w:1,m:0,tN:JobHandlerQueue.monitor_thread] (303) Dispatching to local

[2021-11-30 10:26] hexylena commented on #13006
The `+` is being translated to `%20`. First is the request as sent by the UI, second is mine.

[code]

[2021-11-30 11:05] bgruening opened #13008 "ToolShed can not handle tool profiles that are more recent that the TS version."
It seems that tools with a profile > then the TS version:

* can be uploaded
* but have broken TS metadata
* can not be displayed in the TS (invalid tool)
* can not be installed in recent Galaxy version (equal to the tool profile)

Once the TS is updated, the TS metadata of this tool needs to be recalculated to make it installable in Galaxy.

[2021-11-30 11:41] hexylena commented on #12998
That is very odd! there's really nothing there indicating some issue. `uwsgi` will kill worker threads if you have `harakiri` set and you get a really slow request? But that should only kill uwsgi's children and restart them, it shouldn't affect the overall process.

[2021-11-30 11:42] hexylena commented on #13005
Does that mean we'll be able to write tool help in markdown if it's getting parsed through MyST?

[2021-11-30 12:16] nsoranzo commented on #13005
The issue here is for building Galaxy documentation (stuff in `doc/`), I haven't looked at how/if it could be used for tool help.

[2021-11-30 13:32] bgruening commented on #12988
Its back ... I have no clue why. It is deployed. The difference is we have extended_metadata enabled and I can not trigger this error with a toolbox reload.

[code]

[2021-11-30 14:24] mvdbeek commented on #12988
It is possible that the reload bug and this one have different causes. The reload one we had also seen on .org.

Nov 30 14:26:57 sn06.galaxyproject.eu uwsgi[1235818]:         This probably means the server terminated abnormally
Nov 30 14:26:57 sn06.galaxyproject.eu uwsgi[1235818]:         before or while processing the request.

Can you check if postgres logs any additional details ?

[2021-12-01 02:09] EmmettPeng commented on #12998
The same problem was reported in https://github.com/galaxyproject/galaxy/issues/11163 but clearly no clear solution was given.

[2021-12-01 08:16] bgruening commented on #12998
@EmmettPeng which Python version are you using? Can you try Python 3.6? How much memory have you available and how many handlers are you running?

[2021-12-01 09:06] mvdbeek commented on #11163
I don't think there's anything obviously wrong on the Galaxy side, this is uwsgi shutting down the server due to some event, most likely SIGINT or SIGTERM.
You'll want to look at how you're starting Galaxy and how you have configured what happens if a process exceeds memory limits.

[2021-12-01 15:32] mvdbeek opened #13012 "`discover_datasets` does not replace primary dataset with `assign_primary_output="true"`"
@blankenberg noticed this for a tool with an output like
[code]

[2021-12-01 21:52] bgruening commented on #12988
:( no additional details. At least not relevant for this issue :(

[2021-12-02 09:56] mvdbeek commented on #13008
It may just be a question of checking if we're in the tool shed and skipping the profile version check
the exception in question is raised in https://github.com/mvdbeek/galaxy/blob/cbb6379184742c09967eff58914dbf8b37206654/lib/galaxy/tools/__init__.py#L821

[2021-12-02 10:45] bgruening opened #13014 "exporting tool is removing datasets from disc"
Run new "export_remote" [tool](https://usegalaxy.eu/root?tool_id=export_remote) on collections is removing data.
Before running this tool the collection looks normal, after running the tool the collection looks like:

![grafik](https://user-images.githubusercontent.com/469983/144407009-46d7f71a-59e3-4f8d-888b-fb030f140545.png)

The actual job is also put on hold and looks like that:

![grafik](htt

[2021-12-02 10:47] bgruening commented on #13014
This only happens to our knowledge with:

![grafik](https://user-images.githubusercontent.com/469983/144407610-650ee830-b414-496c-a29b-644fb9da67b5.png)

[2021-12-02 10:47] mvdbeek commented on #13014
That seems highly unlikely, can you describe how to reproduce this ?

[2021-12-02 11:54] bgruening opened #13015 "Vuex can become over quota with all kind of strange bugs"
**Describe the bug**

For power users the vuex can go over quota very easily. This seems to have a range of very wired bugs as a consequence. E.g. the tool panel (EDAM vs. classic) is not saved. Jobs ending up in a different history ...

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

[code]

[2021-12-02 11:57] mvdbeek commented on #13014
We debugged this a little bit and noticed that HDAs within HDCAs from imported histories (via sharing, not file/uri based) are not copies of HDAs, so if you delete these you also delete the source HDA (assuming you have the rights to do so ...). In any case that is a bug and we'll fix that. There might be something else going wrong, but if we have that first fix it should be easier to diagnose the

[2021-12-02 13:16] mvdbeek opened #13016 "Migrate endpoints that use stream_template_mako to vue, replace with fill_template_mako or fix stream_template_mako to use StreamingResponse"
It seems that `stream_template_mako` doesn't work in fastAPI and fails with
[code]

These mako's that are currently being streamed are
- [ ] `/dataset/large_file.mako`
- [ ] `/dataset/item_content.mako` (not sure that is still in use ??)
- [ ] `visualization/display_in_frame.mako` (also not sure if that is in use)
- [ ] `visualization/display.mako`
- [ ] `/workflow/item_content.mako` (unsure if us

[2021-12-02 13:36] guerler opened #13019 "Tool dependency view not shown in Admin panel"
When selecting the `Manage Dependencies` option from the Admin panel an error is shown instead of the list of tool dependencies.

[code]

[2021-12-02 14:19] guerler opened #13020 "Tabular dataset are not displayed properly"
When clicking on the eye-icon for a tabular dataset, the table is not shown in the center panel but instead: `[object Object]` is displayed.

<img width="1297" alt="image" src="https://user-images.githubusercontent.com/2105447/144439534-2f15d7d3-4616-49be-9f6e-e9da233d0853.png">

[2021-12-02 14:27] mvdbeek commented on #12864
There's not much we can do, that is a problem with the upstream server.

[2021-12-02 14:27] #12864 closed

[2021-12-02 17:18] mvdbeek opened #13023 "Required pip version isn't recent enough"
**Describe the bug**
https://github.com/galaxyproject/planemo/issues/1208#issuecomment-984831111

**Galaxy Version and/or server at which you observed the bug**
21.09

[2021-12-02 17:29] nsoranzo commented on #13023
Also with a recent version of pip, building a `cryptography` wheel shouldn't be needed: https://cryptography.io/en/latest/faq/#why-are-there-no-wheels-for-my-python3-x-version

[2021-12-03 02:53] EmmettPeng commented on #12998
@bgruening Default Python under .venv is 3.6.13. And there are actually another galaxy running on the same server and that one works just fine.

[2021-12-03 02:56] EmmettPeng commented on #12998
Another strange thing that I notice is: when two galaxy platforms are running at the same time, and I open them in the browser. Once I operate with one, i will automatically log out on the other. It's like they are conflicting somehow.

[2021-12-03 09:30] hexylena opened #13027 "[Feature Request] allow sorting on last login in admin users page"
It would be fantastic if the admin/users page could allow sorting on all of the columns, especially last login. We're sunsetting a galaxy and need to know who is still using it before we shut it down.

![image](https://user-images.githubusercontent.com/458683/144578978-66f5c759-6c2e-4e41-adfe-695e9496b692.png)

[2021-12-03 12:58] #13023 closed

[2021-12-04 17:02] bernt-matthias opened #13030 "Galaxy loads oldest tool if multiple with the same id and version are available"
**Describe the bug**

If multiple tools with the same id and version are installed in an instance then Galaxy only loads one of them (which is a good idea).
Unfortunately this seems to be the older version.

I noticed this before for data managers https://github.com/galaxyproject/galaxy/pull/12255 and also just yesterday on my instance for tools.

**Galaxy Version and/or server at which you observ

[2021-12-06 07:58] rhpvorderman opened #13031 "Explicit_singularity needs a cached version"
Hi, I love the ability for galaxy to run singularity containers.
As a tool maintainer I prefer setting an explicit container above leaving it blank:
- I can easily test the same container in my tool CI
- I have full control over the tools behaviour
- Fonts. Tools that generate plots need fonts.These are system provided when using conda, but alas, in containers fonts are not necessarily included, s

[2021-12-06 09:57] bernt-matthias commented on #13031
Indeed. I was working on this a while ago. Here is where I stopped: https://github.com/bernt-matthias/galaxy/tree/topic/explicit-resolve .. should be more or less working (I remember that I even tested this on my instance .. but I can't remember why I did not finish this .. would be so important)

Feel free to continue from there if you like.

[2021-12-06 14:11] rhpvorderman commented on #13031
@bernt-matthias It is done, thanks for your pointers :slightly_smiling_face:

[2021-12-06 19:50] #11941 closed

[2021-12-07 02:02] EmmettPeng commented on #12998
I found a solution: I lowered `threads` value, and set `processes` and `offload-threads` to `1` and it finally stopped killing itself. I'm not sure how it works but things seem fine now.

[2021-12-07 02:02] #12998 closed

[2021-12-07 09:05] hexylena commented on #11941
you are literally the best, thank you for fixing all of these little nuisances @assuntad23 it's making galaxy nicer to use in a very tangible way for me!

[2021-12-07 19:25] dannon commented on #12998
@EmmettPeng Thank you for following up with the solution here, glad it's working for you now!

[2021-12-08 02:46] ZeroDesigner commented on #12222
Just like this.
[code]

[2021-12-08 08:34] bgruening opened #13037 "Add conda envs or used containers to the bug report mails"
It would be nice if the bug report mails could include the path to the used conda env or the container used.

[2021-12-08 08:34] bgruening commented on #13037
@natefoo @gmauro what do you think? Anything else that we should add? The JWD maybe?

[2021-12-08 09:50] hexylena commented on #13037
anecdotally I don't think I ever really read the bug report mails, I just find the one link to their dataset info page and click on that, since the information is more complete and presented in a nicer fashion that. But can't hurt to stuff more info in there, especially for folks like @selten who use the feature heavily.

[2021-12-08 22:19] bernt-matthias opened #13040 "Improve support for metadata in dynamic options and filters"
**Describe the bug**

Dynamic options for selects can refer to metadata of other data params, eg

- via `meta_file_key` of the options tag,
- `param_value` filter via `ref_attribute`,
- `data_meta`

Metadata can be a simply a string (dbkey) an integer or more complex "things" like lists or files.

Such more complex metadata is currently not supported in dynamic options and filters.

**Galaxy Versi

[2021-12-09 12:31] EmmettPeng opened #13042 "Cannot download files on galaxy"
Hi,

I found some files cannot be downloaded decently on my galaxy. Other registered users on galaxy also encounter this problem. After clicking the download icon, the browser skips to a blank page (showing the error info: **This page isn't working**). I have checked the log file and it shows:

[code]

The galaxy is 20.05 version. The problem also occurs on the previous versions of my galaxy.

Emm

[2021-12-09 13:08] hexylena commented on #13042
Do you have `sendfile` on in your galaxy configuration? Sendfile must be enabled both in galaxy + nginx/apache.

[2021-12-09 13:37] EmmettPeng commented on #13042
@hexylena Do you mean `apache_xsendfile` in `galaxy.yml`? If I turn it on, what else should I change?

[2021-12-09 13:53] hexylena commented on #13042
If it was off, then it is another problem.
If it was on, then you need to [configure apache to support it.](https://docs.galaxyproject.org/en/master/admin/apache.html#sending-files-with-apache)

[2021-12-09 14:16] EmmettPeng commented on #13042
It was initially off. Is Apache necessary for this problem? I have never configured it before.

[2021-12-09 14:20] hexylena commented on #13042
No, not necessary, it was my initial guess for blank download pages, since that's a very common cause of that in misconfigured galaxies. Are you using nginx? are they large files? do you have some timeouts somewhere?

[2021-12-09 14:35] EmmettPeng commented on #13042
I'm not using nginx. Files larger than around 200Gb can cause the problem. And the non-working page came out the second i click the download icon.

[2021-12-09 14:44] hexylena commented on #13042
yeah, that's... not surprising somehow, that's a giant file for a user to be downloading. Maybe it's a uwsgi limit to refuse to serve files that big?

[2021-12-09 15:12] EmmettPeng commented on #13042
Is there a way we can loosen the limit?

[2021-12-09 15:15] hexylena commented on #13042
You'll have to check the uwsgi docs, I don't think many of us permit such large files on our servers. You might consider setting up nginx or apache and sendfile in that case, maybe they're capable of serving such large data. Or you could setup the FTP components, and suggest your users export their 200gb+ files to FTP and download via ftp.

[2021-12-09 16:09] mr-c opened #13043 "request for feature: (failed) job → command line (or shell script) reproducer"
For either regular Galaxy Tools or CWL tools,

it would be nice to have the rendered (copy pastable) command line or job script for an executed job available, for local troubleshooting / learning

including links to inputs

Maybe all together as a zip file?

[2021-12-09 17:28] hexylena commented on #13043
if you have `cleanup_job: onsuccess` and `expose_potentially_sensitive_job_metrics: true` you can see the command line and reproduce a bit more easily as the referenced job script can just be re-run.

[2021-12-09 21:33] bernt-matthias commented on #13043
I also use `cleanup_job: onsuccess`

Then I find out the jobs working directory and inspect the `tool_script.sh` (+ maybe `galaxy_xxx.sh`).

Some instructions for tool tests which should be easily translatable to production instances are in the planemo docs: https://planemo.readthedocs.io/en/latest/writing_how_do_i.html#interactively-debug-tool-tests.

Guess we can close this... feel free to open

[2021-12-09 21:33] #13043 closed

[2021-12-09 21:34] mr-c commented on #13043
Oh, my request was for a user-facing feature, as part of every job in the history panel

[2021-12-09 21:35] bernt-matthias opened #13045 "Lint data_column for missing data_ref attribute"
**Describe the bug**

In the best case just lint for required attributes for all param types.

Also `data_ref` is missing from the xsd docs in the `data_column` section.

[2021-12-10 06:53] methylome opened #13046 "Unable to install package for 21.09"
**Describe the bug**
The following command installed necessary packages, but stopped for nodejs

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

**To Reproduce**
Steps to reproduce the behavior:
1. sh scripts/common_startup.sh --skip-venv
2. See error

Successfully installed adal-1.2.7 aiofiles-0.6.0 amqp-5.0.6 appdirs-1.4.4 argcomplete-1.12.3 async-exit-stack

[2021-12-10 08:06] methylome commented on #13046
I tested python 3.6.2 and 3.6.3

[2021-12-10 10:11] nsoranzo commented on #13046
@methylome Why are you using `--skip-venv` ? That's not recommended unless you are in some uncommon scenario.

@dannon Can we bump the node version in `client/.node_version` to 14.17.4 (the latest available for node 14 in conda-forge) ?

[2021-12-10 20:51] natefoo commented on #13037
:+1:, if it's available then sure, put it in the email, but I often click through to the dataset/job info page as @hexylena does.

One major problem is that only the dependency resolution is shown on that page currently, not the container resolution. Additionally, I am pretty sure that you're seeing the dependency as it resolves presently, not the dependency that was necessarily used when the job

[2021-12-12 19:32] wm75 opened #13052 "Rerunning failed jobs from collections hides collection instead of just the dataset"
**Describe the bug**
When a job producing a collection element fails, Galaxy unhides the element in error state.
Rerunning the failed job used to hide the collection element again, but in 21.09 it hides the collection itself in addition.

Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 (usegalaxy.eu)

[2021-12-12 19:45] mvdbeek commented on #13052
Do you have some more details ? Does the job create a collection, or is it a simple output that is mapped over ?

[2021-12-12 19:50] wm75 commented on #13052
I've observed it with mapped-over output for various tools. Let me see if I can create a reproducible example.

[2021-12-12 20:13] wm75 commented on #13052
Ok, I got https://usegalaxy.eu/u/wolfgang-maier/h/collection-hiding
try running the failed awk job on the Split file collection. This will fail for the second element and rerunning will hide the collection.

[2021-12-12 20:41] bgruening commented on #12988
Any idea about that one?

[2021-12-12 23:17] quacksawbones opened #13053 "Change "file_path" default in "reports.yml.sample" to "database/objects""
According to `./galaxy/lib/galaxy/config/sample/galaxy.yml.sample`, the default for `file_path` was changed to `objects` at Galaxy release_20.05.

However, in `./galaxy/lib/galaxy/config/sample/reports.yml.sample`, the default value for `file_path` is still `database/files`.

In the `reports.yml.sample`, can we please change the `file path` default to `database/objects` so it's consistent with `ga

[2021-12-12 23:50] quacksawbones opened #13054 ""Disk space maintenance" Galaxy report hard coded to `<data_dir>/files`"
After enabling reports and changing `file_path` to `<data_dir>/objects` in `reports.yml`, I still get an error reported: `Error - <class 'FileNotFoundError'>: [Errno 2] No such file or directory: './database/files'`.

NB: This can be resolved by including a `files` symbolic link to the `objects` folder:
`ln -s $GALAXY_ROOT/<data_dir>/objects $GALAXY_ROOT/<data_dir>/files`

Galaxy Version: 21.05
Co

[2021-12-13 00:51] methylome commented on #13046
cat client/.node_version
14.15.0

[2021-12-13 11:08] mvdbeek commented on #12988
@ic4f could you take a look at this ? I have no idea what exactly is going on here, but I suspect this might be (at the core) related to https://github.com/galaxyproject/galaxy/pull/11737#discussion_r636354063, which lead to a bunch of followups that don't seem to be working quite right.

[2021-12-13 11:11] hexylena commented on #13053
If you want to open a PR we definitely can, it should be an easy fix!

[2021-12-13 11:16] mvdbeek commented on #13014
The fix for imported histories is in https://github.com/galaxyproject/galaxy/pull/13021, let's see if there are any new reports ...

[2021-12-13 12:04] mvdbeek commented on #13046
Have you tried following the instructions in https://docs.galaxyproject.org/en/master/admin/framework_dependencies.html#conda ? I just tried this on a fresh worktree and it worked correctly. The key is to move your old .venv out of the way and to have conda on path.
It should look something like:
[code]

[2021-12-13 13:36] davelopez commented on #13001
Hi @hexylena, sorry this is broken :disappointed: I'm happy to try and fix all those issues but I have some questions on how to proceed:
- `Make history accessible` or `Publish` will make all private datasets public, since this is a switch, should we show a confirmation modal dialog to make sure the user is aware of the change in permissions? or somewhat make it more obvious that once you flip the

[2021-12-13 13:53] hexylena commented on #13001
Also: thank you for having time to look into this! It's really helpful

[2021-12-13 14:24] #13008 closed

[2021-12-13 23:34] methylome commented on #13046
Have you installed on RHEL 6.9?
I got the same errors.

sh run.sh
...
Installing node into /data/soft/Galaxy/galaxy_21_09/.venv with nodeenv.
 * Install prebuilt node (14.15.0) ..... done.
 * Appending data to /data/soft/Galaxy/galaxy_21_09/.venv/bin/activate
 * Appending data to /data/soft/Galaxy/galaxy_21_09/.venv/bin/activate.fish
Installing yarn into /data/soft/Galaxy/galaxy_21_09/.venv with n

[2021-12-14 00:46] nsoranzo commented on #13046
RHEL 6 is EOL, nodejs requires at least glibc 2.17, see https://github.com/nodejs/node/blob/master/BUILDING.md#platform-list

[2021-12-14 09:06] #13046 closed

[2021-12-14 16:36] hexylena commented on #13001
Fixed in #13056

[2021-12-14 16:36] #13001 closed

[2021-12-14 16:36] hexylena commented on #13001
Is there a test case we can set up for the future? I think not a lot of tests are run with `default_dataset_privacy`, would it be interesting to do that a portion of the time?

[2021-12-14 16:38] mvdbeek commented on #13001
Beyond the test that is included in https://github.com/galaxyproject/galaxy/pull/13056/files ?

[2021-12-14 16:39] hexylena commented on #13001
Missed that, nope. that's perf.

[2021-12-14 20:18] mvdbeek commented on #13016
Ultimately we've gone with https://github.com/galaxyproject/galaxy/pull/13017

[2021-12-14 20:18] #13016 closed

[2021-12-14 20:22] mvdbeek commented on #12257
@natefoo @dannon
I'm working on removing all the uwsgi/paster cruft (https://github.com/galaxyproject/galaxy/compare/dev...mvdbeek:drop_wsgi_mode?expand=1) and updating run.sh, and ran into one thing I should've thought about but didn't ... do we want to provide a circusd instance per thing (galaxy, toolshed, reports) ? That seems like the only way we can just do ./run.sh or ./run_tool_shed.sh wit

[2021-12-14 22:31] quacksawbones commented on #13053
No worries. I'll get to it as soon as I can :)

[2021-12-15 05:20] ic4f commented on #13053
@quacksawbones if you choose to implement this, you'll need to modify this file: https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/webapps/reports/config_schema.yml , then run `make config-rebuild` to rebuild sample files, and add those to your PR.

[2021-12-15 10:07] #13031 closed

[2021-12-15 10:23] mvdbeek commented on #13030
I don't think that's fixable, since I don't think there's a way to tell which version is newer. A TS tool that is not bumped is updated in place via hg update, so that can't happen for TS tools.

[2021-12-15 11:40] bernt-matthias commented on #13030
OK. Just verified this. Then its fine and I can't recall how this happened for me.

[2021-12-15 11:40] #13030 closed

[2021-12-15 15:43] ic4f commented on #12988
@bgruening No clue so far, but trying to figure this out. I assume this is not limited to installing data managers only, and it happens randomly?

[2021-12-15 18:30] chambm opened #13064 "Galaxy npm install fails without make installed"
**Describe the bug**
npm install fails due to binary release not being available and not having make (and other build tools as well presumably)

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: release_21.09
Commit: 799a94fbdd16c2b2d59d7fcb31617ceff4083cf3

**To Reproduce**
1. Have a Galaxy environment without make installed.
2. Run `/galaxy_venv/bin/activate && npm c

[2021-12-15 20:39] chambm commented on #13064
It works with gcc, g++ and make installed.

[2021-12-15 21:32] mariipia10 opened #13066 "href missing for help resources"
**Describe the bug**
When opening [usegalaxy.org](https://usegalaxy.org/) URL and clicking on help resources nothing happens.  Upon inspecting the html element, the href is missing

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version:  21.09.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [usegalaxy.org](https://usegalaxy.org/)
2. Try to click/right click an

[2021-12-15 21:39] ic4f commented on #12988
Is it possible to estimate, at least approximately, when this started happening? That way we might be able to map it to a set of changes to the code, and go from there.

[2021-12-15 23:23] mariipia10 opened #13079 "Multiple popovers overlapping in interactive tour"
When following [this](https://usegalaxy.org/tours/core.galaxy_ui) interactive tutorial, after it uploads the data and wants to show the multiple tools galaxy has this happens

![image](https://user-images.githubusercontent.com/92181987/146279566-34eab123-8734-467c-88a9-3d8a7b6135ab.png)

Can only move forwards with arrow keys as when trying to access the endless popups scrolling down it goes up a

[2021-12-16 02:42] shenweiyan commented on #10587
This is a great job! Admins want their own sections, is there any progress in this work now?

[2021-12-16 07:00] quacksawbones commented on #13053
(Very first) PR created. Happy to correct things if I've made a mistake...

[2021-12-16 08:47] hexylena commented on #10587
Yep @shenweiyan it's live on usegalaxy.org and EU, check out the little button next to tool search

[2021-12-16 08:47] #10587 closed

[2021-12-16 08:48] hexylena commented on #10587
(and admins have always been able to define their own sections if they need! just edit your tool conf and rearrange things as you like)

[2021-12-16 17:40] davelopez commented on #10885
Sorry for dropping the ball with this Marius!

[2021-12-16 17:41] mvdbeek commented on #10885
Ah, no worries, we did talk about, I should've change the assignment back then.

[2021-12-17 01:12] shenweiyan commented on #10587
Thanks @hexylena

I see that users can use `edam_topics` or `edam_operations`  to define their own sections. And must the names of sections derived from any number of EDAM topic references or EDAM operation references?

But I see some other sections (as shown below), such as `for Activity`, `for Publication`, etc. How can the administrators achieve this?
<img width="289" alt="galaxy-edam" src="htt

[2021-12-17 07:01] bgruening commented on #12988
I have seen more DB failures in the DB, unrelated to tool installation on EU.

[code]

This one seems to be triggered by `reconfigure_watcher control task` is that reproducible on ORG?

[2021-12-17 07:29] ic4f commented on #12988
The good news is, this is very much related: it's dying while trying to close the dedicated session we use for `ToolShedRepositoryCache`. So this is not random!

[2021-12-17 09:07] bernt-matthias opened #13075 "Add negate attribute to asserts"
**Describe the bug**

Currently only `has_text` has an negated variant (`not_has_text`). Having a negated variant would be beneficial also for other asserts.

My suggestion would be to solve this by adding a `negate` attribute.

Should be pretty simple

- define the attribute in xsd
- implement in all assert functions https://github.com/galaxyproject/galaxy/tree/dev/lib/galaxy/tool_util/verify/ass

[2021-12-17 10:00] hexylena commented on #10587
I honestly don't know. I'd not seen the extra new ones those are super cool
and we need to be using them in other places. I'll let you know if I find
out!

(Anyone else please feel free to chime in with documentation here)

Steven Shen ***@***.***> schrieb am Fr., 17. Dez. 2021, 02:12:

[2021-12-17 10:19] bgruening commented on #10587
Please have a look at: https://github.com/galaxyproject/galaxy/pull/12327

[2021-12-17 10:20] hexylena commented on #10587
@shenweiyan it looks like it was in https://github.com/galaxyproject/galaxy/pull/12327 but I missed it, very neat. I have not been able to find .orgs config though, but maybe I'm searching with the wrong terms or the wrong branch or so.

[2021-12-17 11:01] hexylena commented on #10587
@bgruening would you be open to EU having some defined based off of GTN topics?

[2021-12-17 16:02] jmchilton commented on #10587
That screenshot was generated on my dev machine. Those panel categories are available and the icons will work - but I assumed they would be hand-crafted by admins when I wrote it.

I need to circle this back to this but https://github.com/jmchilton/gx-tool-db was some subsequent work that could be used to automate some of that and collaborate on annotations. It can read training materials into a t

[2021-12-17 18:06] hexylena commented on #10587
Yeah I had the same thought about subdomains @bgruening, it really covers a
lot of similar use cases. @jmchilton oh wow, you already thought of the
thing and did it, that's super cool! This covers a lot of my use cases for
sure

Björn Grüning ***@***.***> schrieb am Fr., 17. Dez. 2021,
17:15:

[2021-12-19 12:48] drosofff opened #13089 "Prefixing the galaxy url inactivate the "info" link of history datasets (release_21.09)"
**Describe the bug**
The bug appears when you try to serve galaxy under a prefix (say `/galaxy`) with the `release_21.09`.
Then, the info button in history datasets points to url in the form of http://34.65.235.106/galaxy/datasets/a799d38679e985db/details, which not triggers info display in the central frame of the Galaxy interface anymore. Nothing happens, except is you ask for url open in a new

[2021-12-19 15:38] nuwang opened #13090 "Detecting metadata can result in: OSError: telling position disabled by next() call"
**Describe the bug**
Uploading tabular files can result in the following stack trace:

[code]

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: Latest dev branch ({"version_major": "22.01", "version_minor": "dev0"})

**To Reproduce**
Steps to reproduce the behavior:
1. Upload the following Galaxy 101 training file: https://zenodo.org/record/4104428/files/UCSC-hg38-chr

[2021-12-20 10:26] wm75 opened #13091 "Clicking tool help icon on dataset triggers center panel refresh"
**Describe the bug**
A click on any dataset's `?` icon (which expands the tool help) unhelpfully triggers a reload of the center panel taking you back to the server's landing page.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 (.eu and .org)

[2021-12-20 15:39] #13053 closed

[2021-12-20 21:41] mariipia10 commented on #13079
@hexylena I'm using [this ](usegalaxy.org) server, Galaxy's version is 21.09.1
I'm running on Windows 10 Pro version 20H2 and I'm using Google Chrome version 96.0.4664.110 (Build oficial) (64 bits)

[2021-12-21 10:20] davelopez commented on #12777
I'm assuming this can now be closed @gmauro. Feel free to reopen if there's still an issue :)

[2021-12-21 10:20] #12777 closed

[2021-12-22 09:10] bernt-matthias commented on #13091
Seems solved https://github.com/galaxyproject/galaxy/pull/13093

[2021-12-22 09:10] #13091 closed

[2021-12-22 09:40] colindaven opened #13100 "log4j and galaxy tool dependencies"
Dear Galaxy team,

we have a local Galaxy in our internal network and have scanned for log4j vulnerabilities using log4jdetector https://github.com/mergebase/log4j-detector.

There are quite a few java tools there - see below.

What do you think we should do ? Remove these packages? Replace with updates where available?

Because Galaxy is a web server it's more likely to be a target in my understa

[2021-12-22 16:22] natefoo opened #13101 "Tools should not be permitted to create tens of thousands of outputs"
**Describe the bug**
Tools which produce dynamic outputs can cause massive amounts of handler memory consumption if the tool produces tens of thousands of outputs or more. A frequent culprit on usegalaxy.org is the `rbc_splitfasta` tool. Typically I have to kill these jobs manually because they cause the handler to go into a memory crash loop until the job is manually set to a terminal state.

Too

[2021-12-22 16:49] natefoo commented on #12257
We have discussed this some on matrix, but for the record, I'm not really concerned about the other applications, fwiw. We actively discourage anyone from running a TS, so reports is the only question here, which many production servers also do not run. We could allow people to optionally run it from the Galaxy supervisor I guess?

[2021-12-22 17:11] Takadonet commented on #11374
Potential solution is proposed by @ericenns at https://github.com/galaxyproject/galaxy/issues/11066

That is the solution we are using in-house at the moment for our Galaxy instances when using IRIDA as a data source.  A permanent solution needs to be implemented.

[2021-12-22 19:50] bgruening commented on #12622
@Shorla are you still planning to work on it?

[2021-12-23 07:47] #11841 closed

[2021-12-23 07:57] hexylena commented on #11841
Similar issues in the future might be better fits as "discussions" https://github.com/galaxyproject/training-material/discussions as well, we could consider that for ideas that need to be voted on or like this could have multiple viewpoints expressed in their own threads

[2021-12-24 11:16] mvdbeek commented on #12158
Re-added this in #13103

[2021-12-26 12:32] itisAliRH opened #13105 "Select all checked in Chose remote file with no entries"
In `Chose remote files` when opening any sources that have no entries, `Check to select all datasets` is checked and can not be clear and when clicking on the `Back` button, the `Ok` button will be enabled and the source directory is green.

Galaxy Version: `21.09.1.dev0`
Commit: `c1c82bbf11a0fdc9d52f0a8a0bf7bb1177c636f8`

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Upload Data`
2

[2021-12-28 16:33] bgruening commented on #13089
Fixed in #13092

[2021-12-28 16:33] #13089 closed

[2021-12-29 11:55] mvdbeek opened #13106 "Select datasets from other histories with data selection dialog"
Would be fantastic if we could select datasets from other histories (in addition to libraries).
I have the vague feeling we already have some dialogs that allow selecting datasets from histories, but the dialog button that is embedded with the dataset parameter wrapper does not allow this.

This would be super-useful for defining default datasets in workflows.

![Screenshot 2021-12-29 at 13 48 42]

[2022-01-04 15:58] simonbray commented on #12115
same as #12115

[2022-01-04 15:58] #12115 closed

[2022-01-04 19:09] mvdbeek opened #13115 "Closing release notes overlay leaves error in log"
**Describe the bug**
If you open the release notes, then close it you'll see the following error in the console logs:
[code]

**Galaxy Version and/or server at which you observed the bug**
21.09 and dev, can reproduce on .org

**To Reproduce**
Steps to reproduce the behavior:
1. Open console
2. Click Bell Icon
3. Hit Escape
4. See error

[2022-01-04 19:59] dannon commented on #13115
Reproduced this and what I'm seeing is that it's a consequence of us loading multiple webhooks, which each bind their own escape key functionality, in the global namespace.  Will throw a fix in #13116

[2022-01-05 01:53] quacksawbones commented on #13100
*\*DISCLAIMER\* - I'm not an InfoSec expert. Happy to be directed elsewhere/update my information if incorrect*

tl;dr: Galaxy itself isn't written in Java and so shouldn't be affected. Underlying tools that use Java might be.

There's some discussion about this in the Galaxy Admin Gitter - https://gitter.im/galaxyproject/admins?at=61c230e4e002586c753b0be6

My understanding of this is that any pub

[2022-01-05 02:31] quacksawbones opened #13117 ""Strange Numbers" in Galaxy Report - "Jobs per User""
When I enable and access the Galaxy Reports (via <galaxy_url>:9001), I see three numbers at the top of the page (which I presume are fetch times from the database or something similar).

Galaxy Version: 22.01 (dev0)
Commit: e25e2fa81ca02d929cedef09d97c35fbf57100fd

Steps to reproduce the behavior:
1. Install prerequisites (Python 3.9.9, PostgresQL 14.1)
    - NB: I have not tested this when the un

[2022-01-05 02:32] quacksawbones commented on #13117
I'm happy to help with this one (or at least have a dig around), but I will wait until after release_22.01.

[2022-01-05 03:28] gregvonkuster commented on #13117
I believe these are a remnant of debugging, although I'm not absolutely sure.  In any case, I'll soon have a PR that removes them - I'm close to finishing an enhancement to the reports, and I've removed the line in the template that displays these.

[2022-01-05 17:44] jj-umn opened #13119 "Toolshed not supporting profile 21.09"
**Describe the bug**
toolshed complaining about profile 21.09
https://toolshed.g2.bx.psu.edu/view/ximgchess/hexrd/baba452d0613 tools have profile="21.09" to pick up Npz and hexrd datatypes.
hexrd versions 0.8.12+galaxy0 and 0.8.12+galaxy1 do not appear as valid tools.

An attempt to reset metadata:
[code]

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 and 22.

[2022-01-05 18:03] mvdbeek commented on #13119
Ah, we do have a fix for that, but forgot to roll it out ...

[2022-01-05 19:46] mvdbeek commented on #13119
Alright, the tool shed is updated (and should allow uploading newer profile versions even if we don't keep it updated) and I've reset the repository metadata.

[2022-01-05 19:46] #13119 closed

[2022-01-05 20:38] gallardoalba opened #13122 "BWA-meth built-in reference genomes in *.org"
A user in [GHelp](https://help.galaxyproject.org/t/no-option-available-to-select-the-reference-genome/7272) requested the hg38 genome in BWA-meth, required for the [DNA Methylation data analysis](https://training.galaxyproject.org/training-material/topics/epigenetics/tutorials/methylation-seq/tutorial.html) training.

[2022-01-05 22:42] bgruening commented on #13122
We have this on EU and I answered that to the user via mail. He has sent me a personal mail.

[2022-01-05 22:50] gallardoalba commented on #13122
Yes, he also wrote in Ghelp and I suggested him to use *eu. Just I don't know if it is necessary to include the references also in *org.

[2022-01-05 23:46] bgruening commented on #13122
@natefoo call. Nate you can also copy them from our server if you like.

[2022-01-06 10:58] colindaven commented on #13100
Thanks @quacksawbones , I think this is a reasonable assessment of the situation. Of course, there can be a substantial gap between those working on the topic, and those (especially political level actors) managing responses.

[2022-01-06 13:29] dannon commented on #13105
Fixed in #13107

[2022-01-06 13:29] #13105 closed

[2022-01-06 16:14] #13020 closed

[2022-01-06 16:26] #13115 closed

[2022-01-07 11:08] mvdbeek opened #13132 "Enable TUS for additional endpoints with potentially large bodies"
Users can import history archives, which can easily be larger than reasonable settings of nginx's `client_max_body_size `, and of course making these uploads resumable and checksum-able would be a big win.

[2022-01-07 12:54] bgruening commented on #13117
What features do you need from this app? We do not maintain it well, and I guess we would be happy to drop it from the codebase. The bigger Galaxy servers are using the TIG Stack (Telegraf, InfluxDB, and Grafana) to display metrics and monitoring information. Do you think you could use something similar to address your needs?

[2022-01-07 12:57] bgruening commented on #13100
usegalaxy.eu also investigated this and we also concluded that we are not affected, similar to @quacksawbones writeup!
https://galaxyproject.eu/posts/2021/12/16/log4j/

[2022-01-07 12:57] #13100 closed

[2022-01-07 13:50] gregvonkuster commented on #13117
I just submitted a PR with an enhancement to the reports, so I hope it can remain in the code base.  The PR fixes this issue as well.  :)

[2022-01-07 13:54] bgruening commented on #13117
I have seen it, but it still uses technologies from 10 years ago and no one cares to port it to Vue or other things which we are using in the other codebase.

[2022-01-07 14:06] gregvonkuster commented on #13117
I wasn't aware that the developers have moved on from the reports.  If the plan is to eliminate the reports, then please do it so that time is not wasted on enhancements and fixes.

I'm running an instance where users need to be billed for jobs running on nodes that have various costs, so the PR I submitted enables capturing metrics for that on a monthly basis.    From your comments, I found this

[2022-01-07 14:10] bgruening commented on #13117
We have __not__ deprecated it. I have just asked which features you are using and if this could be replaced by the TIG stack.

Have a look at https://stats.galaxyproject.eu/ and play around with that side.

If you change
![grafik](https://user-images.githubusercontent.com/469983/148555649-089fd7e9-a2c9-4fc2-a695-97f41e410534.png)
You can see many more dashboards.

[2022-01-07 15:55] afgane opened #13133 "Viewing dataset Details with proxy prefix on 21.09 doubles the prefix"
**Describe the bug**
When running Galaxy with a proxy prefix, clicking on the Details icon for a dataset duplicates the proxy prefix:

https://user-images.githubusercontent.com/338642/148569373-be9fdc8f-88b2-4e90-aa3f-ec7a7d4b057b.mp4

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09

**To Reproduce**
Steps to reproduce the behavior:
1. Launch an instance of Gal

[2022-01-08 12:24] mvdbeek commented on #13133
@afgane can you confirm that's a duplicate of #13089 ? Sounds like it should be fixed by #13092

[2022-01-08 12:25] mvdbeek commented on #13133
And there are probably a few commits we should backport from https://github.com/galaxyproject/galaxy/pull/13103/commits

[2022-01-08 17:45] bernt-matthias opened #13136 "planemo tests timing out and ASGI error"
**Describe the bug**

When running `planemo test` on a few (two) tools of the IUC repo I see the following error after Galaxy started and the tool test execution stalls reproducibly.

[code]

Tool tests stall at a line similar to (only ids differ):

[code]

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: dev
Commit: 060ab1a487

**To Reproduce**
Steps to reproduce the

[2022-01-08 19:31] nsoranzo commented on #13136
Can you please check if galaxy at the commit before that also exhibit the same issue?  #13135 updated starlette and fastapi, and could be the cause for BrokenResourceError.

[2022-01-08 22:45] bernt-matthias commented on #13136
Did a `git bisect` between 21.09 and dev. It appears that the stalling and the traceback are unrelated

- the traceback started with a5b14521b08ee282c239eed6eae44c1fa95f5d63
- stalling started with 317b99364958c9a9cd00a951e7b3b80235a28b75 (https://github.com/galaxyproject/galaxy/pull/12942)

[2022-01-08 22:53] bernt-matthias commented on #13136
For https://github.com/galaxyproject/galaxy/commit/a5b14521b08ee282c239eed6eae44c1fa95f5d63 the changes in `lib/galaxy/util/__init__.py` look fishy on first glance ... try without except?

[2022-01-09 15:31] nuwang commented on #13090
@mvdbeek Any thoughts on this?

[2022-01-09 17:19] mvdbeek commented on #13090
Sorry, missed that one.

[2022-01-09 17:49] mvdbeek commented on #13136
Can you check if #13137 fixes it for you ? I could see the test hang if the metadata is in error ... . If that is true we need to find a way to error out quickly.

[2022-01-09 18:04] #12158 closed

[2022-01-09 18:07] mvdbeek commented on #13133
https://github.com/galaxyproject/galaxy/pull/13138 contains the additional prefix fixes

[2022-01-10 04:00] #13090 closed

[2022-01-10 09:13] hexylena commented on #13117
yeah those queries are built into [`gxadmin`](https://github.com/galaxyproject/gxadmin) (or could be) and be a bit more scriptable for your billing processes.

![image](https://user-images.githubusercontent.com/458683/148741691-d10bb8fc-5b23-4e07-a602-cd1e658beeef.png)

I don't see anything that maps directly to your query but it's 90% of the way there with existing queries and it's very easy to a

[2022-01-10 12:27] ulvitalas opened #13140 "Auto-Pair button for shared library data (list-of-pairs import) has no effect in Galaxy 21.09"
**Describe the bug**
"Auto-pair" button in this context no longer has an effect and clicking all the samples through one-by-one is required to import a list-of-pairs type of collection into the user history:
![image](https://user-images.githubusercontent.com/46785395/148762293-2505a886-ba35-4638-b566-83f3a47e08f0.png)

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version:

[2022-01-10 13:43] gregvonkuster commented on #13117
Thanks @hexylena - I haven't had a chance to look at these other apps, but I'll get to them.  What is the plan for the reports app?  Is it going to be deprecated?  If so, will it remain in the code base or be removed from it.  Beyond the move to "legacy_framework" (https://github.com/galaxyproject/galaxy/tree/dev/lib/galaxy/web/legacy_framework), I didn't see any comments in the code that it shoul

[2022-01-10 13:51] topstarxxx opened #13141 "FAILED to start common_startup_functions.sh: line 111: .venv/bin/activate: No such file or directory"
**Describe the bug**
Im running anaconda3 in windows 11，follow instructions: git -> sh run.sh , after installed some packages, it stuck with activate _galaxy_ , error shows:

sh run.sh
Activating virtualenv at .venv
./scripts/common_startup_functions.sh: line 111: .venv/bin/activate: No such file or directory

maybe something incorrect in that file common_startup_functions.sh?

but, conda env list

[2022-01-10 15:49] afgane commented on #13133
Thanks Marius. This does look like the same issue but testing AnVIL deployments is a prolonged process so didn't test this yet but I'll close this on the assumption it will work.

[2022-01-10 15:49] #13133 closed

[2022-01-10 19:17] gregvonkuster commented on #13117
I've taken a look at gxadmin and I can see that enhancements can certainly be made so that it can handle the queries I need.  Of course, this requires the same work which was just added to the Galaxy reports.  :)

One of the very nice things about the Galaxy reports is that the users have direct access to them, and so have the ability to directly confirm monthly charges, etc.  I'm sure that when s

[2022-01-10 19:34] bgruening commented on #13117
@gregvonkuster no one has said that the PR will not be merged. I was only interested to know about usecases and who is using this app. If there are use cases that we can not replace, we should keep the app and you can help maintaining it :)

The billing use-case is an interesting one and a few people have talked about it. E.g. different locations can have a different coast and the job scheduling s

[2022-01-10 19:39] jennaj opened #13144 "Bug report post-submission message in an odd place + update the troubleshooting link"
**Describe the bug**
1. When submitting a bug report from a red dataset (bug icon), the error form comes up as usual, but after clicking on "submit" the “Your error report has been sent” message is embedded into the view, instead of showing up on top. New in 21.09 or I didn't notice it before.
2. URL for more troubleshooting help needs to be updated -- still pointing at the hub FAQ, should point t

[2022-01-10 19:43] afgane commented on #13133
Got this deployed and the issue has been fixed. Thanks again.

[2022-01-10 20:13] natefoo commented on #13144
The URL for troubleshooting [appears to not be configurable](https://github.com/galaxyproject/galaxy/blob/ccfceebcb0ddfb8a4e5599bd7dc6ca5bc3d01190/client/src/components/DatasetInformation/DatasetError.vue#L46).

[2022-01-10 20:56] gregvonkuster commented on #13117
Thanks @bgruening!

The use-case for my current PR is fairly straight-forward, just billing per user per node type (cost can be different per node type) per month.  I initially thought I'd have to configure Galaxy to run jobs as the logged in user, but @natefoo told me that is complex, not really supported, and not necessary for this kind of billing.

I have another use case for the Galaxy reports

[2022-01-11 00:44] jennaj commented on #13144
Oh, so hardcoded.

I'm OK with it opening a new tab instead of the GTN within Galaxy as a first pass solution. Going to that default GTN FAQ is better than the Hub FAQ.

What is the best branch to make a PR on, Dev? I'd just submit the URL change, not the other things.

Not all servers will have the GTN built-in. Some may have alternative help sites/instructions. So eventually we probably want tha

[2022-01-11 12:38] hexylena commented on #13144
everything new does unless they explicitly remove the gtn webhook, I'm not sure how common that would be. Agreed it should be configurable!

[2022-01-11 14:53] dannon commented on #13006
Reopening to track the followup for direct link nav

[2022-01-11 15:11] natefoo commented on #13144
Yes, this is fine, we haven't branched 22.01 yet so it would make it into the next release.

[2022-01-11 15:18] natefoo commented on #13122
Yeah this would be good.

[2022-01-11 15:28] simonbray opened #13145 "Improve documentation of tool test assertions in galaxy.xsd"
The documentation of the assertion functions in galaxy.xsd should be improved. Currently only 4 (`has_h5_keys`, `has_h5_attribute`, `has_archive_member`, `has_size`) specify the accepted attributes: https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/tool_util/xsd/galaxy.xsd#L2117.

This is important for tool / workflow linting. For example, running linting on the following XML returns no

[2022-01-11 15:31] mvdbeek opened #13146 "Refactor (cloud) object stores"
azure_blob.py, cloud.py, irods.py and s3.py are using a lot of copy-pasted code, and the logic in these object stores is extremely similar, to the point that we have to copy-paste fixes to all of these object stores. At the same time we don't cover some of the more niche object stores with integration tests.

To add an object store we should only have to define the connection settings for the unde

[2022-01-11 15:32] simonbray commented on #12770
This doesn't make sense, instead the bugs which are causing these problems should be resolved (e.g. #12825), so I will close.

[2022-01-11 15:32] #12770 closed

[2022-01-11 15:36] mvdbeek commented on #12770
We could consider revisiting this once we have a good way to report eventual errors that could result from this, but I agree we should fix https://github.com/galaxyproject/galaxy/issues/12825 in this case.

[2022-01-11 18:32] itisAliRH commented on #11939
I don't find any file or component that used `jquery.complexify` and `jquery.cookie`. They can be removed.

[2022-01-11 18:37] itisAliRH commented on #11939
`Select2` is depended on `jquery.autocomplete`. Some of them were replaced with `vue-multiselect` in #11076. It is used in `client/src/mvc/ui/ui-misc.js` and `client/src/viz/trackster/tracks.js`, too.

[2022-01-11 19:13] mvdbeek opened #13149 "Optionally compress files in remote file export tool"
We talked about this at the backend WG meeting. This is a usecase driven by VGP.
If should have a select option
 - compress if uncompressed
 - don't change
 - compress everything ?

If could have an option to select the compression algorithm.

[2022-01-11 19:13] mvdbeek commented on #9649
Came up again in the backend meeting today

[2022-01-11 19:20] mvdbeek opened #13150 "Add compression converter"
We should have the inverse of `CONVERTER_gz_to_uncompressed` and `CONVERTER_bz2_to_uncompressed` .

[2022-01-11 19:23] itisAliRH commented on #11939
`jquery.wymeditor` is only used in `PageEditorHtml`. V1 pages will go read-only, no editing, and let user decide with content migration after 22.01.

[2022-01-11 19:24] assuntad23 commented on #13140
I found the issue -- autopairing will work if you use the predefined filters, but not if you type them yourself. I'll get to work on fixing it, but for now @ulvitalas, if you use the _R1/_R2 from the dropdown, it should work fine for you to move forward & make things a little easier.

Please let me know if it does not.

[2022-01-11 19:26] itisAliRH commented on #11939
`jquery.dynatree` is not used in the client but @dannon believes it's used as a bundled in external tools. Need to check further.

[2022-01-11 19:28] bgruening commented on #13015
I can provide username and password to an reproducible account on EU. This only seems to happen to large account.

[2022-01-11 19:31] dannon commented on #13015
@bgruening I reproduced this myself on a basic account actually, even just the local tool panel will overflow.  I started swapping to vuex-persistedstate and will follow up here.

[2022-01-11 19:37] itisAliRH commented on #11939
`farbtastic` is used in `client/src/utils/config.js` and imported in `client/src/viz/circster.js` and `client/src/viz/trackster.js`. #12867 here a new colour picker is implemented using Vue that can be replaced.

[2022-01-11 19:40] itisAliRH commented on #11939
`jquery.rating` is used in `client/src/mvc/grid/grid-view.js` and `client/src/legacy/grid/grid-view.js` and imported in `client/src/viz/trackster.js`.

[2022-01-12 06:47] cat-bro opened #13153 "When tool version is changed in the workflow editor, tool_id is unchanged in downloaded .ga file"
**Describe the bug**
If I change the version of a tool used in a workflow and then download the workflow, the tool_id and content_id show the previous tool version.  Only the changeset_revision is updated for the workflow step.

**Galaxy Version and/or server at which you observed the bug**
21.09

**To Reproduce**
Steps to reproduce the behavior:
1. On Galaxy Europe or Galaxy Australia upload the

[2022-01-12 09:29] mvdbeek commented on #13153
@guerler can you take a look at this please ?

[2022-01-12 09:32] mvdbeek commented on #13141
We're not supporting windows. It looks like you have a .venv folder maybe that is empty ? Try removing that and try again. I don't have high hopes this is going to work though. You might want to give WSL 2 a try.

[2022-01-12 09:47] mvdbeek commented on #13014
I think that was fixed with https://github.com/galaxyproject/galaxy/pull/13021, but feel free to re-open if it happens again.

[2022-01-12 09:47] #13014 closed

[2022-01-12 09:50] mvdbeek commented on #12346
I think that works with https://github.com/galaxyproject/galaxy/pull/12759 now

[2022-01-12 09:50] #12346 closed

[2022-01-12 09:51] mvdbeek commented on #11636
I'll push this one, but maybe we could also de-milestone it and put it in a project ?

[2022-01-12 10:09] ulvitalas commented on #13140
Thank you for finding the cause and fixing the issue. With predefined it
works OK indeed!!!
Our daily routine is handled by a bot script that bypasses it, but I have
brought it up for the sake of our research community, especially the
irregular users. Will let them know about the alternatives.
Where would be the place to add extra pre-definitions, if required?

Cheers,
Ulvi

Kontakt Assunta DeSant

[2022-01-12 11:54] hexylena commented on #11374
@natefoo @gmauro @Slugger70 what do y'all reckon is the chance to get the workaround described by https://github.com/galaxyproject/galaxy/issues/11066 live for Smörgåsbord 2? Otherwise I think we should remove tutorials which use UCSC for the introductory day, fine either way, just want to make an administrative decision

[2022-01-12 14:35] mvdbeek commented on #13052
I re-ran that job multiple times, and I'm not seeing anything odd.
![Screenshot 2022-01-12 at 15 34 41](https://user-images.githubusercontent.com/6804901/149160209-13867276-da30-4ff6-819d-321a9499930c.png)
Am I missing something ?

[2022-01-12 14:46] topstarxxx commented on #13141
@mvdbeek
thank a lot for kindly saving my time!
I am a newbee in both computer and data science.
I will try the docker versions.

[2022-01-12 14:46] #13141 closed

[2022-01-12 14:48] mvdbeek commented on #13141
If you have any questions feel free to drop by https://gitter.im/galaxyproject/Lobby or help.galaxyproject.org

[2022-01-13 11:48] mvdbeek commented on #13101
I agree that would be nice, but there's no way (today) that Galaxy will know how many datasets are going to be created from the input, since that's all logic happening in the command section.

I think the only thing we can reasonably do without adding a new language for describing the expected number of outputs given some input metadata (... sounds both cool and challenging ...) is to fail at some

[2022-01-13 11:51] mvdbeek commented on #13019
Pretty sure that'll be fixed with https://github.com/galaxyproject/galaxy/pull/13154

[2022-01-13 13:39] dannon opened #13158 "Configurable instance default"
[https://github.com/galaxyproject/galaxy/pull/11748](url)

[2022-01-13 13:40] dannon commented on #13158
(experimenting with project board organization -- ignore the noise)

[2022-01-13 13:40] #13158 closed

[2022-01-13 14:28] ewaugh1 opened #13160 "ANNOVAR Annotate VCF producing 0 lines"
ANNOVAR Annotate VCF produces 0 lines
ANNOVAR was being used to annotate a VCF file of exome data however, whenever ran produces 0 lines. I get this information after ANNOVAR has finished running:

0 lines
format tabular database hg19
NOTICE: Finished reading 41350 lines from VCF file
NOTICE: A total of 41195 locus in VCF file passed QC threshold, representing 37258 SNPs (26400 transitions and 108

[2022-01-13 14:55] mvdbeek commented on #13149
@bgruening mentioned that @astrovsky01 is going to work on this. Let me know if that's wrong.

[2022-01-13 15:29] ic4f opened #13161 "Tool migration removal broke at least one admin view"
**Describe the bug**
Removal of tool migration code (#13099) has caused at least one admin view to break (admin > tools > view tool migration stages). It may be not the only thing affected. Need to fix this + check for any other possible similar cases.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 11.01/dev0
Commit: 320c6a36b582c62b2c24aa584044ae179176cb17

**To R

[2022-01-13 15:30] mvdbeek commented on #13161
Doesn't that make sense ? I think we can drop that view if we have removed the tool migration code

[2022-01-13 15:44] dannon commented on #13161
Yep, just need to cut out that interface; It's an old mako.  So you'd drop the menu option in admin-panel, kill the admin controller endpoint for it, and then drop the mako itself.

[2022-01-13 17:39] #13019 closed

[2022-01-13 17:39] mvdbeek commented on #12988
Should be fixed w/ https://github.com/galaxyproject/galaxy/pull/13154

[2022-01-13 17:39] #12988 closed

[2022-01-13 18:27] mvdbeek commented on #6287
I think the UI/UX group has other issues open already for the migration, it might happen soon, but not for the release.
Closing in favor of https://github.com/galaxyproject/galaxy/issues/11944 / https://github.com/galaxyproject/galaxy/issues/11076

[2022-01-13 18:27] #6287 closed

[2022-01-13 21:17] ic4f commented on #12541
In 2.0 there will be no backref/back-populates cascading of child objects into the session ([ref](https://docs.sqlalchemy.org/en/14/changelog/migration_14.html#cascade-backrefs-behavior-deprecated-for-removal-in-2-0)). In particular: "In 2.0, the default behavior will be that “cascade_backrefs” is False, and additionally there will be no “True” behavior as this is not generally a desirable behavio

[2022-01-14 12:12] #13161 closed

[2022-01-14 14:07] mvdbeek commented on #11915
Suggestions: Disable TS datatype completely in config option

[2022-01-14 14:13] bernt-matthias commented on #13012
Maybe related https://github.com/galaxyproject/galaxy/pull/9885

[2022-01-14 14:15] mvdbeek commented on #12825
@guerler could you also take a look at this one please ?

[2022-01-14 14:19] #10179 closed

[2022-01-14 17:36] mvdbeek commented on #13052
Should be fixed with https://github.com/galaxyproject/galaxy/pull/13157

[2022-01-14 17:36] #13052 closed

[2022-01-14 18:24] #12874 closed

[2022-01-14 19:07] elichad opened #13168 "YAML files don't get displayed in centre pane on viewing"
When clicking "View data" on a txt file, the file contents are displayed in the centre pane. As YAML is a human-readable text format it would make sense (IMO) for YAML files to exhibit the same behaviour. However, for the YAML datatype the file is downloaded rather than displayed when clicking "View data". (Thanks @Jo-stfc for finding this)

Would overriding the `display_data` datatype method to d

[2022-01-16 14:33] bgruening opened #13173 "Connection issue in the workflow editor (Bowtie)"
**Describe the bug**

![image](https://user-images.githubusercontent.com/469983/149664122-52a4e561-e7b4-4a4f-9202-f41c1aab6ee4.png)

I think both tools should be able to be connected.

Related: https://help.galaxyproject.org/t/bowtie2-output-data-type-not-recognised-in-workflow-designer/7323

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 on EU and ORG

**Expe

[2022-01-16 15:17] mvdbeek commented on #13173
Do you have more details about this ? It seems to work fine for on .eu, .org and locally. Any additional steps I have to take ?
I tried with the linked workflow, that also seems to work.

[2022-01-16 19:25] dannon commented on #13117
Should be fixed with #13121.

[2022-01-16 19:25] #13117 closed

[2022-01-17 08:34] mvdbeek commented on #13168
I think we'd just need to set the mime-type correctly, I'll take a look

[2022-01-17 10:27] mvdbeek commented on #12421
Not sure where/how we fixed this, but that doesn't seem to be the case anymore.

[2022-01-17 10:27] #12421 closed

[2022-01-17 10:28] mvdbeek commented on #11301
I guess that should then also be fixed with https://github.com/galaxyproject/galaxy/pull/12763

[2022-01-17 10:28] #11301 closed

[2022-01-17 10:30] mvdbeek commented on #11834
I suppose you've fixed this in https://github.com/galaxyproject/galaxy/pull/11886, thanks again @pcm32!

[2022-01-17 10:30] #11834 closed

[2022-01-17 10:41] bgruening commented on #12176
fixed with https://github.com/galaxyproject/galaxy/pull/12823 according to @simonbray

[2022-01-17 10:41] #12176 closed

[2022-01-17 10:42] mvdbeek commented on #13146
@kxk302 is that something you'd like to look into ?

[2022-01-17 10:45] #13042 closed

[2022-01-17 10:51] mvdbeek commented on #13066
Thanks @mariipia10, which link is that ? I don't see a "help resources". It's possible that was fixed with https://github.com/galaxyproject/galaxy/pull/12198.

[2022-01-17 10:54] mvdbeek commented on #13079
@dannon do we want to add this to the 21.01 milestone ?

[2022-01-17 11:00] mvdbeek commented on #12907
I've opened https://github.com/PyFilesystem/webdavfs/issues/32, I don't think there's anything we can do within Galaxy.

[2022-01-17 12:01] dannon commented on #13066
This link was in the (now old) welcome, and it was javascript that toggled open the help menu at the top.  I fixed the javascript when we moved the welcome to the hub, but we've since decided to just drop that link too.

[2022-01-17 12:01] #13066 closed

[2022-01-17 12:03] dannon commented on #13079
@mvdbeek I'm conflicted about that; let's add it for now for visibility and if I (or someone else) can fix it easily (might just be something changed targets in the new tool panel?) then let's try to get it in.  If this one doesn't make it, we can bump.

[2022-01-17 12:34] elichad commented on #13168
Thanks for the quick fix! Can this be added to `dev` as well?

[2022-01-17 12:35] mvdbeek commented on #13168
Of course, but we have to change some things there since we changed the way that mimetypes are being set.

[2022-01-17 12:37] elichad commented on #13168
Ahh, gotcha.

[2022-01-17 14:52] mariipia10 commented on #13066
Awesome, thanks :)  @mvdbeek  It used to show as a URL but upon clicking nothing happened, just checked again and it isn't shown as such anymore

[2022-01-17 17:03] assuntad23 commented on #12367
@afgane @cat-bro Can we close this issue now?

[2022-01-17 17:03] assuntad23 commented on #12268
@natefoo Can we close this issue now?

[2022-01-17 17:16] mvdbeek commented on #8881
Closing this in favor of https://github.com/galaxyproject/galaxy/issues/11721. We do have a cron-style celery task already.

[2022-01-17 17:16] #8881 closed

[2022-01-18 01:15] tnabtaf commented on #12268
Galaxy Announce mailing membership has resumed it's upward climb.  So, this
appears to be working.

On Mon, Jan 17, 2022 at 9:04 AM Assunta DeSanto ***@***.***>
wrote:

[2022-01-18 11:32] mvdbeek opened #13181 "markdownSplit fails on indented fenced galaxy blocks"
**Describe the bug**
The markdown component doesn't seem to properly wait for values to become defined, and I believe that causes testing issues in https://github.com/galaxyproject/galaxy/pull/13174, and in general is noisy and suboptimal:
<img width="1007" alt="Screenshot 2022-01-18 at 12 27 42" src="https://user-images.githubusercontent.com/6804901/149929094-2596d475-6f40-4874-8ba5-3b8bffbc06c5.

[2022-01-18 13:09] #13168 closed

[2022-01-18 13:38] dannon commented on #12871
@neoformit is going to take a stab at this one (will update assignment when org invite propagates)

[2022-01-18 16:21] mvdbeek opened #13184 "Directory URI workflow parameter"
A request by @Delphine-L, it would be great if a directory URI parameter could be a workflow parameter.

<img width="1061" alt="Screenshot 2022-01-18 at 17 19 04" src="https://user-images.githubusercontent.com/6804901/149976259-f16a7baf-05a8-4a74-a4c7-5c8c11035e18.png">

[2022-01-18 16:40] dannon commented on #13140
Should be resolved now with #13166

[2022-01-18 16:40] #13140 closed

[2022-01-18 16:52] natefoo commented on #12268
Thank you for confirming from your new digs, @tnabtaf!

[2022-01-18 16:52] #12268 closed

[2022-01-18 17:13] dannon commented on #12825
Test to see if this works when save/reloading the editor first (note from meeting)

[2022-01-18 22:16] neoformit commented on #12871
Thanks @dannon

[2022-01-19 00:56] guerler opened #13187 "Numeric input slider does not seem to display fractions"
When using the e.g. the `Lofreq filter called variants posteriorly (Galaxy Version 2.1.5+galaxy0)` tool which contains a float input element the slider allows only to switch to either `0` or `1`. Fractions in-between cannot be selected.

ref: #12937

**Galaxy Version and/or server at which you observed the bug**
In dev/22.01.

**Expected behavior**
The slider circle should be in the center allowin

[2022-01-19 10:58] hexylena opened #13190 "Editing an already created rule in RBU modifies the rule definition"
I've created a rule to replace using "Create column from expression replacement", but on subsequent edits of that rule, my configuration is lost, and it defaults to "create column matching expression groups"

![re-run-rule-issue](https://user-images.githubusercontent.com/458683/150116849-086bed05-4187-4c6c-a268-e5c5dc3fe0e9.gif)

[2022-01-19 11:07] hexylena opened #13191 "UI error messages can get a bit cluttered due to inclusion of every tag the user has ever used"
Mine is an extreme case, I seem to have 8k used tags, making the JSON blob I should "send to the developers" just excessively large.

[code]

If the user id is included, I'm not sure the additional information is useful from the administrator perspective? We can re-discover all of that

[2022-01-19 11:12] hexylena opened #13192 ""recently used rules" are unsorted, leading me to be unable to select the most recently created rule which I'm trying to edit"
I think these should probably be sorted by their timestamp?
![image](https://user-images.githubusercontent.com/458683/150118478-a1a7bc12-6cd9-4fbd-b68e-28f6787dcf55.png)

One of them fails to load

![image](https://user-images.githubusercontent.com/458683/150118590-cd7413af-4880-4725-8db7-7738cec9db12.png)

And the rule I recently used to try and build a collection (which failed to build) doesn't

[2022-01-19 14:42] hexylena opened #13197 "Beta history: selecting a single item is now more difficult"
I'm not sure this is intentional? I found the older behaviour easier: enable multi-select, and then select individual / all / none. But now I'm forced into selecting all, and I need to manually de-select if I only want a single item.

![Peek 2022-01-19 15-36](https://user-images.githubusercontent.com/458683/150152203-c5eb0407-bb01-401b-8ecd-04f825089d18.gif)

Also the checkbox looks pre-checked, v

[2022-01-19 14:43] dannon commented on #13197
@hexylena Agreed, multiselect and filtering needs work.  I like the idea of the whole element being a click target, this is good feedback, thanks!

[2022-01-19 14:44] hexylena opened #13198 "Beta history: What is a valid history? It has a similar icon to 'save' for many dialogs resulting in confusion"
![image](https://user-images.githubusercontent.com/458683/150153196-7151c8b7-c35d-4dda-aa6c-1c7615b11a9d.png)

At least for me. If I hover and read the alt-text it's clear (though "Save history" is a bit misleading, we're just "Saving history metadata").

If the check mark is telling us the history is valid somehow (I didn't know we could get invalid?) then it shouldn't be using the component of a

[2022-01-19 14:46] dannon commented on #13198
@hexylena There's commentary on this in another issue I added that I will link up, but the short answer is that upon discussion we're looking to dump this whole interface and use the central pane for editing attributes.  The history is too dense, and as long as changes are reactive editing in the central pane offers more options.

[2022-01-19 14:47] hexylena commented on #13198
That makes sense! And sounds like quite a positive improvement. I look forward to it. (Feel free to close then, unless you want to track that it gets addressed in the new ui)

[2022-01-19 14:50] hexylena opened #13199 "History: is hiding collections functional currently?"
xref #13197 I ended up filtering some collections in my history to allow me to select just what I want, and attempted to hide it, but it doesn't seem to hide. The request completes successfully, but nothing changes. Experienced on EU. I've tested with both beta + old history.

![hiding](https://user-images.githubusercontent.com/458683/150154234-ad819393-5ab8-4983-945c-7ec4957c7b6f.gif)

## Request

[2022-01-19 14:55] mvdbeek commented on #13197
my 2c is that it used to be convenient to see the peek in multiselect, but that could also be on hover ?

[2022-01-19 14:55] hexylena opened #13200 "Beta history: dataset previews (within collections) disappear on scrolling"
The preview for the top dataset disappears and won't return until I close/re-open, I'm guessing it gets lost during scrolling?
![scroll](https://user-images.githubusercontent.com/458683/150155660-c783349c-b55c-46a1-930c-263995bc4faf.gif)

[2022-01-19 15:01] hexylena opened #13201 "Beta history: difference pending query for items and empty list/etc is unclear: needs a spinner?"
I've kept the network tab open to check if the request has completed (eu seems to be slow today) and it's unclear if the list is empty, or, if there's datasets but they haven't loaded yet. Maybe a spinner would fix this until the request is resolved?

![image](https://user-images.githubusercontent.com/458683/150156500-098c2a38-8e91-4300-a330-b863957dfe12.png)

[2022-01-19 15:47] hexylena commented on #13201
Ah this is in the old history, yes, that's what's needed ![image](https://user-images.githubusercontent.com/458683/150165602-6ee05f48-46ab-4ee9-b71b-9fe57f473b21.png)

[2022-01-19 15:55] dannon commented on #13191
I don't know of a good reason to include tags_used here; +1 to removing it.

[2022-01-19 18:37] davelopez commented on #13199
I will have a look to see if there is something off at the API level

[2022-01-19 21:08] dannon commented on #13191
@hexylena Looks like that user data isn't built into the modal by default -- which (failed) action resulted in the one you saw with this full payload?

[2022-01-19 21:24] dannon commented on #11939
I forgot to update this but I actually killed mousewheel and cookie in https://github.com/galaxyproject/galaxy/pull/11710/.   Updated now.

[2022-01-20 00:51] cat-bro commented on #13027
I'll have a go at this for paper-cuts day

[2022-01-20 03:57] cat-bro commented on #12367
@assuntad yes, thanks!

[2022-01-20 04:05] #12367 closed

[2022-01-20 08:56] #12825 closed

[2022-01-20 09:25] hexylena commented on #13191
oh, interesting. I've seen it twice:

- submitted a large RBU job, and got a "gateway timeout" for checking the history contents API (not sure how this happens? maybe just EU instability?)
- submitted a similar RBU job, with a few datasets that 403'd in such a way that the client got the error

[2022-01-20 11:58] #13153 closed

[2022-01-20 12:49] davelopez commented on #13181
## Update
I've been debugging this one for some time and, so far, I found out that the issue seems to be related to the markdown not being properly resolved in [resolve_invocation_markdown](https://github.com/galaxyproject/galaxy/blob/7c34b058d8ae2c4441172ef3af723dfd09b02c55/lib/galaxy/managers/markdown_util.py#L645)
For example, `workflow_display()` should be resolved to something like `workflow_

[2022-01-20 13:09] mvdbeek opened #13211 "Can't attach terminal in workflow editor when dragging screen"
**Describe the bug**
A clear and concise description of what the bug is.

![no_attach_if_scrolling](https://user-images.githubusercontent.com/6804901/150344926-79634d2c-66b0-4ddb-9563-190adf6e00e5.gif)

**Galaxy Version and/or server at which you observed the bug**
21.09

**To Reproduce**
Steps to reproduce the behavior:
1. Create workflow with a few nodes
2. Move the nodes so they're not directly

[2022-01-20 14:10] nsoranzo opened #13212 "Missing `galaxy_slots_and_memory.xml` test tool"
@mvdbeek Did you forget to add the `galaxy_slots_and_memory.xml` file to `test/functional/tools/` ? This file is mentioned in `test/functional/tools/samples_tool_conf.xml` but loading fails and the corresponding `test_slots_and_memory` integration test is skipped.

_Originally posted by @nsoranzo in https://github.com/galaxyproject/galaxy/pull/6958#r764299163_

[2022-01-20 14:11] mvdbeek commented on #13212
Yes, but I don't have any trace of it

[2022-01-20 14:27] davelopez commented on #13181
## Update
Ok, so I think I got to the bottom of this... in summary, the backend is resolving the markdown correctly but the client, in [splitMarkdown](https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Markdown/Markdown.vue#L219), is not considering a particular case that this `WORKFLOW_WITH_CUSTOM_REPORT_1` test workflow is "featuring".

This workflow markdown report template

[2022-01-20 14:34] mvdbeek commented on #13101
Of course that's a global limit that could later come back to bite us ... it might not be worth it considering the split tools are usually not very resource intensive

[2022-01-20 14:48] Delphine-L opened #13213 "Workflow : Jobs fail to be scheduled if the outputs are given duplicated tags"
**Describe the bug**
I was trying to run workflows where I give tags to the outputs, ones without `#`, I don't want them to propagate. In some tools, I was giving the same tags to several outputs. In these cases, running the workflow leads to these tools not being scheduled at all, with only the message "Invocation scheduling failed".
On the server, here is the error :

[code]

**Galaxy Version an

[2022-01-20 15:04] mvdbeek commented on #13213
@Delphine-L something went wrong with the links to the workflow and history.
From the user side there's no requirement for tags to be unique, but when we rapidly create new tags in different steps the if tag exists use it else create new fails.

[2022-01-20 15:08] Delphine-L commented on #13213
history : https://usegalaxy.eu/u/delphine-l/h/debugging-name-tags
workflow: https://usegalaxy.eu/u/delphine-l/w/debuggin-name-tags

[2022-01-20 16:13] assuntad23 commented on #13192
I can take a look at this!

[2022-01-20 16:18] hexylena commented on #935
@jennaj supports this, she says in a telco and proposes DNA. I seconded with Jurassic parks' "Mr DNA" as our clippy

![image](https://user-images.githubusercontent.com/458683/150378474-f45a4547-ca89-45a5-ad12-0aa9f097b356.png)

[2022-01-20 16:42] mvdbeek commented on #13213
A quick workaround until we have a fix (which is probably tricky) is to create the tags you're going to use once in advance.

[2022-01-20 17:04] mvdbeek commented on #13213
https://github.com/galaxyproject/galaxy/issues/13213 happens because steps and/or invocations are being scheduled within different threads. The solution would be to use a technique to ensure that we don't run into the unique key constrain violation.
That could be something like
[code]

The problem is that we can't flush the original sqlalchemy session, since we might be in an inconsistent state (H

[2022-01-21 08:34] yvanlebras commented on #4021
Hi Nate, Nicola, Helena, is there some manner to fix this kind of thing now ? With @colineroyaux we have some datasets with an error state but the content is ok and we search a way to use it...

[2022-01-21 09:58] hexylena commented on #4021
You can always modify the database records, but, outside of that, no way for people to do it.

[2022-01-21 10:12] mvdbeek commented on #4021
I think the ambition is always to fix those and make the framework better. It's very complex to assert that a dataset is erroneously in error (is it truncated ? is there an unexpected message in the stderr ? did the tool swallow an error but set the exit code to non-zero ? other weird stuff that lead to a dataset that looks almost correct but isn't), and that overwriting the state is correct and w

[2022-01-21 10:52] FredericBGA opened #13220 "Unexpected behavior of non optional input parameters in workflows"
**Describe the bug**
When you use an input parameter (Simple inputs used for workflow logic) in a workflow, the default is set to "non optional".
But at execution, even is the parameter is not set, the workflow will start.
In this case (sed program) the workflow will run, but the output file won't be modified.

And if your tool uses:
[code]
and if you try to link this input to `Simple inputs used

[2022-01-21 12:08] #11717 closed

[2022-01-21 14:32] davelopez commented on #13181
How do we want to proceed here?

Right now there seem to be some discrepancies between the markdown syntax that the backend and frontend can handle around galaxy fenced code blocks.
- Should we rewrite `splitMarkdown` in the client to support these "indented code blocks as literals"? This sounds nice for meta documentation but, right now, I don't see any real usage value for end-users.
- Should we

[2022-01-21 14:46] mvdbeek commented on #13181
Thanks for figuring out what was going on there.

I think the additional indentation to delineate literal code blocks seems odd (reminds me of rst actually), I think in other markdown flavors you'd just add another set of backticks, but increase the number by one. e.g in github flavored markdown:
[code]
I wonder if that actually works now, then that would probably be the best fix ?

[2022-01-21 15:28] davelopez commented on #13181
That's a great solution and I like it much better.
I think the underlying `markdown-it` library supports this but I just tried and it still doesn't work probably because [splitMarkdown](https://github.com/galaxyproject/galaxy/blob/dev/client/src/components/Markdown/Markdown.vue#L219) is simply looking for *```galaxy* blocks regardless of the surrounding context.

Should we try to rewrite `splitMar

[2022-01-21 15:31] mvdbeek commented on #13181
Nah, definitely not worth doing before the release with other user-facing bugs open, I think that's so far only a testing issue. We could also try to hook into into the markdown-it renderer or token stream, that might be the most robust way to do it.

[2022-01-21 15:44] mvdbeek commented on #13101
Now that we have https://github.com/galaxyproject/galaxy/pull/13170 i'll drop the bug label and the milestone. Getting something like a dynamic collection would be really cool, but also tricky

[2022-01-21 15:58] mvdbeek commented on #13136
@davelopez do we still need to downgrade fastAPI ? I see a lot of `anyio.BrokenResourceError` exceptions. I thought they were supposed to be fixed, but seems it's still an issue

[2022-01-21 16:11] davelopez commented on #13136
Yeah, I also thought it was fixed but I guess it is still an issue https://github.com/tiangolo/fastapi/issues/4041 so probably we should downgrade again.

[2022-01-21 16:45] nsoranzo commented on #13136
Is it a real issue of just polluting the logs?

[2022-01-21 16:54] davelopez commented on #13136
That's a good question, some people claim it is fixed and some are silencing it but I'm afraid I don't know if that's a good idea or what are the consequences.

[2022-01-21 18:06] mvdbeek commented on #13136
Yeah, all of these are kind of "logging issues". It happens when the client goes away and we write to a closed socket. You can see that the fix in https://github.com/encode/starlette/pull/1262/files is to pick up the right exception from the coroutine, I suppose that something similar should be done for the WSGI middleware we're using (and that doesn't seem to be based on BaseHTTPMiddleware). A go

[2022-01-21 18:50] mvdbeek commented on #13136
It might not be the closed socket issue ....
[code]

And then `curl http://127.0.0.1:8001/ --max-time 0.1` doesn't lead to the exception. Explicitly raising an exception is also fine and doesn't print the whole anyio stacktrace ... odd. I could have sworn i've seen it in the tests recently. But I guess we can close that for now until we see it again in Galaxy.

[2022-01-21 18:50] #13136 closed

[2022-01-22 18:04] mvdbeek commented on #13213
Should be fixed in https://github.com/galaxyproject/galaxy/pull/13216

[2022-01-22 18:04] #13213 closed

[2022-01-22 18:05] mvdbeek commented on #12857
Should be fixed in https://github.com/galaxyproject/galaxy/pull/13193

[2022-01-22 18:05] #12857 closed

[2022-01-24 08:31] #13173 closed

[2022-01-24 09:55] mvdbeek opened #13229 "Tool Shed can host repositories with untracked files / pending changes"
**Describe the bug**
https://lists.galaxyproject.org/archives/list/galaxy-dev@lists.galaxyproject.org/thread/4446KZYVWWNHFGKVYXEHDX4LG4L6YJSX/ was due to uncommitted changes in the hg repo on disk. This should never happen ... if there is any exception during the upload we should completely roll back database changes and the corresponding repository on disk.

**Galaxy Version and/or server at whic

[2022-01-24 10:15] hexylena commented on #13101
Just to add on to this, it would be great if we have a way to prevent creating those files in the first place - some storage backends really suffer under 100k+ files in a single directory.

[2022-01-24 10:27] mvdbeek commented on #13101
They're not precreated in the object store, only in the job working directory. Is that also problematic ?

[2022-01-24 10:31] hexylena commented on #13101
Depends on the backing file store where the working directory lives. I know it's been a problem for @bgruening in the past when the working directory was EMC Isilon backed rather than on scratch space.

[2022-01-24 12:20] mvdbeek commented on #10450
Is this the situation you're describing ?
<img width="818" alt="Screenshot 2022-01-24 at 13 17 27" src="https://user-images.githubusercontent.com/6804901/150781571-74dfc51f-7df4-4cde-bb8b-e4e67b20047b.png">

I guess I don't understand what's the difference between these two cases

when the optional input to tool 2 is provided DIRECTLY to the tool, scheduling succeeds

Can you check if the best pra

[2022-01-24 13:14] davelopez commented on #13187
I'll try to figure this one out

[2022-01-24 13:43] mvdbeek commented on #13220
So the problem is again that we're not discriminating `""` from `null`. I've fixed this for optional selects in https://github.com/galaxyproject/galaxy/pull/12138, but we need to do the same for simple text parameters, or maybe even all parameter types.

[2022-01-24 16:25] mvdbeek opened #13232 "Simplified workflow run form doesn't do any validation / merge with new form ?"
Individual workflow parameters may contain logic to validate values (e.g don't submit a workflow if a required text parameter is null).
The old/advanced workflow run form stores events emitted by validating steps and prevents executing a workflow with invalid parameters.

Instead of adding the same logic that the old form uses we should probably merge the old and simplified forms. The new form cou

[2022-01-24 17:10] mvdbeek opened #13234 "Workflow run form validation highlighting broken"
**Describe the bug**
The advanced workflow run form doesn't highlight validation errors anymore
<img width="1300" alt="Screenshot 2022-01-24 at 18 05 56" src="https://user-images.githubusercontent.com/6804901/150830487-235893c3-86f5-4b7c-9957-67e27ea1ccbf.png">

(And the new one submits, leading to a broken invocation)

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version:

[2022-01-24 18:50] #12003 closed

[2022-01-24 19:12] #13187 closed

[2022-01-24 20:18] astrovsky01 commented on #12620
Update: nametags will appear on reload, but all nametags on both the parent and child dataset dataset disappear until then.

[2022-01-25 08:23] simonbray opened #13239 "Email notification upon workflow completion"
Requested by @aurelienmoumbock, I guess the concept of 'completion' is not as straightforward for workflows as for jobs though.

[2022-01-25 09:38] mvdbeek commented on #13239
It isn't easy to do in a performant and reliable way but it's absolutely needed, not just for emails but also for deleting outputs (which isn't guaranteed to work for complex workflows with scheduling steps added late during an invocation)

[2022-01-25 10:45] gallardoalba opened #13240 "BUSCO: database problem"
**Describe the bug**
When running BUSCO with Augustus as gene predictor, it triggers the following error:

`FileNotFoundError: [Errno 2] No such file or directory: '/scratch1/03166/xcgalaxy/main/staging/40368783/working/busco_downloads/lineages/fabales_odb10/hmms'
`
However, it works fine when using Metauk.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 (useg

[2022-01-25 11:30] davelopez commented on #13234
I'll try to debug this one and see if I can find something...

[2022-01-25 12:53] dannon commented on #11939
'complexify' was removed in #13228.

[2022-01-25 14:22] dannon commented on #13079
@itisAliRH I believe it used to select only the first matching element, and something changed in an underlying dependency.  That's probably the intended path -- we'll never want duplicate tour popups attaching to more than one element at a time.

[2022-01-25 14:34] itisAliRH commented on #13079
@dannon Yes, this is what we want. Here in https://github.com/dannon/bootstrap-tour/blob/aeb8bb540be9b801b2db9c3d606f10b94089fb60/src/coffee/bootstrap-tour.coffee#L515 , the popover selector option is a jquery selector and it selects all matched ones.

[2022-01-25 14:55] itisAliRH commented on #13079
@dannon Ok :) There is another package for vue https://www.npmjs.com/package/vue-tour. We can swap to this (which is more up-to-date and has more downloads).

[2022-01-25 14:57] dannon commented on #13079
@itisAliRH That looks nice!  It's new since I last looked at this :)

Very happy for you to take this one over.

[2022-01-25 16:51] dannon commented on #13149
This is going to turn into an IUC tool installed via toolshed.

[2022-01-25 16:56] jmchilton commented on #11291
It seems like a multiple dataset parameter should always be a reduction... just as a strong typing argument... so I don't think I like ii or iii conceptually/theoretically?

iv feels like what we should do in the abstract, but then it should be handed off to the tool logic and i seems the correct result to me. I think I agree with @innovate-invent here... though to be more specific I would make th

[2022-01-25 17:02] mvdbeek commented on #11291
So ... we just don't generate a job ? Do we fill downstream step connections with null then ? And isn't that in contradiction to option 4 ? Or was the idea that option 4 is for optional=True case?

[2022-01-25 17:06] jmchilton commented on #11291
Not generating a job seems like a good optimization and generating a job but the input validation stuff failing it seems like a fine response also?

No you're right - I was unclear there and imprecise. I guess when I said "run the job" I meant run the job setup code and presumably let it is just fail because the job inputs are invalid? I definitely don't think we should "run the job" in the sense

[2022-01-25 17:16] Delphine-L opened #13242 "Specify default value in a workflow when text value is restricted by connection"
I would like to be able to set a default value for a workflow input parameter when the values are restricted to "Attempt restrictions based on connections".

Right now the option allows to enter text as a default value :

![image](https://user-images.githubusercontent.com/11195061/151024444-1f3bd2e9-c075-47d8-a27c-a9b59ce48b7e.png)

But the manually entered text isn't recognized as a valid input :

[2022-01-25 17:24] mvdbeek commented on #13242
I think this needs to be `vertebrata_odb10` https://github.com/galaxyproject/tools-iuc/blob/master/tools/busco/macros.xml#L266.

That's the same issue, this works with the actual value, not the display text ... which is of course difficult to know or find.

[2022-01-25 17:30] Delphine-L opened #13243 "Dataset tags non visible from the history view"
As part of the VGP workflow, I use dataset tags to identify key outputs. I don't want to use propagating tags because I use them to mark key datasets in the analysis.
However, these dataset tags are not visible from the history view :
![image](https://user-images.githubusercontent.com/11195061/151027126-e708cea1-1da7-4ebb-8d7a-60091af335db.png)

I need to "Edit tags" in the dataset to see them :
!

[2022-01-25 17:33] davelopez commented on #13234
I think this one is defying all I know about Vue reactivity... (which probably is not much :sweat_smile:)

Looks like the validation is there, but something shady is happening with the reactivity of the `error` property...

![Screenshot from 2022-01-25 17-42-12](https://user-images.githubusercontent.com/46503462/151023258-54156798-3424-41e9-a17a-e87f3b624098.png)

As far as I can understand, in th

[2022-01-25 17:40] mvdbeek commented on #12362
I think we've got this now.

[2022-01-25 17:40] #12362 closed

[2022-01-25 17:53] Delphine-L commented on #13242
When I enter`vertebrata_odb10` as a default value, I still get "nothing selected" in the workflow input form

[2022-01-25 18:03] mvdbeek commented on #13242
Hmm, yeah, that's definitely a bug. If you remove the restriction though it should work.

[2022-01-25 19:33] innovate-invent commented on #5339
check_upload_content appears to be missing and undocumented
https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/config/__init__.py#L831
https://github.com/galaxyproject/galaxy/blame/dev/tools/data_source/upload.py#L111-L112

[2022-01-25 20:49] innovate-invent commented on #11291
There is a contract between Galaxy and the tool where if the input is multiple=true but optional=false then there must be at least 1 dataset. The tool code is designed to expect at least one dataset and should not be expected to have the case of zero datasets defined. I would prefer to have functionality that handles this scenario gracefully rather than just tossing an error or violating the contr

[2022-01-25 21:47] innovate-invent commented on #11721
I am aware that this is deployment specific, but I think in some situations I would prefer uploads to be handled by a celery worker rather than by submitting a job to the job queue. The upload tool has a lot of tight links to Galaxy resources and configuration. Everything else also has to wait for the upload tool to complete before they can begin execution so I generally schedule it to a local run

[2022-01-26 10:46] hexylena opened #13247 "Unable to use simplified workflow interface with tools having optional inputs (e.g. FastQC)"
I was testing the simplified WF interface (love it, amazing) for some screenshots, but unfortunately it doesn't work with nearly every workflow I'd show to this group. I've concluded it is because of FastQC which has some optional inputs

![image](https://user-images.githubusercontent.com/458683/151149141-8ea3e5f5-03e9-4e62-ab07-5a8e6036e448.png)

Those seem to be considered as "disconnected runti

[2022-01-26 11:18] hexylena commented on #13243
Would renaming the dataset to call it out + hiding the other datasets not accomplish a similar level of visibility to the tags?

[2022-01-26 14:55] jmchilton commented on #13247
I did not even consider this use case but it makes perfect sense what you're trying to do here and this is clearly a huge oversight. We don't have a way to represent this... really even at the backend level either.  I'm not sure I have any quick answers either for how to go about that.

[2022-01-26 14:59] ic4f commented on #5339
@innovate-invent thank you for catching this!

[2022-01-26 15:01] hexylena commented on #13247
Oh no worries! No quick answers needed! Would just ignoring the unconnected inputs be an option, at least if it's otherwise passing the 'best practices' check?

[2022-01-26 17:14] Delphine-L commented on #13243
I can't hide other datasets, we need them all.
By renaming datasets, I worry that we make traceability more difficult, without the `tool on data 8` info when we need to inspect intermediate files.

As I said I can work around the problem, it just seems to add more changes to the workflows that wouldn't be necessary if we could see the tags. Is there a reason to keep them hidden?

[2022-01-26 22:09] jancrichter commented on #10450
The screenshot does indeed show the situation I describe.

The best practice panel makes no complaints.

Maybe this makes the two situations clearer:

1) There is an explicit "Input dataset", set to optional, connected to the tool's optional input. If the input file is not provided, scheduling fails.
2) Nothing is connected to the tool's optional input. If needed it is supplied ad-hoc, as you call

[2022-01-27 08:46] bgruening opened #13253 "editing subworkflows can yield a 500 error"
If you import this workflow, which containers sub-workflows, the sub-workflow can not be edited.

https://usegalaxy.eu/u/hyphy/w/rascl/

Editing yields the following stack trace.

[code]

[2022-01-27 10:41] mvdbeek commented on #13253
Can you update the .eu branch ? I think it doesn't contain https://github.com/galaxyproject/galaxy/pull/13231/. Probably not the issue at hand, but maybe it is and that's a fix you want anyway.

[2022-01-27 10:44] mvdbeek commented on #13253
OK, the problem is that we don't share the embedded workflow. If you download the workflow and re-upload it then you can edit it.

[2022-01-27 17:26] #13253 closed

[2022-01-28 08:17] maikenp opened #13256 "Job error when closing down interactive job - update from release_20.09 to release_21.09"
**Describe the bug**
After upgrading from release_20.09 to release_21.09 the interactive jobs go into error state when the job is shut down via the "Active Interactive Jobs" page.

The error message in the Jobs history is "This job failed because it was cancelled by an administrator.
Please click the bug icon to report this problem if you need help." See screenshot of the job-state:

The Galaxy se

[2022-01-28 12:09] bebatut opened #13257 "Can not view a file in a nested collection without expanding it"
**Describe the bug**
I could not click on "View data" for datasets that in nested collections without expanding the datasets

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 21.09 (usegalaxy.eu)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to datasets in a nested list (collection)
2. Try to click on "View data"
4. See error

**Screenshots**

![Peek-2022-0

[2022-01-28 12:33] #13234 closed

[2022-01-28 13:49] hexylena opened #13258 "Tabular dataset improvement: show lines and columns"
<img width="199" alt="Screenshot 2022-01-17 at 17 45 11" src="https://user-images.githubusercontent.com/44605769/149817098-459e3b7e-9f72-4372-9426-f886e2dcf30e.png">
It would be awesome if tabular datasets (and similar) had both 'lines' AND 'columns'

_Originally posted by @nomadscientist in https://github.com/galaxyproject/training-material/discussions/2198#discussioncomment-1985220_

[2022-01-28 14:03] davelopez opened #13259 "Numeric input slider does not preserves value until you hit "enter""
If you just move the slider and then execute the tool the value is not preserved when you try to rerun the tool.

Thank you @guerler for noticing.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: `dev`
Commit: 52175e60d52ae64a5c8e428fa277538c8cbddd7f

**To Reproduce**
Steps to reproduce the behavior:
1. Open a tool with a numeric input with range slider (usually with

[2022-01-28 18:07] #13259 closed

[2022-01-29 01:05] guerler commented on #13232
Thanks for reporting this issue. Both forms use the `FormDisplay` component and are in that sense already merged. Further consolidation of the two might not be beneficial rather we would need to make additions to the API to reject incomplete job submissions.

[2022-01-29 20:04] bgruening opened #13266 "render bioconductor xref as part of the tool form"
It would be nice if we can add Bioconductor xref into the tool form and link to https://bioconductor.org/packages/release/bioc/html/amplican.html

Since it is a real DOI we could reuse the DOI code in Galaxy and also the DOI cache. In addition, we can maybe include a BioC logo?

`<xref type="bioconductor">10.18129/B9.bioc.amplican</xref>`

xref: https://github.com/galaxyproject/tools-iuc/pull/4358

[2022-01-30 09:56] mvdbeek opened #13269 "Stable version of Gravity"
Don't release 22.01 without changing gravity to a stable version.

[2022-01-30 19:47] bgruening opened #13272 "Galaxy community manuscript 2022 - author details needed"
# We have been accepted to publish an updated version of the Galaxy community paper 🎉

If you think that you’ve made substantial contributions to the Galaxy community ecosystem (core framework, tools, GTN, public server maintenance, user support, etc.) over the past two years, please add your details as an author into this form: https://bit.ly/nar-author-2022

Thank you all!

[2022-01-31 07:47] csoneson commented on #13266
If explicitly specifying the link target, the safest would be to link to https://bioconductor.org/packages/amplican/ rather than to the release landing page - I think this link should automatically point to the "right" version of a package (release if possible, devel if not yet in release, list of removed packages if deprecated).

[2022-01-31 07:56] #12506 closed

[2022-01-31 08:26] mvdbeek commented on #11915
We're going with https://github.com/galaxyproject/galaxy/pull/13250

[2022-01-31 08:26] #11915 closed

[2022-01-31 08:42] mvdbeek commented on #13012
This seems to work correctly for test/functional/tools/multi_output_assign_primary_ext_dbkey.xml, with metadata_strategy:extended and without.

[2022-01-31 08:42] #13012 closed

[2022-01-31 08:43] mvdbeek commented on #13150
Done in https://github.com/galaxyproject/galaxy/pull/13223, thanks again @gallardoalba!

[2022-01-31 08:43] #13150 closed

[2022-01-31 08:44] mvdbeek commented on #11919
I guess there's no urgent need for this right now.

[2022-01-31 08:45] mvdbeek commented on #10885
And finally @natefoo knocked it out of the park with https://github.com/galaxyproject/galaxy/pull/13224

[2022-01-31 08:45] #10885 closed

[2022-01-31 15:14] bernt-matthias opened #13277 "Planemo lint fails in 22.01 for imported macros"
**Describe the bug**

When parsing external macros a `base` property is added to the nodes:

https://github.com/galaxyproject/galaxy/blob/32a41700f3026aa24b151a3fd7e7205ee3fd5fee/lib/galaxy/util/xml_macros.py#L294

introduced here: https://github.com/galaxyproject/galaxy/pull/13186 (https://github.com/galaxyproject/galaxy/commit/9d6bfad2553fc15da5a1b764066ebcbc1f3bb233)

Seems that this is treated

[2022-01-31 15:42] kxk302 opened #13279 "Update python-irodsclient version"
Currently, we use python-irodsclient version 1.0.0. Recently, python-irodsclient version 1.1.0 has been released. Furthermore, I found and fixed a bug in python-irodsclient in connection destructor. For Galaxy 20.01 release, we should update python-irodsclient to version 1.1.1 (Will be released soon and should have the fix for connection destructor bug)

[2022-01-31 15:47] bernt-matthias commented on #13277
Seems that there are then two base attributes at the nodes (one with a namespace):

[code]

this might give some possibilities for filtering for the xsd linter.

[2022-01-31 15:56] mvdbeek commented on #13279
1.1.1 is released now, but without https://github.com/irods/python-irodsclient/pull/340, so it needs to be 1.1.2 or higher.

[2022-01-31 16:16] mvdbeek commented on #9965
I'm not sure why we still keep this open, we've been producing diffs for a while, and larger changes include upgrade instructions.

[2022-01-31 16:16] #9965 closed

[2022-01-31 16:17] mvdbeek commented on #12735
https://github.com/galaxyproject/galaxy/pull/13188 and https://github.com/galaxyproject/galaxy/pull/13274 should cover this.

[2022-01-31 16:17] #12735 closed

[2022-01-31 16:20] mvdbeek opened #13280 "Integration tests needed for openid"
test had been down with
[code]
we have no coverage of openid as far as I can tell.

[2022-01-31 21:34] ic4f commented on #10369
Changing milestone as per https://github.com/galaxyproject/galaxy/pull/13108#issuecomment-1021278281

[2022-02-01 07:59] maikenp commented on #13256
Could it have something to do with the reclaim change here? https://github.com/galaxyproject/galaxy/commit/6117d0cbe3d2a0c7b273a681ede7cdf117415346#diff-1a8fc7fe7149966f6e114377b789805ca7d1b0b2ac5a61828a37ff914fdceeaa

[2022-02-01 10:11] nsoranzo commented on #13256
@maikenp Maybe you can try to use `git bisect` to pinpoint the commit that introduced this issue for you?

[2022-02-01 11:28] maikenp commented on #13256
I could try, not familiar with git bisect, so I might be fiddling a bit in the dark.

But right now we are trying to downgrade to 20.09 to verify if it indeed was the update to 21.09 causing the issues. Will get back to you.

Thanks.

[2022-02-01 11:49] davelopez commented on #13199
Should be fixed in #13214

[2022-02-01 11:49] #13199 closed

[2022-02-01 12:00] hexylena commented on #13199
Fantastic! Thanks so much @davelopez

[2022-02-01 13:58] nsoranzo commented on #13280
Closed by dropping this feature in #13281 .

[2022-02-01 13:58] #13280 closed

[2022-02-01 15:35] dannon commented on #11919
@mvdbeek I don't think there's anything to do other than make a statement in the release notes, right?  postgresql 9 is EOL, we should totally be in the clear to call it deprecated and use modern featuers.

[2022-02-01 15:36] mvdbeek commented on #11919
We should probably error out once we do use newer features, but we still test against 9.6. For now I don't think we need to deprecate.

[2022-02-01 15:41] mvdbeek commented on #11919
OK, let's deprecate in the release notes without erroring out on startup.

[2022-02-01 16:16] mvdbeek opened #13287 "Test one of the data source tools"
Probably intermine, which is the main entry to all the "mine" instances .

[2022-02-01 17:12] ajs6f opened #13289 "SQL errors during PostgreSQL database creation"
**Describe the bug**

SQL `NoSuchTableError` and syntax error prevents PostgreSQL database creation.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: (check <galaxy_url>/api/version if you don't know)
`release_21.09`
Commit: (run `git rev-parse HEAD` if you run this Galaxy server)
81f27cb5878b0e353353f0eefa8a125fe1b5314e

**To Reproduce**
Steps to reproduce the behav

[2022-02-01 17:36] mvdbeek commented on #13289
You'll have to update postgres to at least 9.6, but better one of the currently supported releases.

[2022-02-01 17:36] #13289 closed

[2022-02-02 03:07] neoformit commented on #12871
I don't think `Ui.Input` or `Ui.NullableText` can be removed from `ui-misc.js` yet as other components depend on them:
- `parameters.js` : `_fieldSelect`
- `galaxy/client/src/mvc/visualization/chart/views/editor.js`

`parameters.js` will resolve itself when that gets refactored to Vue. I'm guessing we can swap out the dep in `editor.js`?

[2022-02-02 10:41] mvdbeek opened #13291 "Unify argument parsing in auxiliary scripts"
We've got a few different ways to parse the location of the config file file. This should all be using a common function.

There is for instance the `get_config` function in lib/galaxy/model/orm/scripts.py that is used by manage_db.py and db_shell.py that doesn't support the GALAXY_CONFIG_FILE env var for instance. So if you think everything respect that's var ... you're wrong 😆.

[2022-02-02 11:46] #12911 closed

[2022-02-02 11:46] mvdbeek commented on #12911
Thanks for the report, should be fixed in https://github.com/galaxyproject/galaxy/pull/13290

[2022-02-02 11:48] simonbray commented on #12911
Nice, thanks for the fix!

[2022-02-02 14:40] vazovn commented on #13256
We have just tried to revert to version 20.09. The only change in the ansible playbook was:

#galaxy_commit_id: release_21.09
galaxy_commit_id: release_20.09

Galaxy works as expected : after cancelling the Interactive Tools we get a green screen 👍
<img width="1440" alt="Screenshot 2022-02-01 at 14 00 45" src="https://user-images.githubusercontent.com/11718320/151973346-f9f59f57-200b-4689-a05e-8da

[2022-02-02 16:08] mvdbeek commented on #9763
Sorry for the late response, I suppose that's been fixed a some time ago.

[2022-02-02 16:15] mvdbeek opened #13294 "Expose non-sensitive job metrics via API"
A common request is that people would like to see a jobs' actual runtime (not just the total time between create_time and update_time) and possibly additional metrics like CPU and memory usage (if available). We don't expose this info to non-admins in https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/managers/jobs.py#L415, but I think we should probably list a few things that are clearly

[2022-02-02 16:35] elichad opened #13295 "YAML preview doesn't work in Firefox"
**Describe the bug**
#13168/#13176 added a text preview for the YAML filetype, but it doesn't work in Firefox. Firefox sees the intended mediatype, but still wants you to download it to view. Chrome allows you to preview the file in the Galaxy UI as intended.

**Galaxy Version and/or server at which you observed the bug**
Observed both on usegalaxy.eu `{"version_major": "21.09", "version_minor": "

[2022-02-02 17:33] nsoranzo commented on #12431
Fixed by https://github.com/galaxyproject/galaxy/pull/7960 .

[2022-02-02 17:33] #12431 closed

[2022-02-02 17:48] mvdbeek commented on #13295
Hmm, guess we need to set the mimetype to text/plain, that's unfortunate.

[2022-02-02 17:58] nsoranzo commented on #13295
Maybe forcing `Content-Disposition: inline` works? https://medium.com/@alfredpfrancis/how-to-force-files-to-open-in-the-browser-instead-of-downloading-95229d79d71e

[2022-02-02 18:18] ajs6f opened #13297 "Job tracking fails with `TypeError: expected string or bytes-like object`"
**Describe the bug**

Jobs sent to a cluster via the Univa connector successfully run (as checked on that cluster), but do not get tracked by Galaxy. Instead, the job goes into a "This job is currently running" state seemingly permanently. The logs show an endless cycle around a `TypeError: expected string or bytes-like object` message (log excerpts below).

**Galaxy Version and/or server at which

[2022-02-02 18:20] ajs6f commented on #13297
Here is the relevant `job_conf.xml`:
[code]

[2022-02-02 18:27] mvdbeek commented on #13297
Can you try this patch?
[code]

[2022-02-02 19:17] ajs6f commented on #13297
Marvelous, @mvdbeek, that seems to have done the trick! Please let me know if I can help get this into trunk or in some other way.

[2022-02-02 20:28] ajs6f opened #13298 "Job tracking fails with `TypeError: '>' not supported between instances of 'float' and 'NoneType'`"
**Describe the bug**
A job that actually fails to execute on the cluster to which it is submitted is not reported as such. Instead, it is reported as "currently running" and logs show a cycle around a `TypeError` in `univa.py` (as shown in log excerpts below). What is particularly weird is that the Galaxy log clearly shows the correct (failed) exit code from the job and the correct reason it faile

[2022-02-02 21:26] ajs6f commented on #13298
I have removed our ` job_metrics_conf.xml` because it was changed recently and I thought it might be part of this problem. The problem did indeed go away, but I did see several occurances in the log of
[code]
which already [seems to have been reported](https://github.com/galaxyproject/galaxy/issues/9987). I'm not sure whether this ticket is about a problem with the Univa connector or a problem wit

[2022-02-02 22:55] nsoranzo commented on #13297
Reopening for tracking purposes.

@ajs6f If you'd like, you could open a pull request with the change suggested targeting the `release_21.09` branch.

[2022-02-03 08:48] bernt-matthias commented on #13298
Can you add a log statement printing rv.resourceUsage in lib/galaxy/jobs/runners/univa.py?

Would be interesting for a single core job and a multi core job.

I can't test myself anymore since we moved to slurm.

[2022-02-03 14:48] ajs6f commented on #13297
@nsoranzo happy to so do sometime later today.

[2022-02-03 17:04] ajs6f commented on #13297
@nsoranzo I have a branch ready [here](https://github.com/Smithsonian/galaxy/tree/Fixfor13297), but for some reason I cannot seem to offer a PR against `release_21.09` as suggested [here](https://github.com/galaxyproject/galaxy/blob/dev/CONTRIBUTING.md); at least the GH UI doesn't offer it as a choice. Am I missing something? Should I send a PR against some other branch?

[2022-02-03 18:01] bgruening commented on #13266
and already done, :-)

Danke @jmchilton

[2022-02-03 18:01] #13266 closed

[2022-02-03 18:25] nsoranzo commented on #13297
@ajs6f You should be able to do it from https://github.com/galaxyproject/galaxy/compare/release_21.09...Smithsonian:Fixfor13297?expand=1

[2022-02-03 18:33] ajs6f commented on #13297
Yes, how strange that it did not let me select that from the menu... oh, well.

[2022-02-03 18:50] mvdbeek commented on #13247
Don't we have optional input datasets for that ? Seems like we could just add an option that prevents the user from being able to select a dataset

[2022-02-03 20:22] bgruening opened #13302 "crash in sorting collection with UnboundLocalError"
**Describe the bug**

[code]

I assume that no sorting type is specified: https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/tools/__init__.py#L3432

[2022-02-03 20:24] bgruening commented on #13302
Magic: https://sentry.galaxyproject.org/share/issue/673dad2cd8924337978e3acbec28f296/

[2022-02-03 23:16] bernt-matthias commented on #13277
This one gives me nightmares. Was reading a lot. And still have no idea how to deal with it... 😬

[2022-02-04 07:19] maikenp commented on #13256
Status after various iterations and testing:

We downgraded to 20.09 - when upgrading to 21.09 there were changes needed in the systemd configuration in the galaxy config. We reverted these, and set the system back to pre 21.09 install (as far as we know).

We still see the following, and do not understand why the behaviour is as it is.

## Jupyter notebooks
When running jupyter notebooks, and sto

[2022-02-04 09:20] mvdbeek opened #13303 "Create a slurm drmaa test setup"
We have a slurm (and openpbs) image in https://github.com/mvdbeek/galaxy-integration-docker-images that we use to run integration tests against the CLI job runners, we should figure out how we can connect these so they can be used to test the "native" slurm job runner. That would certainly help a lot in fixing things like (https://github.com/galaxyproject/galaxy/issues/13256)

[2022-02-04 09:52] mvdbeek opened #13305 "Figure out mod_zip / nginx_x_accel_redirect_base setup for S3 / iRODS"
I believe this is going to hit usegalaxy.org hard once we move storage to iRODS.
Something like https://stackoverflow.com/questions/44639182/nginx-proxy-amazon-s3-resources could possibly work

[2022-02-04 10:30] innovate-invent commented on #12385
It looks like the UI for this has significantly changed in 21.09.
I can now import paths from CVMFS by pasting the full path with file:// prefix.
I am not sure what direction the UI is going in and this issue may no longer be relevant.

[2022-02-04 11:05] mvdbeek opened #13306 "Version commmand may appear in command line"
Because we read in the generated command line in the metadata script now. I guess this isn't really correct, but also not a big deal.
Previously we had:
[code]
which is now
[code]

[2022-02-04 11:11] mvdbeek commented on #13306
Hmm, that probably also caused the interproscan failures, since the version command fails ...

[2022-02-04 11:31] bernt-matthias opened #13307 "Track only relevant changes to history dataset associations"
**Describe the bug**

The `history_dataset_association_history` (HDAH) table tracks changes of `history_dataset_assiciation` (HDA) changes. This is used in the job output caching (implemented in https://github.com/galaxyproject/galaxy/pull/4690).

It would be nice to add entries to HDAH only if relevant data in the HDA changes. Since HDAH stores `name`, `extension`, `metadata`, and `extended_metad

[2022-02-04 11:39] bernt-matthias opened #13308 "Cleanup history dataset association history"
**Describe the bug**

In particular due to the `metadata` the `history_dataset_assiciation_history` (HDAH) table can become huge. Its used in job caching.

It would be great to implement cleanup machanism:

1. regular cleanup of entries older than a threshold, e.g. with `pg_cleanup`, or
2. cleanup if the HDAH entry is not used anymore, i.e. if there is no (unpurged) output that has been produced b

[2022-02-04 11:39] maikenp commented on #13256
As requested in galaxy/gitter here is exceprt of log when a jupyter notebook is stopped via Active Interactive Tools list:

[code]

The job log reads:
[code]

[code]

[code]

[code]

[2022-02-04 11:57] maikenp commented on #13256
After applying the slurm patch suggested by  @mvdbeek  the jobs are green in history after they are stopped as expected. So it seems that patch did indeed do the trick.

The galaxy log now says:
[code]

[2022-02-04 12:46] bgruening commented on #13256
@maikenp please update to the latest commit of 21.09.

Thanks @mvdbeek

[2022-02-04 12:46] #13256 closed

[2022-02-04 15:10] mvdbeek commented on #13242
https://github.com/galaxyproject/galaxy/pull/13293 should fix the "nothing selected" issue in the run form.

I also looked into what it would take to build a select list of possible options as in your mockup in https://github.com/galaxyproject/galaxy/commit/1b3e4b5ca8d81d15e25d73621e20d23b8b2ccf95, but the issue is that we'd have to have access to the tool state of all connected output steps of yo

[2022-02-04 16:22] natefoo commented on #13305
Are you sure this is an issue? Files in iRODS are served from the object store cache, not directly from the backend, so I would expect the path returned in `x-accel-redirect` is a real path in the object store cache.

That said, now that we are starting to work with real object storage systems, it would be great to bypass the caching step for any operation that isn't needed for, but afaik nothing

[2022-02-04 16:28] mvdbeek commented on #13305
I'm not sure that's true, we just construct the path and pass it on in the headers. But even if we did stage the entire file into the cache area galaxy would block during that operation.

[2022-02-04 18:19] bgruening opened #13311 "crash in job scheduling"
I have a few jobs scheduled by Galaxy but not handed over to the scheduler, they show this stack trace.

[code]

sentry: https://sentry.galaxyproject.org/share/issue/f260379e712043cd8aa34dd4c6d9306f/

[2022-02-04 18:20] mvdbeek commented on #13311
These are tool states that don't match the tool. The traceback is noisy, but I don't think this is a bug.

[2022-02-04 18:21] mvdbeek commented on #13311
(in this case it's a float parameter that became a int)

[2022-02-04 18:22] bgruening commented on #13311
It should not crash, left? It should return an error at least and turn the job red. It stays gray at the moment.

[2022-02-04 18:24] mvdbeek commented on #13311
You sure that's not what is happening ?
https://github.com/galaxyproject/galaxy/blob/1b3e4b5ca8d81d15e25d73621e20d23b8b2ccf95/lib/galaxy/jobs/runners/__init__.py#L259

[2022-02-04 18:27] bgruening commented on #13311
I see it queued:

[code]

`40845175` is te ID from the traceback above. The condor ID is not assigned since it crashed before I think.

[2022-02-04 18:43] bgruening commented on #13311
More complete lifecycle of the job `40845175` https://gist.github.com/bgruening/58cf56610ae722bf6ace38a9f6f51d5b

[2022-02-04 18:52] mvdbeek commented on #13311
OK, yeah, I see it, we're failing in the fail method too.
That should fix it:
[code]

[2022-02-04 19:05] bgruening commented on #13311
I see the same errors in the handler logs after applying this patch :(

[2022-02-04 19:22] mvdbeek commented on #13311
You sure that's exactly the same?

[2022-02-04 19:50] bgruening commented on #13311
[code]

looks like it

[2022-02-04 20:13] bgruening commented on #13311
Ok, but after that crash, the jobs disappeared from the list. So I think that is ok?

[2022-02-05 14:41] mvdbeek commented on #13242
Looks like we could possibly solve this on the client side, since it should always have the correct state:
<img width="314" alt="Screenshot 2022-02-05 at 15 34 55" src="https://user-images.githubusercontent.com/6804901/152646180-696c6e33-af91-4091-b293-a31dfb192f1f.png">
I'll have to test this out some more (do we disconnect when options aren't valid anymore?), but first tests seem promising.

htt

[2022-02-05 18:04] bgruening commented on #13242
Ah this is cool!

[2022-02-06 17:11] ic4f commented on #9649
There are several ways to implement this, and before I move any further, I'd like to ask for some feedback.

There will be a configuration option (on/off) to expose the built-in converters - that's the simple part. What I'm not sure about is how they should be displayed. There are 148 built-in converters, so, I think, displaying them requires a collapsible menu - same as the other tool sections.

[2022-02-06 17:20] mvdbeek commented on #9649
Yes, loading them in a tool section seems fine. But where'd you get that number from ?
I'm counting 60 that are currently loaded:
`ack converter config/datatypes_conf.xml.sample|ack 'file="(.*?)"' --output '$1'|sort|uniq|wc -l`

[2022-02-06 23:28] ic4f commented on #9649
Oh yes, 60 (I was using the wrong data - unfiltered output from `api/datatypes/converters`).

So I'll add them as a tool section, so they'll be displayed together with the other tool sections (not separately like Workflows). Thanks!

[2022-02-07 10:22] mvdbeek commented on #13311
I think so. Did job and dataset end up in the error state ?

[2022-02-07 10:42] bernt-matthias commented on #13277
Plan:

- remove storing filename at the node .. then we also do not need to copy the node when inserting macro
- return macros paths together with the lint context and store tag + attributes in the lint message (this way external applications should be able which file a line number refers to).

[2022-02-07 14:28] bgruening commented on #13311
[code]
In the end it was an error.

[2022-02-07 15:12] #13311 closed

[2022-02-07 17:10] ajs6f commented on #13298
Thanks, can you please give me a more precise suggestion? Where in `univa.py` would be a good place to insert this? I'm not a Python programmer and am very much "flying by instrument".

I cannot yet try this on different single- vs. multi-core jobs because we do not yet have reliable operation at all (many segfaults out of Python, perhaps half our tasks complete at all). If (hopefully when) we can

[2022-02-07 19:54] astrovsky01 opened #13319 "Release testing 22.01"
This is a list of tests being performed on the release of 22.01. It is intended as a way for the community and team to view and participate in the testing should they wish to. As tests are completed, please click the checkbox next to it.

For each test, please check against a local instance, all public instances, as well as cloud instances and Anvil, if possible and reasonable.

For failed tests o

[2022-02-07 21:18] assuntad23 opened #13320 "Issue to Discuss Search in Help Menu"
**Describe the bug**
@nekrut requested that I create an issue to discuss removing the "Search" option from the Help Menu

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01 usegalaxy.org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Help tab, and select "Search" From Dropdown
2. Brings you to usegalaxy Search function

**Expected behavior**
This does

[2022-02-07 22:02] assuntad23 opened #13321 "Issue to Discuss Interactive Tours in Help Menu"
**Describe the bug**
@nekrut requested that I create an issue to discuss removing the "Interactive Tours" option from the Help Menu

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01 usegalaxy.org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Help tab, and select "Interactive Tours" from dropdown
2. Brings you to list of avaiable interactive tours o

[2022-02-07 22:12] dannon commented on #13321
Maybe instead of removal, just a config option to enable/disable the feature?  Some instances may use these.

[2022-02-07 22:15] bgruening commented on #13321
We need to make them shine, not hide them. But I understand that we don't have the capacity for that now.

[2022-02-08 08:52] bernt-matthias commented on #13298
This would be about here https://github.com/galaxyproject/galaxy/blob/931d195c8aa6458fd7cffe8d47abebb279f3ee21/lib/galaxy/jobs/runners/univa.py#L76

Can you also post the content of your `job_conf.xml`?

[2022-02-08 14:21] hexylena commented on #13319
For those testing with Tapas in mind, we'll be using all of the above, minus:
- searching
- understanding history
- group tags
- multisample
- name tags
- intermine
- Workflow parameters,  downloading/deleting

because there aren't videos for those currently. (That's welcome to change.)

[2022-02-08 14:53] #10614 closed

[2022-02-08 14:54] dannon commented on #10614
Can reopen if this pops back up, but it seems fixed.

[2022-02-08 16:14] assuntad23 commented on #13321
Without the capacity right now, perhaps we should just remove them from the menu.
One day, when the availability is there, we can make them more robust.

[2022-02-08 18:10] astrovsky01 opened #13327 "Explicit docker image caching"
When using an explicit docker image in a tool, the default is currently to convert to singluarity with every run, no matter the size of the image. There is a mechanism for caching these containers, but it is off by default.

https://github.com/guerler/galaxy/blob/1833daf4d94d526787dbf57d3e48c8f7929b0f92/lib/galaxy/tool_util/deps/container_resolvers/explicit.py#L59

Would it be best to switch to on

[2022-02-08 18:38] ajs6f commented on #13298
Thanks, I will try to get some logging going. I'm currently engaged on your Gitter site trying to get through the aforementioned segfaults, so it may be a little while. In the meantime, I'll include our `job_conf.xml` below.

[code]

[2022-02-08 19:20] dannon opened #13328 "API Key UI Enhancement"
Field is currently disabled for editing, and difficult to select to copy the API key out of.  Here's what it looks like now:

![image](https://user-images.githubusercontent.com/155398/153060181-5d805341-ead5-4d4b-8af6-b3d865266088.png)

It shouldn't be editable, but there's no reason it should be unselectable.  Most people visiting this page will want to select that key and then do something with

[2022-02-08 19:36] nsoranzo opened #13329 "Replace conda with mamba"
[Mamba](https://mamba.readthedocs.io/) is an alternative package manager which is fully compatible with conda packages and supports most of conda’s commands.
Conda has sometimes issues when resolving requirements that cause it to stall for hours or just fail. Mamba has proved to be able to resolve the same requirements amazingly quickly and reliably for quite some time now, so I think it's time we

[2022-02-08 21:59] bgruening commented on #13329
The mamba solver will be integrated into conda soon. Bioconda has decided to wait for this integration instead of switching to mamba.

[2022-02-08 22:20] afgane opened #13331 "Export history link requires authentication"
**Describe the bug**
Exporting a history and obtaining a link to the archive yields a link that requires authentication to obtain, which used to not be the case. The URL structure of the link also changed from release 21.09, which is likely to break downstream scripts and libraries.

**Galaxy Version and/or server at which you observed the bug**
Galaxy Version: 22.01 rc1
usegalaxy.org

**To Reprod

[2022-02-08 22:22] dannon commented on #13331
xref https://github.com/galaxyproject/galaxy/pull/13330 ?

[2022-02-09 09:57] bernt-matthias commented on #13298
I see. So you don't use `nativeSpecification` in the UGE destination.

[code]

which might be fine if you do not need to specify it for your cluster. Unfortunately the univa runner in Galaxy currently assumes that you have nativeSpecification.

I guess it's easy to fix, but I'm not sure how soon I can find time for it.

Maybe you could try what happens if you add a mock `nativeSpecification` to yo

[2022-02-09 10:37] nsoranzo commented on #13329
@bgruening Nice to know! The integration seems to be currently tracked at https://github.com/conda/conda/milestone/53 . Not sure how long it will take to become the default though.

[2022-02-09 11:31] mvdbeek opened #13336 "Publish galaxy client on npm"
We discussed this yesterday at the UI/UX meeting. It would be fantastic if we could publish the core Galaxy client on npm. This would speed up deployments dramatically (if the client has to be rebuilt that takes 20-30 minutes on main currently), it would make `planemo serve` much faster, it would be much more convenient for a pip-installable galaxy and most importantly we had multiple requests for

[2022-02-09 11:45] mvdbeek opened #13337 "Invocations that that target a workflow instance should invoke the specified workflow, not the latest version"
I don't think we should discard the request like we do in

https://github.com/galaxyproject/galaxy/blob/931d195c8aa6458fd7cffe8d47abebb279f3ee21/lib/galaxy/webapps/galaxy/api/workflows.py#L804-L806

[2022-02-09 12:02] mvdbeek opened #13338 "Return number of loaded tools in toolbox reload endpoint"
We've had some issues in the past with partial toolbox reloads. It would be nice to return the number of currently loaded tools when hitting `curl -X PUT http://localhost:8080/api/configuration/toolbox -H "x-api-key: $GALAXY_API_KEY"`.

That same response could also be returned by `curl -X GET http://localhost:8080/api/configuration/toolbox -H "x-api-key: $GALAXY_API_KEY"` if you just wanna check

[2022-02-09 12:07] hexylena opened #13339 "[Feature Request/Planning] Public statistics api page for galaxies"
A bunch of Galaxies do individual, different things for collecting stats they display to users, and some of this is calculated 15 different ways currently and could be made more uniform. I'd like to propose `/api/stats` that provides a (heavily cached)  response giving some basic details about the server.

- This would be opt-in to enable
- And should only show basic statistics.
	- But maybe we ca

[2022-02-09 12:51] bgruening commented on #13329
See also: https://github.com/conda/conda/pull/11193

[2022-02-09 13:25] dannon commented on #13336
xref https://github.com/galaxyproject/galaxy-visualizations, which has some precursor work exploring how we can break some of these out and have separate packages published.

[2022-02-09 13:57] afgane commented on #13331
The linked PR looks like will fix this. How about the URL structure change?

For 21.09, archive links looked like this: https://usegalaxy.eu/history/export_archive?id=afa89b481b0a428b&jeha_id=f039d45b0ad5a177

For 22.01, the links look like this: https://usegalaxy.org/api/histories/151d6e763c0120a5/exports/1402f20d44f9f5ba

Won'

[2022-02-09 14:14] #12622 closed

[2022-02-09 14:45] mvdbeek commented on #13331
The archives should be rotated out of the temp dir on a frequent basis,  so this has never been a stable link. I don't think we need to maintain the URL. Also the export endpoint returns the URL where you can download the archive, so it shouldn't break external scripts.

[2022-02-09 14:54] afgane commented on #13331
| ... so it shouldn't break external scripts.
Just ask @ksuderman :joy:

I didn't know the exported archive URLs expire. I'm glad I found out because we were planning on using them in documentation so we won't be doing that.

What's the reasoning behind expiring the archive URLs? How often, or after what amount of time do they expire? Is this a configurable option for a server?

[2022-02-09 15:19] mvdbeek commented on #13331
You don't want to keep the archive forever, those can be quite large. `pg_cleanup.py` deletes these on the large public instances IIRC. That said I am wrong, we don't return the download url in the response, we expect the client to build the URL. We can probably add a fallback route.

[2022-02-09 15:38] ksuderman commented on #13331
How frequent is frequent?  I was under the impression that this was the preferred method to share histories between Galaxy instances.  This feels like purging user histories when the user hasn't selected "Purge My Histories".  Do these files not count towards the user's quota?

Which is a good reason not to change how those URL are built 😉 . The people I share a URL with don't have access to call

[2022-02-09 15:44] mvdbeek commented on #13331
14 days ? 28 days ? Depends on the site policy, here's the script https://github.com/galaxyproject/galaxy/blob/dev/scripts/cleanup_datasets/pgcleanup.py#L1005. It is the preferred way to share between Galaxy instances, but we can't keep these forever, and it's not the most obvious assumption that we would keep the link forever

[2022-02-09 16:04] mvdbeek commented on #13331
Which is possible right from the history export dialog for writable file sources configured on the instance
<img width="1813" alt="Screenshot 2022-02-09 at 17 03 39" src="https://user-images.githubusercontent.com/6804901/153240188-a63d85a4-b816-4df5-8a60-c0ee16e82903.png">